{% extends "common/base.twig" %}

{% block body_mod %}is-header-gap-none{% endblock %}
{% block body %}
    <div class="list-sections">
        <div class="list-sections__list">
            <div class="list-sections__list-item list-sections__list-item_article">
                <div class="article">
                    <div class="article__intro" style="background-image: url('http://placehold.it/1920x430')">
                        <div class="article__nav">
                            {% set links = [{
                                title:'Главная',
                                url:'#',
                            },{
                                title:'Продукция',
                                url:'#',
                            },{
                                title:'Продукция',
                                url:'#',
                            }] %}
                            <div class="article__nav-side">
                                <div class="article__nav-title">
                                    Стеклопакеты
                                </div>
                            </div>
                            <div class="article__nav-main">
                                <div class="article__nav-list">
                                    {% for link in links %}
                                        <div class="article__nav-item">
                                            <a href="{{ link.url }}" class="article__nav-link">{{ link.title }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="article__content block">
                        <div class="article__content-wrapper block-wrapper">
                            <p>Светопрозрачная конструкция строительного назначения из двух и более стёкол, скреплённых (склеенных) между собой по контуру с помощью дистанционных рамок и герметиков. Предназначение стеклопакета как замены обычных стёкол — в повышении сопротивления теплопередачи окна,
                                поскольку воздух и некоторые другие газы плохо пропускают тепло. </p>
                            <p>
                                Метод скрепления стёкол — бутиловый герметик и металлическая или пластиковая дистанционная рамка. Пластиковая рамка незначительно повышает сопротивление теплопередаче. Конструкция стеклопакета закрепляется тиоколом или другим подходящим герметиком. Между стеклами
                                часто находится воздух, однако для улучшения характеристик сопротивления теплопередаче внутрь стеклопакета закачивают другие газы, имеющие меньшую теплопроводность — углекислый газ, аргон, ксенон и их смеси. Например, аргон не только повышает теплоизоляцию, но и
                                положительно влияет на шумоизоляцию. Главное качество стеклопакетов с аргоном заключается в том, что они не только сохраняют тепло в помещении в холодное время года, но и поддерживают в нем комфортную температуру в жаркое время. Существует технология по изготовлению
                                стеклопакетов с вакуумной прослойкой, но она достаточно редка. При такой технологии два стекла отстоят друг от друга на расстоянии менее миллиметра, а для предотвращения их слипания между стёклами находятся распорки.
                            </p>
                            <h2>Конструкция</h2>
                            <blockquote>
                                Метод скрепления стёкол — бутиловый герметик и металлическая или пластиковая дистанционная рамка. Пластиковая рамка незначительно повышает сопротивление теплопередаче. Конструкция стеклопакета закрепляется тиоколом или другим подходящим герметиком.
                            </blockquote>
                            <p>
                            <div class="wide-img">
                                <img src="http://placehold.it/1016x552" alt="">
                            </div>
                            </p>
                            <p>
                            <ul>
                                <li>Метод скрепления стёкол — бутиловый герметик и металлическая или пластиковая дистанционная рамка. Пластиковая рамка незначительно повышает сопротивление теплопередаче</li>
                                <li>Метод скрепления стёкол — бутиловый герметик и металлическая или пластиковая дистанционная рамка. Пластиковая рамка незначительно повышает сопротивление теплопередаче.</li>
                            </ul>
                            <p>
                            <div js-toggle-text class="toggle-text">
                                <div js-toggle-text-action class="toggle-text__side">
                                    Главное качество стеклопакетов
                                </div>
                                <div class="toggle-text__main">
                                    Метод скрепления стёкол — бутиловый герметик и металлическая или пластиковая дистанционная рамка. Пластиковая рамка незначительно повышает сопротивление теплопередаче. Конструкция стеклопакета закрепляется тиоколом или другим подходящим герметиком. Между стеклами
                                    часто находится воздух, однако для улучшения характеристик сопротивления теплопередаче внутрь стеклопакета закачивают другие газы, имеющие меньшую теплопроводность — углекислый газ, аргон, ксенон и их смеси. Например, аргон не только повышает теплоизоляцию, но и
                                    положительно влияет на шумоизоляцию.
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item">
                <div class="info-cols info-cols_person info-cols_simple info-cols_bordered info-cols_padding-top_large block">
                    <div class="info-cols__wrapper block-wrapper">
                        <div class="info-cols__list">
                            <div class="info-cols__list-item info-cols__list-item_img">
                                <div class="info-cols__img info-cols__img_small">
                                    <img src="images/woman.png" alt="">
                                </div>
                            </div>
                            <div class="info-cols__list-item info-cols__list-item_desc">
                                <div class="info-cols__major">
                                    <div class="info-cols__title">
                                        Помочь в выборе окна?
                                    </div>
                                </div>
                                <div class="info-cols__side">
                                    <div class="header-middle__actions">
                                        <div class="header-middle__action-item">
                                            <div class="header-middle__callback">
                                                <button class="button">
                                                    <span class="button__content">
                                                        <span class="button__title">
                                                         Заказать консультацию
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="header-middle__actions-item">
                                            <a href="tel:+79520074578" class="header-middle__phone">
                                                <sup class="code">(38-52)</sup> 61-61-68
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item">
                <div class="steps block">
                    <div class="steps__wrapper block-wrapper">
                        <div class="steps__title">
                            Разобраться самостоятельно
                        </div>
                        <div class="steps__desc">
                            Окно — технически сложная конструкция, поэтому самостоятельно разбраться в деталях и сделать правильный выбор для большинства людей задача не простая. Мы попытались кратко и понятно рассказать вам о каждом элементе окна, чтобы вы обладали основными знаниями и чувствовали
                            себя уверенно.
                        </div>
                        <div class="steps__list">

                            <div class="steps__list-item">
                                <div class="steps-item">
                                    <div class="steps-item__wrapper">
                                        <div class="steps-item__title">
                                            1.
                                        </div>
                                        <div class="steps-item__desc">
                                            <div class="steps-item__desc-caption">
                                                Профиль
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="steps__list-item">
                                <div class="steps-item">
                                    <div class="steps-item__wrapper">
                                        <div class="steps-item__title">
                                            2.
                                        </div>
                                        <div class="steps-item__desc">
                                            <div class="steps-item__desc-caption">
                                                Стеклопакет
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="steps__list-item">
                                <div class="steps-item">
                                    <div class="steps-item__wrapper">
                                        <div class="steps-item__title">
                                            3.
                                        </div>
                                        <div class="steps-item__desc">
                                            <div class="steps-item__desc-caption">
                                                Фурнитура
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="steps__list-item">
                                <div class="steps-item">
                                    <div class="steps-item__wrapper">
                                        <div class="steps-item__title">
                                            4.
                                        </div>
                                        <div class="steps-item__desc">
                                            <div class="steps-item__desc-caption">
                                                Цвет
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="steps__list-item">
                                <div class="steps-item">
                                    <div class="steps-item__wrapper">
                                        <div class="steps-item__title">
                                            5.
                                        </div>
                                        <div class="steps-item__desc">
                                            <div class="steps-item__desc-caption">
                                                Расчет  стоимости
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="steps__list-item">
                                <div class="steps-item">
                                    <div class="steps-item__wrapper">
                                        <div class="steps-item__title">
                                            6.
                                        </div>
                                        <div class="steps-item__desc">
                                            <div class="steps-item__desc-caption">
                                                Монтаж
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
