{% extends "common/base.twig" %}
{% block body_mod %}is-header-normal{% endblock %}
{% block body %}
    <div class="list-sections">
        <div class="list-sections__list">
            <div class="list-sections__list-item list-sections__list-item_calc">
                <div class="calc block">
                    <div class="calc__wrapper block-wrapper">
                        <div class="calc__major">
                            <div class="calc__title">Калькулятор</div>
                            <div class="calc__tabs">
                                <div class="calc__tabs-item calc__tabs-item_active">
                                    <div class="calc__tabs-caption">
                                        Пластиковые окна
                                    </div>
                                </div>
                                <div class="calc__tabs-item">
                                    <div class="calc__tabs-caption">
                                        Остекление балкона
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="calc__minor">
                            <div class="calc__minor-wrapper">
                                <div class="calc__main">
                                    <div class="calc__page">
                                        <div class="calc-group calc__group">
                                            <div class="calc-group__main">
                                                <div class="windows">
                                                    <input type="text" value="1" hidden js-window-input>
                                                    <div js-windows class="windows__list">
                                                        <div class="windows__list-item">
                                                            <div js-windows-item class="windows-item">
                                                                <div class="windows-item__side">
                                                                    <div js-windows-img-main-box class="windows-item__img is-active">
                                                                        <div js-img data-id="1">
                                                                            <img src="images/win1-1.jpg">
                                                                        </div>
                                                                    </div>
                                                                    <div class="windows-item__link"></div>
                                                                </div>
                                                                <div class="windows-item__main">
                                                                    <div class="windows-item__list">
                                                                        <div class="windows-item__list-item">
                                                                            <div class="windows-item__list-item">
                                                                                <div js-windows-img-additional-box class="windows-item__img is-active">
                                                                                    <div js-img data-id="1">
                                                                                        <img src="images/win1-1.jpg">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="windows-item__list-item">
                                                                            <div js-windows-img-additional-box class="windows-item__img">
                                                                                <div js-img data-id="2">
                                                                                    <img src="images/win1-2.jpg">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="windows__list-item">
                                                            <div js-windows-item class="windows-item">
                                                                <div class="windows-item__side">
                                                                    <div js-windows-img-main-box class="windows-item__img">
                                                                        <div js-img data-id="3">
                                                                            <img src="images/win2-1.jpg">
                                                                        </div>
                                                                    </div>
                                                                    <div class="windows-item__link"></div>
                                                                </div>
                                                                <div class="windows-item__main windows-item__main_2">
                                                                    <div class="windows-item__list">
                                                                        <div class="windows-item__list-item">
                                                                            <div js-windows-img-additional-box class="windows-item__img">
                                                                                <div js-img data-id="3">
                                                                                    <img src="images/win2-1.jpg">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="windows-item__list-item">
                                                                            <div js-windows-img-additional-box class="windows-item__img">
                                                                                <div js-img data-id="4">
                                                                                    <img src="images/win2-2.jpg">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="windows-item__list-item">
                                                                            <div js-windows-img-additional-box class="windows-item__img">
                                                                                <div js-img data-id="5">
                                                                                    <img src="images/win2-3.png">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="windows__list-item">
                                                            <div js-windows-item class="windows-item">
                                                                <div class="windows-item__side">
                                                                    <div js-windows-img-main-box class="windows-item__img">
                                                                        <div js-img data-id="6">
                                                                            <img src="images/win3-1.jpg">
                                                                        </div>
                                                                    </div>
                                                                    <div class="windows-item__link"></div>
                                                                </div>
                                                                <div class="windows-item__main windows-item__main_3">
                                                                    <div class="windows-item__list">
                                                                        <div class="windows-item__list-item">
                                                                            <div js-windows-img-additional-box class="windows-item__img">
                                                                                <div js-img data-id="6">
                                                                                    <img src="images/win3-1.jpg">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="windows-item__list-item">
                                                                            <div js-windows-img-additional-box class="windows-item__img">
                                                                                <div js-img data-id="7">
                                                                                    <img src="images/win3-2.jpg">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="windows-item__list-item">
                                                                            <div js-windows-img-additional-box class="windows-item__img">
                                                                                <div js-img data-id="8">
                                                                                    <img src="images/win3-3.jpg">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="windows__list-item">
                                                            <div js-windows-item class="windows-item windows-item_single">
                                                                <div class="windows-item__side">
                                                                    <div js-windows-img-main-box class="windows-item__img">
                                                                        <div js-img data-id="9">
                                                                            <img src="images/win4.jpg">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="calc-group calc__group">
                                            <div class="calc-group__side">
                                                <div class="calc-group__title">
                                                    Тип окна
                                                </div>
                                            </div>
                                            <div class="calc-group__main">
                                                <div class="fields-group">
                                                    <div class="fields-group__item">
                                                        <div class="fields-group__item-left">
                                                            <div class="fields-group__title">
                                                                Ширина окна
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-middle">
                                                            <div class="fields-item fields-item_small">
                                                                <div class="fields-item__wrapper">
                                                                    <div class="fields-item__side">
                                                                        <div class="field">
                                                                            <input type="number" class="field__input">
                                                                        </div>
                                                                    </div>
                                                                    <div class="fields-item__main">
                                                                        <div class="fields-item__caption">
                                                                            мм
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fields-group__item">
                                                        <div class="fields-group__item-left">
                                                            <div class="fields-group__title">
                                                                Высота окна
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-middle">
                                                            <div class="fields-item fields-item_small">
                                                                <div class="fields-item__wrapper">
                                                                    <div class="fields-item__side">
                                                                        <div class="field">
                                                                            <input type="number" class="field__input">
                                                                        </div>
                                                                    </div>
                                                                    <div class="fields-item__main">
                                                                        <div class="fields-item__caption">
                                                                            мм
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fields-group__item">
                                                        <div class="fields-group__item-left">
                                                            <div class="fields-group__title">
                                                                Ширина створки
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-middle">
                                                            <div class="fields-item fields-item_small">
                                                                <div class="fields-item__wrapper">
                                                                    <div class="fields-item__side">
                                                                        <div class="field">
                                                                            <input type="number" class="field__input">
                                                                        </div>
                                                                    </div>
                                                                    <div class="fields-item__main">
                                                                        <div class="fields-item__caption">
                                                                            мм
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="calc-group calc__group">
                                            <div class="calc-group__side">
                                                <div class="calc-group__title">
                                                    Параметры
                                                </div>
                                            </div>
                                            <div class="calc-group__main">
                                                <div class="fields-group">
                                                    <div class="fields-group__item">
                                                        <div class="fields-group__item-left">
                                                            <div class="fields-group__title">
                                                                Профиль
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-middle">
                                                            <div class="fields-item">
                                                                <div class="fields-item__wrapper">
                                                                    <div class="fields-item__side">
                                                                        <select class="fancy-select">
                                                                            <option value="0" selected>Выберите</option>
                                                                            <option value="1">Опция 1</option>
                                                                            <option value="2">Опция 2</option>
                                                                            <option value="3">Опция 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-right">
                                                            <a href="#" target="_blank" class="link link_blue">Подробнее о профильных системах</a>
                                                        </div>
                                                    </div>
                                                    <div class="fields-group__item">
                                                        <div class="fields-group__item-left">
                                                            <div class="fields-group__title">
                                                                Стеклопакет
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-middle">
                                                            <div class="fields-item">
                                                                <div class="fields-item__wrapper">
                                                                    <div class="fields-item__side">
                                                                        <select class="fancy-select">
                                                                            <option value="0" selected>Выберите</option>
                                                                            <option value="1">Опция 1</option>
                                                                            <option value="2">Опция 2</option>
                                                                            <option value="3">Опция 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fields-group__item">
                                                        <div class="fields-group__item-left">
                                                            <div class="fields-group__title">
                                                                Кашировка
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-middle">
                                                            <div class="fields-item">
                                                                <div class="fields-item__wrapper">
                                                                    <div class="fields-item__side">
                                                                        <select class="fancy-select">
                                                                            <option value="0" selected>Выберите</option>
                                                                            <option value="1">Опция 1</option>
                                                                            <option value="2">Опция 2</option>
                                                                            <option value="3">Опция 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fields-group__item">
                                                        <div class="fields-group__item-left">
                                                            <div class="fields-group__title">
                                                                Тонировка
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-middle">
                                                            <div class="fields-item">
                                                                <div class="fields-item__wrapper">
                                                                    <div class="fields-item__side">
                                                                        <select class="fancy-select">
                                                                            <option value="0" selected>Выберите</option>
                                                                            <option value="1">Опция 1</option>
                                                                            <option value="2">Опция 2</option>
                                                                            <option value="3">Опция 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="calc-group calc__group calc__group_gap_small">
                                            <div class="calc-group__side">
                                                <div class="calc-group__title">
                                                    Монтаж и отделка
                                                </div>
                                            </div>
                                            <div class="calc-group__main">
                                                <div class="fields-group">
                                                    <div class="fields-group__item">
                                                        <div class="fields-group__item-left">
                                                            <div class="fields-group__title">
                                                                Монтаж
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-middle">
                                                            <div class="fields-item">
                                                                <div class="fields-item__wrapper">
                                                                    <div class="fields-item__side">
                                                                        <select class="fancy-select">
                                                                            <option value="0" selected>Выберите</option>
                                                                            <option value="1">Опция 1</option>
                                                                            <option value="2">Опция 2</option>
                                                                            <option value="3">Опция 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fields-group__item">
                                                        <div class="fields-group__item-left">
                                                            <div class="fields-group__title">
                                                                Подоконник
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-middle">
                                                            <div class="fields-item">
                                                                <div class="fields-item__wrapper">
                                                                    <div class="fields-item__side">
                                                                        <select class="fancy-select">
                                                                            <option value="0" selected>Выберите</option>
                                                                            <option value="1">Опция 1</option>
                                                                            <option value="2">Опция 2</option>
                                                                            <option value="3">Опция 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fields-group__item">
                                                        <div class="fields-group__item-left">
                                                            <div class="fields-group__title">
                                                                Тип дома
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-middle">
                                                            <div class="fields-item">
                                                                <div class="fields-item__wrapper">
                                                                    <div class="fields-item__side">
                                                                        <select class="fancy-select">
                                                                            <option value="0" selected>Выберите</option>
                                                                            <option value="1">Опция 1</option>
                                                                            <option value="2">Опция 2</option>
                                                                            <option value="3">Опция 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fields-group__item">
                                                        <div class="fields-group__item-left">
                                                            <div class="fields-group__title">
                                                                Отделка откосов
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-middle">
                                                            <div class="fields-item">
                                                                <div class="fields-item__wrapper">
                                                                    <div class="fields-item__side">
                                                                        <select class="fancy-select">
                                                                            <option value="0" selected>Выберите</option>
                                                                            <option value="1">Опция 1</option>
                                                                            <option value="2">Опция 2</option>
                                                                            <option value="3">Опция 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fields-group__item">
                                                        <div class="fields-group__item-left">
                                                            <div class="fields-group__title">
                                                                Наружний слив
                                                            </div>
                                                        </div>
                                                        <div class="fields-group__item-middle">
                                                            <div class="fields-item">
                                                                <div class="fields-item__wrapper">
                                                                    <div class="fields-item__side">
                                                                        <select class="fancy-select">
                                                                            <option value="0" selected>Выберите</option>
                                                                            <option value="1">Опция 1</option>
                                                                            <option value="2">Опция 2</option>
                                                                            <option value="3">Опция 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="calc-group calc__group">
                                            <div class="calc-group__side calc-group__side_center">
                                                <div class="calc-group__title calc-group__title_center">
                                                    <button class="button">
                                                        <span class="button__content">
                                                            <span class="button__title">Рассчитать стоимость</span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="calc-group__main">
                                                <div class="calc-total">
                                                    <div class="calc-total__wrapper">
                                                        <div class="calc-total__item">
                                                            <div class="calc-total__item-major">
                                                                <div class="calc-total__item-main">
                                                                    <div class="calc-total__name">
                                                                        Изделие
                                                                    </div>
                                                                </div>
                                                                <div class="calc-total__item-delimiter"></div>
                                                                <div class="calc-total__item-side">
                                                                    <div class="calc-total__sum">
                                                                        8500 ₽
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="calc-total__item-minor">
                                                                <div class="calc-total__item-desc">
                                                                    С учетом скидки 15 %. Ваша экономия 1500 ₽. Максимальная скидка 20 %, распространяется на изделие с монтажом и отделкой.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="calc-total__item">
                                                            <div class="calc-total__item-major">
                                                                <div class="calc-total__item-main">
                                                                    <div class="calc-total__name">
                                                                        Монтаж
                                                                    </div>
                                                                </div>
                                                                <div class="calc-total__item-delimiter"></div>
                                                                <div class="calc-total__item-side">
                                                                    <div class="calc-total__sum">
                                                                        8500 ₽
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="calc-total__item">
                                                            <div class="calc-total__item-major">
                                                                <div class="calc-total__item-main">
                                                                    <div class="calc-total__name">
                                                                        Отделка
                                                                    </div>
                                                                </div>
                                                                <div class="calc-total__item-delimiter"></div>
                                                                <div class="calc-total__item-side">
                                                                    <div class="calc-total__sum">
                                                                        8500 ₽
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="calc-total__item calc-total__item_total">
                                                            <div class="calc-total__item-major">
                                                                <div class="calc-total__item-main">
                                                                    <div class="calc-total__name">
                                                                        Итого
                                                                    </div>
                                                                </div>
                                                                <div class="calc-total__item-delimiter"></div>
                                                                <div class="calc-total__item-side">
                                                                    <div class="calc-total__sum">
                                                                        24 000 ₽
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="calc-total__item calc-total__item_action">
                                                            <div class="calc-total__action">
                                                                <div class="calc-total__action-main">
                                                                    <button class="button button_full">
                                                                        <span class="button__content">
                                                                            <span class="button__title">Добавить в заказ</span>
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                                <div class="calc-total__action-side">
                                                                    <div class="calc-total__item-desc">
                                                                        Не является публичной офертой, точная стоимость будет обозначена менеджером с учетом актуальных условий и акций.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="calc__side">
                                    <div class="calc__panel">
                                        <div class="calc__panel-wrapper">
                                            <div class="calc__info calc__info_filled">
                                                <form action="#" class="calc-info">
                                                    <div class="calc-info__header">Ваш заказ</div>
                                                    <div class="calc-info__body">
                                                        <div class="calc-info__orders">
                                                            <div class="calc-info__orders-item">
                                                                <div class="calc-info__order">
                                                                    <div class="calc-info__order-wrapper">
                                                                        <div class="calc-info__order-main">
                                                                            <div class="calc-info__order-title">
                                                                                1. Salamander Streamline
                                                                            </div>
                                                                            <div class="calc-info__order-desc">
                                                                                1350 × 1400 мм, монтаж, отделка
                                                                            </div>
                                                                            <div class="calc-info__order-price">
                                                                                8 000 ₽
                                                                            </div>
                                                                        </div>
                                                                        <div class="calc-info__order-side">
                                                                            <div class="calc-info__order-close"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="calc-info__orders-item">
                                                                <div class="calc-info__order">
                                                                    <div class="calc-info__order-wrapper">
                                                                        <div class="calc-info__order-main">
                                                                            <div class="calc-info__order-title">
                                                                                1. Salamander Streamline
                                                                            </div>
                                                                            <div class="calc-info__order-desc">
                                                                                1350 × 1400 мм, монтаж, отделка
                                                                            </div>
                                                                            <div class="calc-info__order-price">
                                                                                8 000 ₽
                                                                            </div>
                                                                        </div>
                                                                        <div class="calc-info__order-side">
                                                                            <div class="calc-info__order-close"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="calc-info__total">
                                                            <div class="calc-info__total-wrapper">
                                                                <div class="calc-info__total-side">Итого</div>
                                                                <div class="calc-info__total-delimiter"></div>
                                                                <div class="calc-info__total-main">28 000 ₽</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="calc-info__footer">
                                                        <div class="calc-info__action">
                                                            <div class="calc-info__action-main">
                                                                <div class="calc-info__input">
                                                                    <div class="calc-info__input-side">
                                                                        Ваш телефон
                                                                    </div>
                                                                    <div class="calc-info__input-main">
                                                                        <label js-inputShadow class="field">
                                                                            <span class="field__error"></span>
                                                                            <input js-phonemask data-is-inputmask="true" required type="phone" name="phone" class="field__input">

                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="calc-info__action-side">
                                                                <button type="submit" class="button button_full">
                                                                    <span class="button__content">
                                                                        <span class="button__title">
                                                                            Отправить заявку
                                                                        </span>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <div style="height: 32px"></div>
                                            <div class="calc__info calc__info_empty">
                                                <form action="#" class="calc-info">
                                                    <div class="calc-info__header">Ваш заказ</div>
                                                    <div class="calc-info__body">
                                                        <div class="calc-info__desc">
                                                            Вы еще ничего не выбрали. Сделайте расчет изделия и добавьте его в заказ. Если возникли вопросы, оставьте нам свой телефон:
                                                        </div>
                                                    </div>
                                                    <div class="calc-info__footer">
                                                        <div class="calc-info__action">
                                                            <div class="calc-info__action-main">
                                                                <div class="calc-info__input">
                                                                    <div class="calc-info__input-side">
                                                                        Ваш телефон
                                                                    </div>
                                                                    <div class="calc-info__input-main">
                                                                        <label js-inputShadow class="field">
                                                                            <span class="field__error"></span>
                                                                            <input js-phonemask data-is-inputmask="true" required type="phone" name="phone" class="field__input">

                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="calc-info__action-side">
                                                                <button type="submit" class="button button_full">
                                                                    <span class="button__content">
                                                                        <span class="button__title">
                                                                            Заказать звонок
                                                                        </span>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
