{% extends "common/base.twig" %}

{% block body_mod %}{% endblock %}
{% block body %}
    <div class="list-sections">
        <div class="list-sections__list">
            <div class="list-sections__list-item list-sections__list-item_billboards">
                <div class="block">
                    <div class="block-wrapper">
                        <div js-billboards class="billboards billboards_single">
                            <div js-billboards-slider class="billboards__slider">
                                <div js-billboards-slider-list class="billboards__slider-list">
                                    <div class="billboards__slider-item" style="background-image: url('images/intro.jpg')">
                                        <div class="billboards__slider-content">
                                            <div class="billboards__slider-side">
                                                <div class="billboards__slider-title">
                                                    Пластиковые окна
                                                </div>
                                                <div class="billboards__slider-desc">
                                                    Акции, виды, цены
                                                </div>
                                            </div>
                                            <div class="billboards__slider-main">
                                                <div class="billboards__slider-action">
                                                    <button class="button button_res-xs_small">
                                                        <span class="button__content">
                                                            <span class="button__title"> Узнать больше </span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_categories">
                <div class="block">
                    <div class="block-wrapper">
                        <div class="list-cards list-cards_3x">
                            <div class="list-cards__wrapper">
                                <div class="list-cards__list">
                                    {% set categories = [
                                        {
                                            title:'Остекление балконов',
                                            img:'images/cat-1.png'
                                        },{
                                            title:'Подоконник Crystallit',
                                            img:'images/cat-2.png',
                                            badge:'red'
                                        },{
                                            title:'Окна Salamander',
                                            img:'images/cat-3.png',
                                            badge:'green'
                                        }
                                    ] %}

                                    {% for category in categories %}
                                        <div class="list-cards__list-item">
                                            <a href="#" class="category-card" style="background-image: url({{ category.img }})">
                                                <div class="category-card__wrapper">
                                                    <div class="category-card__side">
                                                        <div class="category-card__title">
                                                            <div class="category-card__title-caption">
                                                                {{ category.title }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% if category.badge %}
                                                        <div class="category-card__main">
                                                            <div class="category-card__badge {{ 'category-card__badge_' ~ category.badge }}">
                                                                <div class="category-card__badge-icon">★</div>
                                                                <div class="category-card__badge-caption">Эксклюзивный дилер</div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_calc">
                <div class="calc-section block">
                    <div class="calc-section__wrapper block-wrapper">
                        <div class="calc-section__img"></div>
                        <div class="calc-section__side">
                            <div class="calc-section__title">
                                Онлайн-калькулятор
                            </div>
                        </div>
                        <div class="calc-section__main">
                            <div class="calc-section__action">
                                <button class="button">
                                            <span class="button__content">
                                                <span class="button__title">
                                                    Рассчитать стоимость
                                                </span>
                                            </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_intro-info">
                <div class="info-cols info-cols_intro block">
                    <div class="info-cols__wrapper block-wrapper">
                        <div class="info-cols__list">
                            <div class="info-cols__list-item">
                                <div class="info-cols__title info-cols__title_max-width_small">
                                    Завод &laquo;Оригинал&raquo; изготавливает окна более 15&nbsp;лет
                                </div>
                            </div>
                            <div class="info-cols__list-item">
                                <div class="info-cols__main">
                                    <div class="info-cols__desc">
                                        За&nbsp;это время мы&nbsp;произвели более 85 000&nbsp;окон. Открыли представительства в&nbsp;4-х городах и&nbsp;стали экслюзивными дилерами окон Salamander и&nbsp;подоконников Crystallit. А&nbsp;самое главное&nbsp;&mdash; заслужили доверие у&nbsp;клиентов
                                        благодаря высокому качеству продукции и&nbsp;отличному
                                        сервису.
                                    </div>
                                </div>
                                <div class="info-cols__side">
                                    <div class="list-info">
                                        {% set info_items = [{
                                            title:'100%',
                                            desc:'соответствие ГОСТу'
                                        },{
                                            title:'1100 м²',
                                            desc:'площадь производства'
                                        },{
                                            title:'72 часа',
                                            desc:'срок изготовления заказа'
                                        }] %}
                                        <div class="list-info__list list-info__list_3x">
                                            {% for item in info_items %}
                                                <div class="list-info__list-item">
                                                    <div class="list-info__item">
                                                        <div class="list-info__item-main">
                                                            <div class="list-info__item-title">
                                                                {{ item.title }}
                                                            </div>
                                                        </div>
                                                        <div class="list-info__item-side">
                                                            <div class="list-info__item-desc">
                                                                {{ item.desc }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item">
                {% include 'billboards/billboards.twig' with {
                    images: [
                        {
                            src:'images/proizvodstvo.jpg'
                        },{
                            src:'images/proizvodstvo.jpg'
                        }]
                } %}
            </div>
        </div>
    </div>
{% endblock %}
