{% extends "common/base.twig" %}

{% block body_mod %}{% endblock %}
{% block body %}
    <div class="list-sections">
        <div class="list-sections__list">
            <div class="list-sections__list-item list-sections__list-item_billboards list-sections__list-item_billboards_margin_large">
                <div class="block">
                    <div class="block-wrapper">
                        {% include 'billboards/billboards.twig' with {
                            images: [
                                {
                                    src:'images/slide-1.png'
                                },{
                                    src:'images/slide-1.png'
                                }]
                        } %}
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_billboards-info">
                <div class="info-cols info-cols_billboard">
                    <div class="info-cols__wrapper">
                        <div class="info-cols__list">
                            <div class="info-cols__list-item info-cols__list-item_billboard-desc">
                                <div class="info-cols__box">
                                    <div class="info-cols__main">
                                        <div class="info-cols__title">
                                            Завод «Оригинал» производит пластиковые окна более 15 лет
                                        </div>
                                    </div>
                                    <div class="info-cols__side">
                                        <div class="list-info list-info_billboards">
                                            {% set info_items = [{
                                                title:'45000+',
                                                desc:'изготовлено окон в&nbsp;2002 года'
                                            },{
                                                title:'8000+',
                                                desc:'площадь производства'
                                            },{
                                                title:'72 часа',
                                                desc:'срок изготовления заказа'
                                            },{
                                                title:'4 города',
                                                desc:'география присутствия'
                                            },{
                                                title:'100%',
                                                desc:'соответствие ГОСТу'
                                            },{
                                                title:'1100 м²',
                                                desc:'площадь производства'
                                            }] %}
                                            <div class="list-info__list list-info__list_3x">
                                                {% for item in info_items %}
                                                    <div class="list-info__list-item">
                                                        <div class="list-info__item">
                                                            <div class="list-info__item-main">
                                                                <div class="list-info__item-title list-info__item-title_small">
                                                                    {{ item.title }}
                                                                </div>
                                                            </div>
                                                            <div class="list-info__item-side">
                                                                <div class="list-info__item-desc">
                                                                    {{ item.desc }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-cols__list-item info-cols__list-item_billboard-img">
                                <div class="info-cols__billboard">
                                    {% include 'billboards/billboards.twig' with {
                                        images: [
                                            {
                                                src:'images/proizvodstvo-2.jpg'
                                            },{
                                                src:'images/proizvodstvo-2.jpg'
                                            }]
                                    } %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_info-tabs">
                <div class="info-tabs block">
                    <div class="info-tabs__wrapper block-wrapper">
                        <div class="info-tabs__side">
                            <div class="info-caption">
                                <div class="info-caption__title">
                                    Большой выбор профильных систем
                                </div>
                                <div class="info-caption__desc">
                                    От профиля зависит срок службы окна, шумоизоляция и климат в квартире. Мы сможем предложить лучшее решение под Ваши задачи и бюджет.
                                </div>
                            </div>
                        </div>
                        <div class="info-tabs__main">
                            <div js-tabs class="tabs">
                                <div class="tabs__wrapper">
                                    <div class="tabs__side">
                                        <div class="tabs__actions">
                                            {% set actions = [{
                                                icon:'images/salamander.jpg',
                                                title:'Salamander',
                                            },{
                                                icon:'images/exprof.png',
                                                title:'Exprof',
                                            },{
                                                icon:'images/gealan.png',
                                                title:'Gealan',
                                            },{
                                                icon:'images/ortex.png',
                                                title:'Ortex',
                                            }] %}
                                            {% for tab in actions %}
                                                <div class="tabs__actions-item">
                                                    <div js-tab-action data-target="{{ loop.index }}" class="tabs__action {{ loop.first ? 'is-active' : '' }}">
                                                        <div class="tabs__action-wrapper"></div>
                                                        <div class="tabs__action-icon">
                                                            <img src="{{ tab.icon }}" alt="">
                                                        </div>
                                                        <div class="tabs__action-caption">{{ tab.title }}</div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tabs__main">
                                        <div class="tabs__pages">
                                            {% for tab in actions %}
                                                <div js-tab-page data-target="{{ loop.index }}" class="tabs__pages-item {{ loop.first ? 'is-active' : '' }}">
                                                    <div class="tabs__page">
                                                        <div class="info-cols info-cols_tab">
                                                            <div class="info-cols__list">
                                                                <div class="info-cols__list-item">
                                                                    <div class="info-cols__img info-cols__img_medium info-cols__img_shadow">
                                                                        <img src="images/tab-1.png">
                                                                    </div>
                                                                </div>
                                                                <div class="info-cols__list-item">
                                                                    <div class="info-cols__header">
                                                                        <div class="info-cols__title info-cols__title_small">
                                                                            {{ tab.title }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="info-cols__body">
                                                                        <div class="info-cols__desc info-cols__desc_small">
                                                                            Salamander — немецкая компания, основанная более 100 лет назад, занимающая лидирующие позиции в производстве ПВХ профилей на европейском рынке. Продукция Salamander выделяется высочайшим качеством и инновационным составом,
                                                                            благодаря которому профиль имеет белоснежную глянцевую поверхность, срок службы более 60 лет, а также высокие технические показатели, позволяющие эксплуатировать продукцию в регионах с самым суровым климатом.
                                                                        </div>
                                                                    </div>
                                                                    <div class="info-cols__footer">
                                                                        <div class="list-info list-info_flex-start">
                                                                            <div class="list-info__list">
                                                                                <div class="list-info__list-item">
                                                                                    <div class="list-info__item">
                                                                                        <div class="card-shadow">
                                                                                            <div class="card-shadow__badge">
                                                                                                <div class="card-shadow__badge-icon">
                                                                                                    ★
                                                                                                </div>
                                                                                                <div class="card-shadow__badge-caption">
                                                                                                    ХИТ
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="card-shadow__title">Streamline</div>
                                                                                            <div class="card-shadow__desc">6 камер, ширина 76мм</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="list-info__list-item">
                                                                                    <div class="list-info__item">
                                                                                        <div class="card-shadow">
                                                                                            <div class="card-shadow__title">BluEvolution</div>
                                                                                            <div class="card-shadow__desc">6 камер, ширина 76мм</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_showcase">
                <div class="showcase block">
                    <div class="showcase__wrapper block-wrapper">
                        <div class="showcase__header">
                            <div class="info-caption">
                                <div class="info-caption__title">
                                    Честные цены
                                </div>
                                <div class="info-caption__desc">
                                    Мы относимся уважительно к клиентам: сразу озвучиваем реальный бюджет, который зачастую уменьшается после замера. Под видом «мега-акций» не предлагаем изделия низкого качества.
                                </div>
                            </div>
                        </div>
                        <div class="showcase__body">
                            <div class="showcase__list">
                                {% set showcases = [{
                                    img:'images/showcase-1.jpg',
                                    title:'от 6000 ₽'
                                },{
                                    img:'images/showcase-2.jpg',
                                    title:'от 12 000 ₽'
                                },{
                                    img:'images/showcase-3.jpg',
                                    title:'от 18 000 ₽'
                                }] %}
                                {% for showcase in showcases %}
                                    <div class="showcase__list-item">
                                        <div class="showcase__item-side">
                                            <img src="{{ showcase.img }}" class="showcase__item-img">
                                        </div>
                                        <div class="showcase__item-main">
                                            <div class="showcase__item-caption">
                                                {{ showcase.title }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="showcase__footer">
                            <div class="showcase-calc">
                                <div class="showcase-calc__wrapper">
                                    <a href="#" class="showcase-calc__link">Рассчитать стоимость онлайн</a>
                                </div>
                                <div class="showcase-calc__img"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_steklopaket">
                <div class="info-cols info-cols_steklopaket info-cols_bordered info-cols_padding-top_large block">
                    <div class="info-cols__wrapper block-wrapper">
                        <div class="info-cols__list">
                            <div class="info-cols__list-item">
                                <div class="info-cols__img info-cols__img_small">
                                    <img src="images/steklopaket.jpg" alt="">
                                </div>
                            </div>
                            <div class="info-cols__list-item">
                                <div class="info-cols__major">
                                    <a href="#" class="info-cols__title info-cols__title_bordered">
                                        Энергосберегающий стеклопакет
                                    </a>
                                </div>
                                <div class="info-cols__main info-cols__main_margin-bottom">
                                    <div class="info-cols__desc info-cols__desc_small">
                                        Специальное покрытие, которое с&nbsp;одной стороны отражает тепловое излучение от&nbsp;нагревательных приборов, внутрь помещения, не&nbsp;давая ему уйти наружу. С&nbsp;другой&nbsp;&mdash; свободно пропускает солнечную коротковолновую энергию в&nbsp;помещение.
                                        Данное покрытие позволяет сохранять до&nbsp;40&nbsp;% тепла квартиры. Нанесение покрытия на&nbsp;одно окно стоит около 400&nbsp;₽.
                                        Чаще всего в&nbsp;окнах используется двойной стеклопакет с&nbsp;ТОП покрытием. При этом толщина одного стекла составляет от&nbsp;4&nbsp;до&nbsp;6&nbsp;мм в&nbsp;зависимости от&nbsp;уровня шума на&nbsp;улице.
                                    </div>
                                </div>
                                <div class="info-cols__side">
                                    <div class="list-info">
                                        {% set info_items = [{
                                            title:'Тонировка',
                                            icon:'соответствие ГОСТу'
                                        },{
                                            title:'Бронирование',
                                            icon:'площадь производства'
                                        }] %}
                                        <div class="list-info__list list-info__list_2x">
                                            {% for item in info_items %}
                                                <div class="list-info__list-item">
                                                    <div class="list-info__item">
                                                        <div class="list-info__item-wrapper">
                                                            <div class="list-info__item-icon">
                                                                <img src="http://placehold.it/24x24" alt="">
                                                            </div>
                                                            <div class="list-info__item-caption">
                                                                {{ item.title }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_furnitura">
                <div class="info-cols info-cols_furnitura info-cols_bordered info-cols_padding-top_large block">
                    <div class="info-cols__additional">
                        <img src="images/furnitura-maco.png" alt="">
                    </div>
                    <div class="info-cols__wrapper block-wrapper">
                        <div class="info-cols__list">
                            <div class="info-cols__list-item">
                                <div class="info-cols__major">
                                    <a href="#" class="info-cols__title info-cols__title_bordered">
                                        Фурнитура на 50 лет
                                    </a>
                                </div>
                                <div class="info-cols__main info-cols__main_margin-bottom">
                                    <div class="info-cols__desc info-cols__desc_small">
                                        Некачественная фурнитура доставляет много неудобств и может являться причиной деформации профиля и замене всего окна.
                                        Оригинал устанавливает выосококачественную австрийскую фурнитуру MACO, срок службы которой около 60 000 открываний или 50 лет.
                                    </div>
                                </div>
                                <div class="info-cols__side">
                                    <div class="list-info">
                                        {% set info_items = [{
                                            title:'Противовзломная фурнитура',
                                            icon:'icon',
                                            desc:'Установка дополнительных элементов, защищающих от&nbsp;грабителей'
                                        },{
                                            title:'Детский замок',
                                            icon:'icon',
                                            desc:'Блокируется полное  открывание, функция'
                                        }] %}
                                        <div class="list-info__list list-info__list_1x">
                                            {% for item in info_items %}
                                                <div class="list-info__list-item">
                                                    <div class="list-info__item">
                                                        <div class="list-info__item-wrapper list-info__item-wrapper_flex-start">
                                                            <div class="list-info__item-icon">
                                                                <img src="http://placehold.it/24x24" alt="">
                                                            </div>
                                                            <div class="list-info__item-group">
                                                                <div class="list-info__item-caption">
                                                                    {{ item.title }}
                                                                </div>
                                                                <div class="list-info__item-desc list-info__item-desc_max-width_large">
                                                                    {{ item.desc }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_crystallit">
                <div class="info-cols info-cols_crystallit info-cols_bordered info-cols_padding-top_large block">
                    <div class="info-cols__wrapper block-wrapper">
                        <div class="info-cols__additional info-cols__additional_tablet">
                            <img src="images/crystallit.png" alt="">
                        </div>
                        <div class="info-cols__list">
                            <div class="info-cols__list-item"></div>
                            <div class="info-cols__list-item">
                                <div class="info-cols__major">
                                    <a href="#" class="info-cols__title info-cols__title_bordered">
                                        Подоконники и откосы
                                    </a>
                                </div>
                                <div class="info-cols__main info-cols__main_margin-bottom">
                                    <div class="info-cols__desc info-cols__desc_small">
                                        Мы можем предложить вам на выбор обычный ПВХ-подоконник или подоконник Crystallit. Подоконники Crystallit — это качество премиум класса и самый широкий выбор декоров — матовые, глянцевые и с древесной фактурой.
                                    </div>
                                </div>
                                <div class="info-cols__side">
                                    <div class="list-info">
                                        {% set info_items = [{
                                            title:'Срок эксплуатации до 70 лет',
                                            icon:'площадь производства'
                                        },{
                                            title:'Не выцветает на солнце',
                                            icon:'площадь производства'
                                        },{
                                            title:'Стойкость к истиранию',
                                            icon:'площадь производства'
                                        },{
                                            title:'Высокая прочность',
                                            icon:'площадь производства'
                                        },{
                                            title:'Абсолютная влагостойкость',
                                            icon:'площадь производства'
                                        },{
                                            title:'Не содержит свинца',
                                            icon:'площадь производства'
                                        },{
                                            title:'Не содержит формальдегида',
                                            icon:'площадь производства'
                                        },{
                                            title:'Повышенная термостойкость',
                                            icon:'соответствие ГОСТу'
                                        }] %}
                                        <div class="list-info__list list-info__list_2x">
                                            {% for item in info_items %}
                                                <div class="list-info__list-item">
                                                    <div class="list-info__item">
                                                        <div class="list-info__item-wrapper">
                                                            <div class="list-info__item-icon">
                                                                <img src="http://placehold.it/24x24" alt="">
                                                            </div>
                                                            <div class="list-info__item-caption">
                                                                {{ item.title }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_schema">
                <div class="schema block">
                    <div class="schema__wrapper block-wrapper">
                        <div class="schema__content">
                            <div class="schema__title">
                                <div class="schema__title-caption">
                                    Цвет, форма и декорирование
                                </div>
                            </div>
                            <div class="schema__img">
                                <img src="images/shema.png" alt="">
                            </div>
                            {% set infos = [
                                {
                                    title:'Цветные окна',
                                    desc:'Нанесение декоративной ПВХ пленки на&nbsp;окно из&nbsp;любого профиля. Широкий выбор цвета и&nbsp;текстуры пленки.',
                                },
                                {
                                    title:'Декоративная раскладка',
                                    desc:'Декоративные накладки, размещенные внутри и&nbsp;снаружи стеклопакета, улучшающие архитектурный облик.',
                                },{
                                    title:'Любая форма окна',
                                    desc:'Для реализации архитектурной идеи окну можно придать любую форму.',
                                },{
                                    title:'Аквапечать',
                                    desc:'Нанесение на&nbsp;предметы интерьера специальной пленки с&nbsp;рисунком дерева, металла и&nbsp;др.',
                                }
                            ] %}
                            <div class="schema__list">
                                {% for info in infos %}
                                    <div class="schema__info schema__info_{{ loop.index }}">
                                        <div class="schema__info-item">
                                            <div class="schema__info-side">
                                                <div class="schema__info-title">{{ info.title }}</div>
                                            </div>
                                            <div class="schema__info-main">
                                                <div class="schema__info-desc">
                                                    {{ info.desc }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="schema__action">
                            <button class="button">
                                <span class="button__content">
                                    <span class="button__title">
                                        Конструктор окна
                                    </span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_man">
                <div class="info-cols info-cols_man info-cols_padding-top_large block">
                    <div class="info-cols__wrapper block-wrapper">
                        <div class="info-cols__list">
                            <div class="info-cols__list-item">
                                <div class="info-cols__img info-cols__img_small">
                                    <img src="images/man.png" alt="">
                                </div>
                            </div>
                            <div class="info-cols__list-item">
                                <div class="info-cols__major">
                                    <a href="#" class="info-cols__title info-cols__title_bordered">
                                        Монтаж <br> от профессионалов
                                    </a>
                                </div>
                                <div class="info-cols__main info-cols__main_margin-bottom">
                                    <div class="info-cols__desc info-cols__desc_small">
                                        С некачественным монтажом даже самая дорогая комплектация окна не будет работать. А качество монтажа зависит от опыта специалистов. За 16 лет работы мы накопили большую базу знаний по установке окон, с учетом специфики домов, оконных проемов, размеров и видов
                                        окон и т.д. Молодые сотрудники проходят обязательное обучение и работают под наблюдением опытных коллег
                                    </div>
                                </div>
                                <div class="info-cols__side">
                                    <div class="list-info">
                                        {% set info_items = [{
                                            title:'Гарантия на монтаж',
                                            icon:'соответствие ГОСТу'
                                        },{
                                            title:'Собственные специалисты',
                                            icon:'площадь производства'
                                        },{
                                            title:'10 лет — средний опыт монтажника',
                                            icon:'площадь производства'
                                        },{
                                            title:'2000 проведенных монтажей',
                                            icon:'площадь производства'
                                        }] %}
                                        <div class="list-info__list list-info__list_2x">
                                            {% for item in info_items %}
                                                <div class="list-info__list-item">
                                                    <div class="list-info__item">
                                                        <div class="list-info__item-wrapper">
                                                            <div class="list-info__item-icon">
                                                                <img src="http://placehold.it/24x24" alt="">
                                                            </div>
                                                            <div class="list-info__item-caption">
                                                                {{ item.title }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_map">
                <div class="map-box">
                    <div js-map class="map-box__main"></div>
                    <div class="map-inbox block">
                        <div class="map-inbox__wrapper block-wrapper">
                            <div class="map-inbox__info">
                                <div class="map-card">
                                    <div class="map-card__wrapper">
                                        <div class="map-card__header">
                                            <div class="map-card__title">
                                                Адреса филиалов
                                            </div>
                                        </div>
                                        <div class="map-card__body">
                                            <div class="map-card__main">
                                                <a href="tel:+73852717300" class="map-card__phone">
                                                    <div class="map-card__phone-main">
                                                        (38-52) 717-300
                                                    </div>
                                                    <div class="map-card__phone-side">
                                                        Единая справочная служба
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="map-card__side">
                                                <div class="map-card__list">
                                                    <div class="map-card__list-item">
                                                        <div class="map-card__item">
                                                            <div class="map-card__item-section">Барнаул, пр-т Строителей, 11</div>
                                                            <div class="map-card__item-section">(38-52) 61-61-68</div>
                                                            <div class="map-card__item-section">(38-52) 61-05-89</div>
                                                        </div>
                                                    </div>
                                                    <div class="map-card__list-item">
                                                        <div class="map-card__item">
                                                            <div class="map-card__item-section">Барнаул, пр-т Строителей, 11</div>
                                                            <div class="map-card__item-section">(38-52) 61-61-68</div>
                                                            <div class="map-card__item-section">(38-52) 61-05-89</div>
                                                        </div>
                                                    </div>
                                                    <div class="map-card__list-item">
                                                        <div class="map-card__item">
                                                            <div class="map-card__item-section">Барнаул, пр-т Строителей, 11</div>
                                                            <div class="map-card__item-section">(38-52) 61-61-68</div>
                                                            <div class="map-card__item-section">(38-52) 61-05-89</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="map-card__footer">
                                            <div class="map-card__actions">
                                                <div class="map-card__actions-item">
                                                    <button class="button button_full">
                                                        <span class="button__content">
                                                            <span class="button__title">Заказать консультацию</span>
                                                        </span>
                                                    </button>
                                                </div>
                                                <div class="map-card__actions-item">
                                                    <button class="button button_full button_white">
                                                        <span class="button__content">
                                                            <span class="button__title">Рассчитать стоимость</span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_person">
                <div class="info-cols info-cols_person info-cols_padding-top_large block">
                    <div class="info-cols__wrapper block-wrapper">
                        <div class="info-cols__list">
                            <div class="info-cols__list-item info-cols__list-item_img">
                                <div class="info-cols__img info-cols__img_small">
                                    <img src="images/person.png" alt="">
                                </div>
                            </div>
                            <div class="info-cols__list-item info-cols__list-item_desc">
                                <div class="info-cols__major">
                                    <div class="info-cols__title info-cols__title_bordered">
                                        Рассмотрение отзывов <br> и рекламаций
                                    </div>
                                </div>
                                <div class="info-cols__main info-cols__main_margin-bottom">
                                    <div class="info-cols__desc info-cols__desc_small">
                                        <b>Иван Иванович Иванов, начальник отдела качества:</b>
                                        <br>
                                        «Мы всегда стремимся оказывать сервис высокого качества, но, как и все, можем ошибаться. Если вас что-то не удовлетворило в нашей работе, напишите рекламацию на сайте. Она будет рассмотрена мной в течение 3 дней, и вы гарантированно получите ответ».
                                    </div>
                                </div>
                                <div class="info-cols__side">
                                    <a href="#" class="button">
                                        <span class="button__content">
                                            <span class="button__title">Смотреть отзывы</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_project">
                <div class="projects block">
                    <div class="projects__wrapper block-wrapper">
                        <div class="projects__title">
                            Выполненные проекты
                        </div>
                        <div class="projects__list">
                            <div class="projects__list-item projects__list-item_full">
                                <div class="projects__item">
                                    <div class="projects__item-main">
                                        <div class="projects__item-img">
                                            <img src="http://placehold.it/1222x696" alt="">
                                        </div>
                                    </div>
                                    <div class="projects__item-side">
                                        <a href="#" class="projects__item-link">
                                            Пентхаус на Речном
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__list-item">
                                <div class="projects__item">
                                    <div class="projects__item-main">
                                        <div class="projects__item-img">
                                            <img src="http://placehold.it/1222x696" alt="">
                                        </div>
                                    </div>
                                    <div class="projects__item-side">
                                        <a href="#" class="projects__item-link">
                                            Пентхаус на Речном
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__list-item">
                                <div class="projects__item">
                                    <div class="projects__item-main">
                                        <div class="projects__item-img">
                                            <img src="http://placehold.it/1222x696" alt="">
                                        </div>
                                    </div>
                                    <div class="projects__item-side">
                                        <a href="#" class="projects__item-link">
                                            Пентхаус на Речном
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projects__action">
                            <div class="projects__action-btn">
                                <a href="#" class="button button_blue button_outline">
                                    <span class="button__content">
                                        <span class="button__title">
                                            Смотреть все проекты
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
