{% extends "common/base.twig" %}

{% block body_mod %}is-header-normal{% endblock %}
{% block body %}
    <div class="block">
        <div class="block-wrapper">
            <div style="padding: 15px 0">
                <a target="_blank" href="/"> Главная</a>
            </div>
            <div style="padding: 15px 0">
                <a target="_blank" href="landing.html"> Лендинг </a>
            </div>
            <div style="padding: 15px 0">
                <a target="_blank" href="profiles.html"> Профили </a>
            </div>
            <div style="padding: 15px 0">
                <a target="_blank" href="profile.html"> Профиль </a>
            </div>
            <div style="padding: 15px 0">
                <a target="_blank" href="still.html"> Подоконник </a>
            </div>
            <div style="padding: 15px 0">
                <a target="_blank" href="article.html"> Типовая текстовая старница </a>
            </div>
            <div style="padding: 15px 0">
                <a target="_blank" href="project.html"> Проект </a>
            </div>
            <div style="padding: 15px 0">
                <a target="_blank" href="projects.html"> Проекты </a>
            </div>
            <div style="padding: 15px 0">
                <a target="_blank" href="calc.html"> Калькулятор * </a>
            </div>
        </div>
    </div>
{% endblock %}
