{% extends "common/base.twig" %}

{% block body_mod %}is-header-normal{% endblock %}
{% block body %}
    <div class="list-sections">
        <div class="list-sections__list">
            <div class="list-sections__list-item list-sections__list-item_profiles">
                <div class="profiles-list block">
                    <div class="profiles-list__wrapper block-wrapper">
                        <div class="profiles-list__list">
                            {% set profiles = [{
                                desc:'Salamander — немецкая компания, основанная более 100 лет назад, занимающая лидирующие позиции в производстве ПВХ профилей на европейском рынке. Продукция Salamander выделяется высочайшим качеством и инновационным составом, благодаря которому профиль имеет белоснежную глянцевую поверхность, срок службы более 60 лет, а также высокие технические показатели, позволяющие эксплуатировать продукцию в регионах с самым суровым климатом.',
                                img:'images/profiles/salamander.png',
                                icon:'images/icons/icon-salamander.png',
                                cards: [{
                                    title:'Streamline',
                                    desc:'6 камер, ширина 76мм',
                                    badge:
                                    {
                                        color:'red',
                                        title:'хит',
                                        icon:'★'
                                    }
                                },{
                                    title:'BluEvolution',
                                    desc:'6 камер, ширина 76мм',
                                    badge:
                                    {
                                        color:'blue',
                                        title:'ПРЕМИУМ',
                                    }
                                }]
                            },{
                                desc:'Gealan — немецкая компания, регулярно выпускающая инновационные решения. Продукцию выделяет необычная конструкция оконной рамы — окно имеет большой световой проем. Тем самым в Ваш дом проникает много света, преображая внутреннее пространство. Еще одно преимущество — ширина основной камеры профиля, которая предназначена для усиленного армирования. Это позволяет создавать окна больших размеров. ',
                                img:'images/profiles/gealan.png',
                                icon:'images/icons/icon-gealan.png',
                                cards: [{
                                    title:'Gealan',
                                    desc:'6 камер, ширина 76мм',
                                    badge:
                                    {
                                        color:'green',
                                        title:'Любой размер',
                                    }
                                }]
                            },{
                                desc:'Exprof — один из первых и крупнейших в России производителей системных ПВХ-профилей для окон, дверей и других светопрозрачных конструкций. Компания работает с 2001 года, за это время продукция компании завоевала доверие у потребителей — сегодня завод выпускает порядка 45 тыс. тонн профилей в год. Каждое двенадцатое пластиковое окно в России сегодня делается из профилей марки EXPROF.',
                                img:'images/profiles/exprof.png',
                                icon:'images/icons/icon-exprof.png',
                                cards: [{
                                    title:'Prowin',
                                    desc:'6 камер, ширина 76мм',
                                    badge:
                                    {
                                        color:'blue-light',
                                        title:'Для дачи',
                                    }
                                },{
                                    title:'Profecta',
                                    desc:'6 камер, ширина 76мм',
                                },
                                    {
                                        title:'Experta',
                                        desc:'6 камер, ширина 76мм',
                                        badge:
                                        {
                                            color:'red',
                                            title:'хит',
                                            icon:'★'
                                        }
                                    }]
                            },{
                                desc:'Orteks — российская компания, производящая ПВХ профиль более 7 лет. Компания находится в Омске и изначально была ориентирована на производство морозостойких профилей для сибирского климата. Покупатели получают продукцию высокого качества по доступной цене.',
                                img:'images/profiles/orteks.png',
                                icon:'images/icons/icon-orteks.jpg',
                                cards: [{
                                    title:'Streamline',
                                    desc:'6 камер, ширина 76мм',
                                    badge:
                                    {
                                        color:'red',
                                        title:'хит',
                                        icon:'★'
                                    }
                                },{
                                    title:'BluEvolution',
                                    desc:'6 камер, ширина 76мм',
                                    badge:
                                    {
                                        color:'blue',
                                        title:'ПРЕМИУМ',
                                    }
                                }]
                            }] %}

                            {% for profile in profiles %}
                                <div class="profiles-list__list-item">
                                    <div class="info-cols info-cols_single info-cols_tab">
                                        <div class="info-cols__list">
                                            <div class="info-cols__list-item">
                                                <img src="{{ profile.img }}" alt="" class="info-cols__img info-cols__img_shadow">
                                            </div>
                                            <div class="info-cols__list-item">
                                                <div class="info-cols__header">
                                                    <div class="info-cols__title info-cols__title_small">
                                                        <img src="{{ profile.icon }}" alt="" class="info-cols__title-icon">
                                                    </div>
                                                </div>
                                                <div class="info-cols__body">
                                                    <div class="info-cols__desc info-cols__desc_small">
                                                        {{ profile.desc }}
                                                    </div>
                                                </div>
                                                {% if profile.cards %}
                                                    <div class="info-cols__footer">
                                                        <div class="list-info list-info_flex-start">
                                                            <div class="list-info__list">
                                                                {% for card in profile.cards %}
                                                                    <div class="list-info__list-item">
                                                                        <div class="list-info__item">
                                                                            <div class="card-shadow">
                                                                                {% if card.badge %}
                                                                                    <div class="card-shadow__badge card-shadow__badge_{{ card.badge.color }}">
                                                                                        {% if card.badge.icon %}
                                                                                            <div class="card-shadow__badge-icon">
                                                                                                {{ card.badge.icon }}
                                                                                            </div>
                                                                                        {% endif %}
                                                                                        <div class="card-shadow__badge-caption">
                                                                                            {{ card.badge.title }}
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                                <div class="card-shadow__title">{{ card.title }}</div>
                                                                                <div class="card-shadow__desc">{{ card.desc }}</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item">
                <div class="info-cols info-cols_person info-cols_simple info-cols_bordered info-cols_padding-top_large block">
                    <div class="info-cols__wrapper block-wrapper">
                        <div class="info-cols__list">
                            <div class="info-cols__list-item info-cols__list-item_img">
                                <div class="info-cols__img info-cols__img_small">
                                    <img src="images/woman.png" alt="">
                                </div>
                            </div>
                            <div class="info-cols__list-item info-cols__list-item_desc">
                                <div class="info-cols__major">
                                    <div class="info-cols__title">
                                        Помочь в выборе окна?
                                    </div>
                                </div>
                                <div class="info-cols__side">
                                    <div class="header-middle__actions">
                                        <div class="header-middle__action-item">
                                            <div class="header-middle__callback">
                                                <button class="button">
                                                    <span class="button__content">
                                                        <span class="button__title">
                                                         Заказать консультацию
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="header-middle__actions-item">
                                            <a href="tel:+79520074578" class="header-middle__phone">
                                                <sup class="code">(38-52)</sup> 61-61-68
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item">
                <div class="steps block">
                    <div class="steps__wrapper block-wrapper">
                        <div class="steps__title">
                            Разобраться самостоятельно
                        </div>
                        <div class="steps__desc">
                            Окно — технически сложная конструкция, поэтому самостоятельно разбраться в деталях и сделать правильный выбор для большинства людей задача не простая. Мы попытались кратко и понятно рассказать вам о каждом элементе окна, чтобы вы обладали основными знаниями и чувствовали
                            себя уверенно.
                        </div>
                        <div class="steps__list">
                            {% set steps = [{
                                title:'Профиль',
                            },{
                                title:'Стеклопакет',
                            },{
                                title:'Фурнитура',
                            },{
                                title:'Цвет',
                            },{
                                title:'Расчет  стоимости',
                            },{
                                title:'Монтаж',
                            }] %}

                            {% for step in steps %}
                                <div class="steps__list-item">
                                    <div class="steps-item">
                                        <div class="steps-item__wrapper">
                                            <div class="steps-item__title">
                                                {{ loop.index ~ '.' }}
                                            </div>
                                            <div class="steps-item__desc">
                                                <div class="steps-item__desc-caption">
                                                    {{ step.title }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
