{% extends "common/base.twig" %}

{% block body_mod %}{% endblock %}
{% block body %}
    <div class="list-sections">
        <div class="list-sections__list">
            <div class="list-sections__list-item list-sections__list-item_bluevolution">
                <div class="blu-section blu-block">
                    <div class="blu-section__wrapper block-wrapper">
                        <div class="blu-crumbs">
                            <a href="#" class="blu-crumbs__crumb">Главная</a>
                            <span class="blu-crumbs__delim">→</span>
                            <a class="blu-crumbs__crumb blu-crumbs__crumb_current">Профильные системы</a>
                        </div>
                        <div class="blu-section__list">
                            <div class="blu-section__list-item_large">
                                <div class="blu-section__major">
                                    <div class="blu-section__title blu-section__title_large">
                                        Система<br>bluEvolution
                                    </div>
                                </div>
                                <div class="blu-section__desc">
                                    Система bluEvolution представляет собой совершенную комбинацию инновационных и
                                    традиционных технологий. Монтажная ширина 92 мм, 6 камер в раме и створке, а также
                                    возможность установки стеклопакета до 52 мм гарантируют исключительную
                                    теплоизоляцию и значительно повышают показатели энергоэффективности окна.
                                    Три контура уплотнения обеспечивают лучшую шумоизоляцию. Легированная глянцевая
                                    поверхность гарантирует стойкость белоснежного цвета на десятилетия. Выбираете
                                    лучшее? — blueEvolution. Качество, стиль, премиальность.
                                </div>
                            </div>
                            <div class="blu-section__list-item">
                                <div class="blu-table">
                                    <div class="blu-table__row blu-table__row_header">
                                        <div class="blu-table__column">Количество камер</div>
                                        <div class="blu-table__column">6</div>
                                    </div>
                                    <div class="blu-table__row">
                                        <div class="blu-table__column">Ширина профиля</div>
                                        <div class="blu-table__column">92 мм.</div>
                                    </div>
                                    <div class="blu-table__row blu-table__row_dark">
                                        <div class="blu-table__column">Сопративление теплопередаче</div>
                                        <div class="blu-table__column">1.0 м.кв, х С/Вт</div>
                                    </div>
                                    <div class="blu-table__row">
                                        <div class="blu-table__column">Поверхность</div>
                                        <div class="blu-table__column">глянцевая (легированная)</div>
                                    </div>
                                    <div class="blu-table__row blu-table__row_dark">
                                        <div class="blu-table__column">Толщина стеклопакета мм.</div>
                                        <div class="blu-table__column">52 мм.</div>
                                    </div>
                                    <div class="blu-table__row">
                                        <div class="blu-table__column">Кол-во контуров утепления</div>
                                        <div class="blu-table__column">3</div>
                                    </div>
                                    <div class="blu-table__row blu-table__row_dark">
                                        <div class="blu-table__column">Срок службы профиля</div>
                                        <div class="blu-table__column">более 60 лет</div>
                                    </div>
                                    <div class="blu-table__row">
                                        <div class="blu-table__column">Цвет</div>
                                        <div class="blu-table__column">альпийская белизна</div>
                                    </div>
                                    <div class="blu-table__row blu-table__row_dark">
                                        <div class="blu-table__column">Гарантия стойкости цвета</div>
                                        <div class="blu-table__column">40 лет</div>
                                    </div>
                                    <div class="blu-table__row">
                                        <div class="blu-table__column">Срок изготовления окна</div>
                                        <div class="blu-table__column">72 часа</div>
                                    </div>
                                    <div class="blu-table__row blu-table__row_dark">
                                        <div class="blu-table__column">Документы</div>
                                        <div class="blu-table__column">
                                            <div>
                                                <a href="#" class="blu-table__link">Сертификат соответствия</a>
                                            </div>
                                            <div>
                                                <a href="#" class="blu-table__link">Сертификат Оригинал</a>
                                            </div>
                                            <div>
                                                <a href="#" class="blu-table__link">Все документы</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_snow-white">
                <div class="info-cols info-cols_snow-white info-cols_padding-top_largest block">
                    <div class="info-cols__wrapper block-wrapper">
                        <div class="info-cols__list">
                            <div class="info-cols__list-item">
                                <div class="info-cols__img_center">
                                    <div class="img-title__wrapper">
                                        <img src="images/snow-white.png" alt="">
                                        <div class="img-title__element img-title__element_first">
                                            Обычное<br>окно
                                        </div>
                                        <div class="img-title__element img-title__element_second">
                                            Salamander
                                        </div>
                                        <div class="img-title__element img-title__element_third">
                                            Обычное<br>окно через<br>10 лет
                                        </div>
                                        <div class="img-title__element img-title__element_four">
                                            Salamander<br>через 10 лет
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-cols__list-item">
                                <div class="info-cols__major_medium">
                                    <div class="info-cols__title">
                                        Белоснежный цвет на десятилетия
                                    </div>
                                </div>
                                <div class="info-cols__main info-cols__main_margin-bottom">
                                    <div class="info-cols__desc info-cols__desc_small">
                                        Благодаря инновационному составу профили Salamander имеют глянцевую, легированную поверхность.
                                        Это дает ощутимые преимущества перед конкурентами:
                                    </div>
                                    <ul class="info-cols__desc-list">
                                        <li>Цвет профиля Salamander — альпийская белизна — при визуальном сравнении с другими профилями выглядит более ослепительно.</li>
                                        <li>Глянцевая поверхность легка в уходе — налет и грязь не проникают в структуру прфиля и удаляются легко, обычным протиранием.</li>
                                        <li>Гарантия на сохранение цвета профиля при правильном уходе составляет 40 лет, профиль не пожелтеет и не потускнеет.</li>
                                    </ul>
                                    <div class="info-cols__desc info-cols__desc_small">
                                        Матовый профиль имеет шероховатую поверхность, которая подвержена проникновению пыли и,
                                        как следствие, изменению цвета.
                                    </div>
                                    <div class="info-cols__link-wrapper">
                                        <a href="#" class="info-cols__link">
                                            Механические повреждения как у всего глянца?
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_specification">
                <div class="info-cols info-cols_specification block">
                    <div class="info-cols__wrapper block-wrapper">
                        <div class="info-cols__list">
                            <div class="info-cols__list-item">
                                <div class="info-cols__img_center info-cols__img_margin-top">
                                    <img src="images/specification.png" alt="">
                                </div>
                            </div>
                            <div class="info-cols__list-item">
                                <div class="info-cols__main-specification">
                                    <div class="info-cols__desc-specification specification_1">
                                        <b>Визуальная высота</b> комбинации рамы и створки всего в 118 мм
                                        увеличивает световой проем конструкции и способствует максимальному
                                        освещению. Таким образом, система bluEvolution задает тренд на элегантные
                                        и четкие формы окна.
                                    </div>
                                    <div class="info-cols__desc-specification specification_2">
                                        <b>Стальное армирование</b> изолировано от корпуса профиля, что повышает сопротивление теплопередачи
                                    </div>
                                    <div class="info-cols__desc-specification specification_3">
                                        <b>Винтовое крепление</b> через несколько стенок и армирующие наплывы профиля
                                        обеспечивают особую прочность крепления фурнитуры.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_big-window">
                <div class="info-cols info-cols_big-window block">
                    <div class="info-cols__wrapper block-wrapper">
                        <div class="info-cols__list">
                            <div class="info-cols__list-item">
                                <div class="info-cols__major info-cols__major_white info-cols__major_adapt">
                                    <div class="info-cols__title info-cols__title_white info-cols__title_bold info-cols__title_large">
                                        Бооооольшие размеры окна
                                    </div>
                                </div>
                                <div class="info-cols__main">
                                    <div class="info-cols__desc info-cols__desc_small info-cols__desc_white info-cols__desc_apadt info-cols__desc_medium">
                                        Специальная конструкция камер армирования, а также возможность применениятехнологии
                                        сухой статической вклейки стеклопакета позволяют создавать исключительные по размерам оконные конструкции.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_review">
                <div class="block review">
                    <div class="review__title">
                        Отзывы клиентов<br>о Salamander bluEvolution
                    </div>
                    <div class="list-video list-video_3x">
                        <div class="list-video__wrapper block-wrapper">
                            <div class="list-video__list">
                                {% set videos = [
                                {
                                href: 'https://www.youtube.com/watch?v=7tKb5u52nSE'
                                },{
                                href: 'https://www.youtube.com/watch?v=NcXNXnUr16Q'
                                },{
                                href: 'https://www.youtube.com/watch?v=iFiH6Z_3dNw'
                                }
                                ] %}

                                {% for video in videos %}
                                    <div class="list-video__list-item shadow">
                                        <a href="{{ video.href }}" data-fancybox="" class="video-item" style="background-image: url('http://placehold.it/392x264')">
                                            <img src="http://placehold.it/392x264" alt="">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item list-sections__list-item_helps">
                <div class="block help">
                    <div class="list-help">
                        <div class="list-help__wrapper block-wrapper">
                            <div class="list-help__list">
                                {% set helps = [
                                {
                                title:'Рассчитать стоимость',
                                style:'blue'
                                },{
                                title:'Подобрать  цвет',
                                style:'white'
                                }
                                ] %}

                                {% for help in helps %}
                                    <a href="#" class="list-help__list-item list-help__list-item_{{ help.style }} shadow">
                                        <div class="help-title help-title_{{ help.style }}">
                                            {{ help.title }}
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                </div>
            </div>
        </div>

            <div class="list-sections__list-item list-sections__list-item_profile">
                <div class="profiles-section profiles-block">
                    <div class="profiles__wrapper block-wrapper">
                        <div class="profiles__title profiles__title_center">
                            Профили Оригинала
                        </div>
                        <div class="profiles__table-wrapper">
                            <div class="profiles__table">
                                <div class="profiles__row profiles__row_logo">
                                    <div class="profiles__column profiles__column_first">

                                    </div>
                                    <div class="profiles__column profiles__column_salamander">

                                    </div>
                                    <div class="profiles__column profiles__column_border">

                                    </div>
                                    <div class="profiles__column profiles__column_exprof">

                                    </div>
                                    <div class="profiles__column">

                                    </div>
                                    <div class="profiles__column profiles__column_border">

                                    </div>
                                    <div class="profiles__column profiles__column_gealan profiles__column_border">

                                    </div>
                                    <div class="profiles__column profiles__column_ortex">

                                    </div>
                                    <div class="profiles__column">

                                    </div>
                                </div>
                                <div class="profiles__row ">
                                    <div class="profiles__column profiles__column_first">

                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-title_bold">
                                            Salamander
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border ">

                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-title_bold">
                                            Exprof
                                        </div>
                                    </div>
                                    <div class="profiles__column">

                                    </div>
                                    <div class="profiles__column profiles__column_border">

                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-title_bold">
                                            Gealan
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-title_bold">
                                            Ortex
                                        </div>
                                    </div>
                                    <div class="profiles__column">

                                    </div>
                                </div>
                                <div class="profiles__row profiles__row-title">
                                    <div class="profiles__column profiles__column_first">

                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-title">
                                            Streamline
                                            <span class="profiles__column-hit">★ хит</span>
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-title">
                                            bluEvolution
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-title">
                                            Experta
                                            <span class="profiles__column-hit">★ хит</span>
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-title">
                                            Profecta
                                            <span class="profiles__column-hit">★ хит</span>
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-title">
                                            Practica
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-title">
                                            S 8000
                                            <span class="profiles__column-hit">★ хит</span>
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-title">
                                            Optima
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-title">
                                            Classic
                                        </div>
                                    </div>
                                </div>
                                <div class="profiles__row profiles__row_blue">
                                    <div class="profiles__column profiles__column_first">
                                        Количество камер
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            6
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            6
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            6
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            6
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            6
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            6
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            6
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            6
                                        </div>
                                    </div>
                                </div>
                                <div class="profiles__row">
                                    <div class="profiles__column profiles__column_first">
                                        Ширина профиля
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            92 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            92 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            92 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            92 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            92 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            92 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            92 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            92 мм
                                        </div>
                                    </div>
                                </div>
                                <div class="profiles__row profiles__row_blue">
                                    <div class="profiles__column profiles__column_first">
                                        Сопративление теплопередаче
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            1.0 м² × С/Вт
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            1.0 м² × С/Вт
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            1.0 м² × С/Вт
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            1.0 м² × С/Вт
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            1.0 м² × С/Вт
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            1.0 м² × С/Вт
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            1.0 м² × С/Вт
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            1.0 м² × С/Вт
                                        </div>
                                    </div>
                            </div>
                                <div class="profiles__row">
                                    <div class="profiles__column profiles__column_first">
                                        Поверхность
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            глянцевая
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            глянцевая
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            глянцевая
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            глянцевая
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            глянцевая
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            глянцевая
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            глянцевая
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            глянцевая
                                        </div>
                                    </div>
                                </div>
                                <div class="profiles__row profiles__row_blue">
                                    <div class="profiles__column profiles__column_first">
                                        Толщина стеклопакета
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            52 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            52 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            52 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            52 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            52 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            52 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            52 мм
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            52 мм
                                        </div>
                                    </div>
                                </div>
                                <div class="profiles__row">
                                    <div class="profiles__column profiles__column_first">
                                        Кол-во контуров утепления
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            3
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            3
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            3
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            3
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            3
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            3
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            3
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            3
                                        </div>
                                    </div>
                                </div>
                                <div class="profiles__row profiles__row_blue">
                                    <div class="profiles__column profiles__column_first">
                                        Срок службы профиля
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            более 60 лет
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            более 60 лет
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            более 60 лет
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            более 60 лет
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            более 60 лет
                                        </div>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <div class="profiles__column-title profiles__column-cell">
                                            более 60 лет
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            более 60 лет
                                        </div>
                                    </div>
                                    <div class="profiles__column">
                                        <div class="profiles__column-title profiles__column-cell">
                                            более 60 лет
                                        </div>
                                    </div>
                                </div>
                                <div class="profiles__row profiles__row_buttons">
                                    <div class="profiles__column profiles__column_first">
                                    </div>
                                    <div class="profiles__column">
                                        <a href="#" class="profiles__column-button shadow">
                                            ПОДРОБНЕЕ
                                        </a>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <a href="#" class="profiles__column-button shadow">
                                            ПОДРОБНЕЕ
                                        </a>
                                    </div>
                                    <div class="profiles__column">
                                        <a href="#" class="profiles__column-button shadow">
                                            ПОДРОБНЕЕ
                                        </a>
                                    </div>
                                    <div class="profiles__column">
                                        <a href="#" class="profiles__column-button shadow">
                                            ПОДРОБНЕЕ
                                        </a>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <a href="#" class="profiles__column-button shadow">
                                            ПОДРОБНЕЕ
                                        </a>
                                    </div>
                                    <div class="profiles__column profiles__column_border">
                                        <a href="#" class="profiles__column-button shadow">
                                            ПОДРОБНЕЕ
                                        </a>
                                    </div>
                                    <div class="profiles__column">
                                        <a href="#" class="profiles__column-button shadow">
                                            ПОДРОБНЕЕ
                                        </a>
                                    </div>
                                    <div class="profiles__column">
                                        <a href="#" class="profiles__column-button shadow">
                                            ПОДРОБНЕЕ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="list-sections__list-item">
                <div class="info-cols info-cols_person info-cols_simple info-cols_bordered info-cols_padding-top_large block">
                    <div class="info-cols__wrapper block-wrapper">
                        <div class="info-cols__list">
                            <div class="info-cols__list-item info-cols__list-item_img">
                                <div class="info-cols__img info-cols__img_small">
                                    <img src="images/woman.png" alt="">
                                </div>
                            </div>
                            <div class="info-cols__list-item info-cols__list-item_desc">
                                <div class="info-cols__major">
                                    <div class="info-cols__title">
                                        Помочь в выборе окна?
                                    </div>
                                </div>
                                <div class="info-cols__side">
                                    <div class="header-middle__actions">
                                        <div class="header-middle__action-item">
                                            <div class="header-middle__callback">
                                                <button class="button">
                                                    <span class="button__content">
                                                        <span class="button__title">
                                                         Заказать консультацию
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="header-middle__actions-item">
                                            <a href="tel:+79520074578" class="header-middle__phone">
                                                <sup class="code">(38-52)</sup> 61-61-68
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-sections__list-item">
                <div class="steps block">
                    <div class="steps__wrapper block-wrapper">
                        <div class="steps__title">
                            Разобраться самостоятельно
                        </div>
                        <div class="steps__desc">
                            Окно — технически сложная конструкция, поэтому самостоятельно разбраться в деталях и сделать правильный выбор для большинства людей задача не простая. Мы попытались кратко и понятно рассказать вам о каждом элементе окна, чтобы вы обладали основными знаниями и чувствовали
                            себя уверенно.
                        </div>
                        <div class="steps__list">
                            {% set steps = [{
                            title:'Профиль',
                            },{
                            title:'Стеклопакет',
                            },{
                            title:'Фурнитура',
                            },{
                            title:'Цвет',
                            },{
                            title:'Расчет  стоимости',
                            },{
                            title:'Монтаж',
                            }] %}

                            {% for step in steps %}
                                <div class="steps__list-item">
                                    <div class="steps-item">
                                        <div class="steps-item__wrapper">
                                            <div class="steps-item__title">
                                                {{ loop.index ~ '.' }}
                                            </div>
                                            <div class="steps-item__desc">
                                                <div class="steps-item__desc-caption">
                                                    {{ step.title }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
