{% extends "common/base.twig" %}
{% block body_mod %}is-header-normal{% endblock %}
{% block body %}
    <div class="list-sections">
        <div class="list-sections__list">
            <div class="list-sections__list-item list-sections__list-item_project-card">
                <div class="projects block">
                    <div class="projects__wrapper block-wrapper">
                        <div class="projects__title">
                            Другие проекты
                        </div>
                        <div class="projects__nav">
                            <div class="projects__nav-list">
                                <div class="projects__nav-item projects__nav-item_active">
                                    <a href="#" class="projects__nav-link">Все проекты</a>
                                </div>
                                <div class="projects__nav-item">
                                    <a href="#" class="projects__nav-link">Частные проекты</a>
                                </div>
                                <div class="projects__nav-item">
                                    <a href="#" class="projects__nav-link">Коммерческие объекты</a>
                                </div>
                            </div>
                        </div>
                        <div class="projects__list projects__list_3x">
                            <div class="projects__list-item">
                                <div class="projects__item">
                                    <div class="projects__item-main">
                                        <div class="projects__item-img">
                                            <img src="http://placehold.it/385x240" alt="">
                                        </div>
                                    </div>
                                    <div class="projects__item-side">
                                        <a href="#" class="projects__item-link">
                                            Пентхаус на Речном
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__list-item">
                                <div class="projects__item">
                                    <div class="projects__item-main">
                                        <div class="projects__item-img">
                                            <img src="http://placehold.it/385x240" alt="">
                                        </div>
                                    </div>
                                    <div class="projects__item-side">
                                        <a href="#" class="projects__item-link">
                                            Пентхаус на Речном
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__list-item">
                                <div class="projects__item">
                                    <div class="projects__item-main">
                                        <div class="projects__item-img">
                                            <img src="http://placehold.it/385x240" alt="">
                                        </div>
                                    </div>
                                    <div class="projects__item-side">
                                        <a href="#" class="projects__item-link">
                                            Пентхаус на Речном
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__list-item">
                                <div class="projects__item">
                                    <div class="projects__item-main">
                                        <div class="projects__item-img">
                                            <img src="http://placehold.it/385x240" alt="">
                                        </div>
                                    </div>
                                    <div class="projects__item-side">
                                        <a href="#" class="projects__item-link">
                                            Пентхаус на Речном
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__list-item">
                                <div class="projects__item">
                                    <div class="projects__item-main">
                                        <div class="projects__item-img">
                                            <img src="http://placehold.it/385x240" alt="">
                                        </div>
                                    </div>
                                    <div class="projects__item-side">
                                        <a href="#" class="projects__item-link">
                                            Пентхаус на Речном
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__list-item">
                                <div class="projects__item">
                                    <div class="projects__item-main">
                                        <div class="projects__item-img">
                                            <img src="http://placehold.it/385x240" alt="">
                                        </div>
                                    </div>
                                    <div class="projects__item-side">
                                        <a href="#" class="projects__item-link">
                                            Пентхаус на Речном
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
