{% extends "common/base.twig" %}
{% block body_mod %}is-header-normal{% endblock %}
{% block body %}
    <div class="list-sections">
        <div class="list-sections__list">
            <div class="list-sections__list-item list-sections__list-item_project-card">
                <div class="project block">
                    <div class="project__wrapper block-wrapper">
                        <div class="project__major">
                            <div class="project__breadcrumbs">
                                <div class="blu-crumbs blu-crumbs_black">
                                    <a href="#" class="blu-crumbs__crumb">Главная</a>
                                    <span class="blu-crumbs__delim">→</span>
                                    <a class="blu-crumbs__crumb blu-crumbs__crumb_current">Профильные системы</a>
                                </div>
                            </div>
                            <div class="project__title">
                                Коттедж в авиаторе
                            </div>
                            <div class="project__major-wrapper">
                                <div class="project__main">
                                    <div js-gallery class="project__gallery">
                                        <div class="project__gallery-main">
                                            <div js-gallery-main class="gallery-slider gallery-slider_main">
                                                <div js-gallery-main-list class="gallery-slider__list">
                                                    <div js-gallery-main-item data-index="1"
                                                         class="gallery-slider__item">
                                                        <a href="http://placehold.it/1920x1080"
                                                           data-fancybox=1 class="gallery-slider__link">
                                                            <img src="http://placehold.it/1920x1080" class="gallery-slider__img">
                                                        </a>
                                                    </div>
                                                    <div js-gallery-main-item data-index="2"
                                                         class="gallery-slider__item">
                                                        <a href="http://placehold.it/1920x1080"
                                                           data-fancybox=1 class="gallery-slider__link">
                                                            <img src="http://placehold.it/1920x1080" class="gallery-slider__img">
                                                        </a>
                                                    </div>
                                                    <div js-gallery-main-item data-index="3"
                                                         class="gallery-slider__item">
                                                        <a href="http://placehold.it/1920x1080"
                                                           data-fancybox=1 class="gallery-slider__link">
                                                            <img src="http://placehold.it/1920x1080" class="gallery-slider__img">
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="gallery-slider__nav">
                                                    <div js-gallery-main-nav class="gallery-slider__nav-list"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="project__gallery-side">
                                            <div js-gallery-preview class="gallery-slider gallery-slider_previews">
                                                <div js-gallery-preview-list class="gallery-slider__list">
                                                    <div js-gallery-preview-item data-index="1"
                                                         class="gallery-slider__item is-active">
                                                        <a href="http://placehold.it/1920x1080" data-fancybox class="gallery-slider__link">
                                                            <img src="http://placehold.it/175x120"
                                                                 class="gallery-slider__img">
                                                        </a>
                                                    </div>
                                                    <div js-gallery-preview-item data-index="2"
                                                         class="gallery-slider__item">
                                                        <a href="http://placehold.it/1920x1080" data-fancybox class="gallery-slider__link">
                                                            <img src="http://placehold.it/175x120"
                                                                 class="gallery-slider__img">
                                                        </a>
                                                    </div>
                                                    <div js-gallery-preview-item data-index="3"
                                                         class="gallery-slider__item">
                                                        <a href="http://placehold.it/1920x1080" data-fancybox class="gallery-slider__link">
                                                            <img src="http://placehold.it/175x120"
                                                                 class="gallery-slider__img">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="project__side">
                                    <div class="project__table">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td><b>Изделие</b></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Используемый профиль</b></td>
                                                <td>Exprof Prowin</td>
                                            </tr>
                                            <tr>
                                                <td><b>Используемый профиль</b></td>
                                                <td>Exprof Prowin</td>
                                            </tr>
                                            <tr>
                                                <td><b>Используемый профиль</b></td>
                                                <td>Exprof Prowin</td>
                                            </tr>
                                            <tr>
                                                <td><b>Используемый профиль</b></td>
                                                <td>Exprof Prowin</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="project__desc">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, amet commodi consequatur cumque excepturi itaque iure laboriosam molestiae mollitia necessitatibus nihil nostrum numquam porro quaerat tempora vel vitae voluptas. Aut!
                                    </div>
                                    <div class="project__actions">
                                        <div class="project__action">
                                            <button class="button">
                                        <span class="button__content">
                                            <span class="button__title">
                                                Обсудить ваш проект
                                            </span>
                                        </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project__minor">
                            <div class="projects">
                                <div class="projects__wrapper">
                                    <div class="projects__title projects__title_center">
                                        Другие проекты
                                    </div>
                                    <div class="projects__list projects__list_3x">
                                        <div class="projects__list-item">
                                            <div class="projects__item">
                                                <div class="projects__item-main">
                                                    <div class="projects__item-img">
                                                        <img src="http://placehold.it/385x240" alt="">
                                                    </div>
                                                </div>
                                                <div class="projects__item-side">
                                                    <a href="#" class="projects__item-link">
                                                        Пентхаус на Речном
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="projects__list-item">
                                            <div class="projects__item">
                                                <div class="projects__item-main">
                                                    <div class="projects__item-img">
                                                        <img src="http://placehold.it/385x240" alt="">
                                                    </div>
                                                </div>
                                                <div class="projects__item-side">
                                                    <a href="#" class="projects__item-link">
                                                        Пентхаус на Речном
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="projects__list-item">
                                            <div class="projects__item">
                                                <div class="projects__item-main">
                                                    <div class="projects__item-img">
                                                        <img src="http://placehold.it/385x240" alt="">
                                                    </div>
                                                </div>
                                                <div class="projects__item-side">
                                                    <a href="#" class="projects__item-link">
                                                        Пентхаус на Речном
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="projects__list-item">
                                            <div class="projects__item">
                                                <div class="projects__item-main">
                                                    <div class="projects__item-img">
                                                        <img src="http://placehold.it/385x240" alt="">
                                                    </div>
                                                </div>
                                                <div class="projects__item-side">
                                                    <a href="#" class="projects__item-link">
                                                        Пентхаус на Речном
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="projects__list-item">
                                            <div class="projects__item">
                                                <div class="projects__item-main">
                                                    <div class="projects__item-img">
                                                        <img src="http://placehold.it/385x240" alt="">
                                                    </div>
                                                </div>
                                                <div class="projects__item-side">
                                                    <a href="#" class="projects__item-link">
                                                        Пентхаус на Речном
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="projects__list-item">
                                            <div class="projects__item">
                                                <div class="projects__item-main">
                                                    <div class="projects__item-img">
                                                        <img src="http://placehold.it/385x240" alt="">
                                                    </div>
                                                </div>
                                                <div class="projects__item-side">
                                                    <a href="#" class="projects__item-link">
                                                        Пентхаус на Речном
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="projects__action projects__action_gap_none">
                                        <div class="projects__action-btn">
                                            <a href="#" class="button button_blue button_outline">
                                    <span class="button__content">
                                        <span class="button__title">
                                            Смотреть все проекты
                                        </span>
                                    </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
