{% extends "common/base.twig" %}

{% block body_mod %}is-header-normal{% endblock %}
{% block body %}
    <div class="list-sections">
        <div class="list-sections__list">
            <div class="list-sections__list-item">
                <div class="still block">
                    <div class="still__wrapper block-wrapper">
                        <h1 class="still__title">
                            Подоконники Crystallit и&nbsp;Estera
                        </h1>
                        <div class="still__desc">
                            <div class="still__desc-wrapper">
                                <div class="still__desc-main">
                                    Подоконники марок Crystallit и&nbsp;Estera притягивают внимание и&nbsp;являются украшением любого интерьера. Благодаря множеству вариантов декора будет удовлетворен самый взысательный вкус. Большая толщина внутренних стенок подоконника обеспечивает повышенную
                                    прочность, а&nbsp;ультрасовременной пленка из&nbsp;акриловых смол DST, нанесенная на&nbsp;поверхность&nbsp;&mdash; защиту от&nbsp;механических повреждений и&nbsp;долговечность. Доступна матовая или глянцевая поверхность на&nbsp;выбор.
                                </div>
                                <div class="still__desc-side">
                                    <a href="https://www.youtube.com/watch?v=zZUbXAVV-HA&t=1126s" data-fancybox="" class="video-item" style="background-image: url('http://placehold.it/456x308')">
                                        <img src="http://placehold.it/456x308" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="still__advantages">
                            {% set advantages = [
                                {
                                    icon:'icon-1.svg',
                                    desc:'Срок эксплуатации до 70 лет',
                                },{
                                    icon:'icon-2.svg',
                                    desc:'Не выцветает  на солнце',
                                },{
                                    icon:'icon-3.svg',
                                    desc:'Повышенная термостойкость',
                                },{
                                    icon:'icon-4.svg',
                                    desc:'Стойкость  к истиранию',
                                },{
                                    icon:'icon-5.svg',
                                    desc:'Высокая  прочность',
                                },{
                                    icon:'icon-6.svg',
                                    desc:'Экологически  безопасен',
                                }
                            ] %}
                            <div class="still__advantages-list">
                                {% for advantage in advantages %}
                                    <div class="still__advantages-item">
                                        <div class="still__advantage">
                                            <div class="still__advantage-icon">
                                                <img src="images/still/{{ advantage.icon }}" alt="">
                                            </div>
                                            <div class="still__advantage-desc">{{ advantage.desc }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="still__cols">
                            <div class="still__cols-item">
                                <div class="still__col">
                                    <div class="still__col-side">
                                        <div class="still__col-img still__col-img_left" style="background-image: url('http://placehold.it/720x336')"></div>
                                    </div>
                                    <div class="still__col-main">
                                        <div class="still__col-desc">
                                            <b>Подоконник Crystallit</b> — на ваш выбор матовая или глянцевая поверхность, более 30 декоров.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="still__cols-item">
                                <div class="still__col">
                                    <div class="still__col-side">
                                        <div class="still__col-img still__col-img_right" style="background-image: url('http://placehold.it/720x336')"></div>
                                    </div>
                                    <div class="still__col-main still__col-main_ml_auto">
                                        <div class="still__col-desc">
                                            <b>Подоконник Estera</b> — прекрасный дизайн закругленного носика и каменные декоры создают впечатление подоконника из натурального камня.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="still__videos">
                            <div class="still__videos-side">
                                <div class="still__videos-title">
                                    Видео с испытаниями подоконников Crystallit и Estera
                                </div>
                            </div>
                            <div class="still__videos-main">
                                <div class="video-list">
                                    <div class="video-list__list">
                                        <div class="video-list__list-item">
                                            <a href="https://www.youtube.com/watch?v=zZUbXAVV-HA&t=1126s" data-fancybox="" class="video-item" style="background-image: url('http://placehold.it/456x308')">
                                                <img src="http://placehold.it/456x308" alt="">
                                            </a>
                                        </div>
                                        <div class="video-list__list-item">
                                            <a href="https://www.youtube.com/watch?v=zZUbXAVV-HA&t=1126s" data-fancybox="" class="video-item" style="background-image: url('http://placehold.it/456x308')">
                                                <img src="http://placehold.it/456x308" alt="">
                                            </a>
                                        </div>
                                        <div class="video-list__list-item">
                                            <a href="https://www.youtube.com/watch?v=zZUbXAVV-HA&t=1126s" data-fancybox="" class="video-item" style="background-image: url('http://placehold.it/456x308')">
                                                <img src="http://placehold.it/456x308" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="still__table">
                            <div class="still__table-main">
                                <div class="still__table-title">
                                    Цены и форма отпуска
                                </div>
                            </div>
                            <div class="still__table-side">
                                <div class="still__table-main">
                                    <table>
                                        <tbody>
                                        <tr></tr>
                                        <tr>
                                            <td class="title">Глубина, мм</td>
                                            <td class="title">Crystallit, ₽/м</td>
                                            <td class="title">Estera, ₽/м</td>
                                        </tr>
                                        <tr>
                                            <td>150</td>
                                            <td>200</td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>150</td>
                                            <td>200</td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>150</td>
                                            <td>200</td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>150</td>
                                            <td>200</td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>150</td>
                                            <td>200</td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>150</td>
                                            <td>200</td>
                                            <td>300</td>
                                        </tr>
                                        <tr>
                                            <td>150</td>
                                            <td>200</td>
                                            <td>300</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="still__slider">
                            <div class="still__slider-side">
                                <div class="still__slider-title">
                                    Декоры Crystallit
                                </div>
                            </div>
                            <div class="still__slider-main">
                                <div js-still class="still-slider">
                                    <div js-still-slider class="still-slider__wrapper">
                                        <div js-still-slider-nav class="still-slider__nav"></div>
                                        <div js-still-slider-list class="still-slider__list">
                                            {% set stilles = [
                                                {
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                }
                                            ] %}
                                            {% for stille in stilles %}
                                                <div class="still-slider__list-item">
                                                    <div class="still-slider__item">
                                                        <div class="still-slider__item-side">
                                                            <div class="still-slider__item-img" style="background-image: url({{ stille.icon }})"></div>
                                                        </div>
                                                        <div class="still-slider__item-main">
                                                            <div class="still-slider__item-title">
                                                                {{ stille.title }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="still__slider">
                            <div class="still__slider-side">
                                <div class="still__slider-title">
                                    Декоры Crystallit
                                </div>
                            </div>
                            <div class="still__slider-main">
                                <div js-still class="still-slider">
                                    <div js-still-slider class="still-slider__wrapper">
                                        <div js-still-slider-nav class="still-slider__nav"></div>
                                        <div js-still-slider-list class="still-slider__list">
                                            {% set stilles = [
                                                {
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                },{
                                                    title:'Антрацит',
                                                    icon:'http://placehold.it/128x128',
                                                }
                                            ] %}
                                            {% for stille in stilles %}
                                                <div class="still-slider__list-item">
                                                    <div class="still-slider__item">
                                                        <div class="still-slider__item-side">
                                                            <div class="still-slider__item-img" style="background-image: url({{ stille.icon }})"></div>
                                                        </div>
                                                        <div class="still-slider__item-main">
                                                            <div class="still-slider__item-title">
                                                                {{ stille.title }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="still__gallery">
                            <div class="still__gallery-side">
                                <div class="still__gallery-title">
                                    Фотогалерея подоконников
                                </div>
                            </div>
                            <div class="still__gallery-main">
                                <div js-masonry class="still__gallery-list">
                                    <a href="http://placehold.it/392x552" data-fancybox js-masonry-item class="still__gallery-item">
                                        <img src="http://placehold.it/392x552" alt="">
                                    </a>
                                    <a href="http://placehold.it/392x264" data-fancybox="" js-masonry-item class="still__gallery-item">
                                        <img src="http://placehold.it/392x264" alt="">
                                    </a>

                                    <a href="http://placehold.it/392x264" data-fancybox="" js-masonry-item class="still__gallery-item">
                                        <img src="http://placehold.it/392x264" alt="">
                                    </a>

                                    <a href="http://placehold.it/392x264" data-fancybox="" js-masonry-item class="still__gallery-item">
                                        <img src="http://placehold.it/392x264" alt="">
                                    </a>

                                    <a href="http://placehold.it/392x552" data-fancybox js-masonry-item class="still__gallery-item">
                                        <img src="http://placehold.it/392x552" alt="">
                                    </a>
                                    <a href="http://placehold.it/392x264" data-fancybox="" js-masonry-item class="still__gallery-item">
                                        <img src="http://placehold.it/392x264" alt="">
                                    </a>
                                    <a href="http://placehold.it/392x264" data-fancybox="" js-masonry-item class="still__gallery-item">
                                        <img src="http://placehold.it/392x264" alt="">
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
