<!DOCTYPE html>
<html>
{% set asset_version = '08' %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <title> Original </title>
    <meta name="description" content="Описание главной"/>
    <meta name="title" content="Original"/>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="css/vendor.css?{{ asset_version }}">
        <link rel="stylesheet" href="css/common.css?{{ asset_version }}">
    {% endblock %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7279ff52-8cf6-46ef-9f49-043703363ac3&lang=ru_RU" type="text/javascript">
    </script>
</head>
<body class="body {% block body_mod %}{% endblock %}">
<div class="body__wrapper">
    <div class="body__header">
        {% block header %}
            {% include 'header.twig' %}
        {% endblock %}
    </div>
    <div class="body__content">
        {% block body %}{% endblock %}
    </div>
    <div class="body__footer">
        {% block footer %}
            {% include 'footer.twig' %}
        {% endblock %}
    </div>
</div>

{% block javascripts %}
    <script src="js/vendor.js?{{ asset_version }}"></script>
    <script src="js/common.js?{{ asset_version }}"></script>
{% endblock %}

<script>
  app.start()
</script>
{% include '../layers/callback.twig' %}
{% include '../layers/menu.twig' %}
</body>
</html>
