<div class="footer block">
    <div class="footer__wrapper block-wrapper">
        <div class="footer-main footer__main">
            <div class="footer-main__cols">
                <div class="footer-main__col footer-main__col_uno">
                    <div class="footer-nav footer-nav_large">
                        <div class="footer-nav__list footer-nav__list_scroll">
                            {% set nav_uno = [{
                                title:'Пластиковые окна',
                                url:'#',
                            },{
                                title:'Профильные системы',
                                url:'#',
                            },{
                                title:'Монтаж',
                                url:'#',
                            },{
                                title:'Дилерам',
                                url:'#',
                            },{
                                title:'Акции',
                                url:'#',
                            }] %}
                            {% for link in nav_uno %}
                                <div class="footer-nav__item">
                                    <a href="{{ link.url }}" class="footer-nav__item-link">{{ link.title }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="footer-main__col footer-main__col_dos">
                    <div class="footer-nav">
                        <div class="footer-nav__list footer-nav__list_scroll">
                            {% set nav_dos = [{
                                title:'Подоконники',
                                url:'#',
                            },{
                                title:'Остекление балконов',
                                url:'#',
                            },{
                                title:'Пластиковые двери',
                                url:'#',
                            },{
                                title:'Фасады',
                                url:'#',
                            },{
                                title:'Жалюзи',
                                url:'#',
                            },{
                                title:'Ворота',
                                url:'#',
                            },{
                                title:'Стеклопакет',
                                url:'#',
                            },{
                                title:'Фурнитура',
                                url:'#',
                            }] %}
                            {% for link in nav_dos %}
                                <div class="footer-nav__item">
                                    <a href="{{ link.url }}" class="footer-nav__item-link">{{ link.title }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="footer-main__col footer-main__col_tres">
                    <div class="footer-nav">
                        <div class="footer-nav__list footer-nav__list_scroll">
                            {% set nav_tres = [{
                                title:'Ремонт окон',
                                url:'#',
                            },{
                                title:'Кашировка',
                                url:'#',
                            },{
                                title:'Аквапечать',
                                url:'#',
                            },{
                                title:'Архитекторам и дизайнерам',
                                url:'#',
                            },{
                                title:'Юридическим лицам',
                                url:'#',
                            },{
                                title:'О компании',
                                url:'#',
                            },{
                                title:'Контакты',
                                url:'#',
                            },{
                                title:'Выполненные проекты',
                                url:'#',
                            }] %}
                            {% for link in nav_tres %}
                                <div class="footer-nav__item">
                                    <a href="{{ link.url }}" class="footer-nav__item-link">{{ link.title }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="footer-main__col footer-main__col_cuatro">
                    <div class="footer-main__socials">
                        {% set socials = [
                            {
                                mod:'vk',
                                url:'#'
                            },{
                                mod:'instagram',
                                url:'#'
                            }
                        ] %}
                        <div class="social social_large">
                            <div class="social__wrapper">
                                <div class="social__side">
                                    <div class="social__title">
                                        Наши соцсети:
                                    </div>
                                </div>
                                <div class="social__main">
                                    <div class="social__list">
                                        {% for social in socials %}
                                            <div class="social__list-item">
                                                <a href="{{ social.url }}" target="_blank" class="social-badge {{ 'social-badge_' ~ social.mod }}"></a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-main__actions">
                        <div class="footer-main__actions-item">
                            <button class="button button_outline">
                                <span class="button__content">
                                    <span class="button__title">
                                        Рассчитать стоимость
                                    </span>
                                </span>
                            </button>
                        </div>
                        <div class="footer-main__actions-item">
                            <button class="button button_outline">
                                <span class="button__content">
                                    <span class="button__title">
                                        Сконструировать окно
                                    </span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-side footer__side">
            <div class="footer-side__wrapper">
                <div class="footer-side__main">
                    <div class="footer-side__logo">
                        <a href="/" class="footer-side__logo-main">
                            <img src="images/logo-footer.png" alt='Логотип оригинал' class="footer-side__logo-img">
                        </a>
                        <div class="footer-side__logo-side">
                            <div class="footer-side__logo-caption">
                                завод светопрозрачных конструкций
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-side__side">
                    <div class="footer-side__copyright">
                        © 2018. Сайт сделан в <a href="http://siteroad.su" target="_blank" class="footer-side__copyright-link">Siteroad</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>