<div class="header block">
    <div class="header-desktop">
        <div class="header__wrapper block-wrapper">
            <div class="header-top header__top">
                <div class="header-top__wrapper">
                    <div class="header-top__main">
                        <div class="header-top__nav">
                            {% set top_nav = [{
                                url:'#',
                                title:'о компании'
                            },{
                                url:'#',
                                title:'контакты'
                            },{
                                url:'#',
                                title:'партнёрам'
                            },{
                                url:'#',
                                title:'конструкция окон',
                                mod:'window'
                            }] %}
                            <div class="header-top__nav-list">
                                {% for link in top_nav %}
                                    <div class="header-top__nav-item">
                                        <a href="{{ link.url }}" class="header-top__nav-link"> {% if link.mod is defined %} <span class="icon"> ❖ </span> {% endif %} {{ link.title }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="header-top__side">
                        {% set socials = [
                            {
                                mod:'vk',
                                url:'#'
                            },{
                                mod:'instagram',
                                url:'#'
                            }
                        ] %}
                        <div class="social">
                            <div class="social__wrapper">
                                <div class="social__side">
                                    <div class="social__title">
                                        НАШИ СОЦСЕТИ:
                                    </div>
                                </div>
                                <div class="social__main">
                                    <div class="social__list">
                                        {% for social in socials %}
                                            <div class="social__list-item">
                                                <a href="{{ social.url }}" target="_blank" class="social-badge {{ 'social-badge_' ~ social.mod }}"></a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle header__middle">
                <div class="header-middle__wrapper">
                    <div class="header-middle__left">
                        <a href="/" class="header-middle__logo">
                            <img src="images/logo.svg" class="header-middle__logo-img" alt="Логотип оригинал">
                        </a>
                    </div>
                    <div class="header-middle__middle">
                        <div js-toggle-box class="office-box">
                            <div class="office-box__side">
                                <a href="#" class="link link_large link_dashed">ОФИСЫ В БАРНАУЛЕ</a>
                            </div>
                            <div class="office-box__main">
                                <div js-toggle-box-close class="office-box__close"></div>
                                <div class="office-box__sections">
                                    <div class="office-box__section">
                                        пр-т Строителей, 11
                                        <a href="tel:3852616168">(38-52) 61-61-68</a>
                                        <a href="tel:3852610589">(38-52) 61-05-89</a>
                                    </div>
                                    <div class="office-box__section">
                                        ул. Э. Алексеевой, 126в
                                        <a href="tel:3852505268">(38-52) 50-52-68</a>
                                        <a href="tel:3852717300">(38-52) 717-300</a>
                                    </div>
                                    <div class="office-box__section">
                                        пр-т Космонавтов, 32м
                                        <a href="tel:3852500525">(38-52) 50-05-25</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-middle__right">
                        <div class="header-middle__actions">
                            <div class="header-middle__actions-item">
                                <a href="tel:+79520074578" class="header-middle__phone">
                                    <sup class="code">(38-52)</sup> 61-61-68
                                </a>
                            </div>
                            <div class="header-middle__action-item">
                                <div class="header-middle__callback">
                                    <button class="button button_small">
                                    <span class="button__content">
                                        <span class="button__title">
                                            Задать вопрос
                                        </span>
                                    </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header__bottom">
                <div class="header-bottom__wrapper">
                    <div class="header-bottom__nav">
                        <div class="header-bottom__nav-list">
                            {% set nav_bottom = [{
                                title:'Пластиковые окна',
                                url:'#'
                            },{
                                title:'Комплектующие',
                                url:'#'
                            },{
                                title:'Продукция',
                                children: [{
                                    title:'Первый пункт',
                                    url:'#',
                                },{
                                    title:'Второй пункт',
                                    url:'#',
                                }],
                                url:'#'
                            },{
                                title:'Калькулятор',
                                url:'#'
                            },{
                                title:'Покупателю',
                                url:'#'
                            },{
                                title:'Услуги',
                                url:'#'
                            },{
                                title:'Акции',
                                url:'#'
                            },{
                                title:'Отзывы',
                                url:'#'
                            },{
                                title:'Проекты',
                                url:'#'
                            }] %}
                            {% for link in nav_bottom %}
                                {% if link.children is defined %}
                                    <div class="header-bottom__nav-item header-bottom__nav-item_no_hover">
                                        <div class="header-bottom__toggle">
                                            <div class="header-bottom__toggle-side"> {{ link.title }}</div>
                                            <div class="header-bottom__toggle-main">
                                                <div class="header-bottom__toggle-list">
                                                    {% for nav in link.children %}
                                                        <div class="header-bottom__toggle-item">
                                                            <a href="{{ nav.url }}" class="header-bottom__toggle-link"> {{ nav.title }}</a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="header-bottom__nav-item">
                                        <a href="{{ link.url }}" class="header-bottom__nav-link">{{ link.title }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-mobile__wrapper">
            <div class="header-mobile__main">
                <a href="/" class="header-mobile__logo">
                    <img src="images/logo.svg" class="header-mobile__logo-img" alt="Логотип оригинал">
                </a>
            </div>
            <div class="header-mobile__side">
                <div class="header-mobile__actions">
                    <div class="header-mobile__actions-item">
                        <div js-toggle-box class="office-box">
                            <div class="office-box__side">
                                <a href="#" class="link link_small link_dashed">ОФИСЫ В БАРНАУЛЕ</a>
                            </div>
                            <div class="office-box__main">
                                <div js-toggle-box-close class="office-box__close"></div>
                                <div class="office-box__sections">
                                    <div class="office-box__section">
                                        пр-т Строителей, 11
                                        <a href="tel:3852616168">(38-52) 61-61-68</a>
                                        <a href="tel:3852610589">(38-52) 61-05-89</a>
                                    </div>
                                    <div class="office-box__section">
                                        ул. Э. Алексеевой, 126в
                                        <a href="tel:3852505268">(38-52) 50-52-68</a>
                                        <a href="tel:3852717300">(38-52) 717-300</a>
                                    </div>
                                    <div class="office-box__section">
                                        пр-т Космонавтов, 32м
                                        <a href="tel:3852500525">(38-52) 50-05-25</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-mobile__actions-item">
                        <a href="tel:+79508504545" class="header-mobile__phone"></a>
                    </div>
                    <div class="header-mobile__actions-item">
                        <div js-header-menu class="header-mobile__menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>