grid-width($size, $width = $grid-width, $gap = $grid-gap) {
   return round($width * $size + $gap * ($size - 1))
}

$block,
.block {
   box-sizing border-box
   padding-left $block-padding
   padding-right $block-padding
}
+do(750) {
   .block {
      padding-left $block-padding-small
      padding-right $block-padding-small
   }
}

.block_padding-top_medium {
   padding-top 50px
}

.block_padding-top_large {
   padding-top 80px
}
+do(750) {
   .block_padding-top_large {
      padding-top 25px
   }
}

.block_padding-top_xmedium {
   padding-top 45px
}
+do(750) {
   .block_padding-top_xmedium {
      padding-top 20px
   }
}

.block_bg_white {
   background-color white
}

.block_box {
   border-top 1px solid rgba(white,0)
   border-bottom 1px solid rgba(white,0)
}

.block_offset-border_top  {
   position relative
   &:before {
      content ''
      position absolute
      left 0
      right 0
      height 1px
      top -20px
      background-color #D5EAF5
   }
}

.block_out-border_top {
   &:before {
      top 20px
   }
}


$block-wrapper,
.block-wrapper {
   box-sizing border-box
   margin-left auto
   margin-right auto
   if ($block-max-width) {
      min-width $block-width
      max-width $block-max-width
   } else {
      width $block-width
   }
}

.block-wrapper_small {
   max-width $block-max-width-small
}


.block-header {
   &__wrapper {
      padding-bottom 35px
   }
   &__title {
      font-size $size-xxlarge
      line-height $line-xxlarge
      font-weight 500
   }
}

.block-header_border-bottom {
   border-bottom 1px solid $color-grey-light
}

.block-header_padding-bottom_small {
   .block-header {
      &__wrapper {
         padding-bottom 24px
      }
   }
}
