.button::-moz-focus-inner {
   padding 0
   border 0
}

$button,
.button {
   cursor pointer
   user-select none
   box-sizing border-box
   vertical-align top
   display inline-block
   position relative
   padding 0
   border 0
   border-radius 0
   outline none
   background none
   font-family $font-main
   font-style normal
   font-weight 500
   font-size 14px
   line-height 1.2
   letter-spacing 0.06em
   text-align center
   text-transform uppercase
   text-decoration none
   transition .3s ease
   input {
      pointer-events none
      opacity 0
      position absolute
      top 0
      left 0
   }
   &__icon {
      flex 0 0 auto
      display flex
      align-items center
      justify-content center
      position relative
      margin-right 10px
      &::before {
         content ''
         transition opacity $transition-fast
         opacity 1
         flex 0 0 auto
         display block
      }
      &::after {
         content ''
         transition opacity $transition-fast
         transition-delay .025s
         opacity 0
         flex 0 0 auto
         position absolute
         // top 0
         // left 0
      }
   }
   &__content {
      transition $transition-fast
      box-sizing border-box
      display flex
      align-items center
      justify-content center
      position relative
      padding 0 (30/14)em
      border 1px solid #336fe6
      border-radius 3px
      flex 0 0 auto
      outline none
      color white
      box-shadow: 0 8px 13px 0 rgba(0, 56, 167, 0.2);
      background-image: linear-gradient(to top, #0038a7, #336fe6);
   }
   &__title {
      padding (14/14)em 0 (14/14)em
      &_bold {
         font-weight 700
      }
   }

   input:checked ~ &__content {
      color $color-white
      border-color $color-blue
      background-color $color-blue
   }

   &.is-hover,
   &:hover {
      transform translateY(-3px)
      opacity .8
      .button__content {
      }
   }
   &.is-active,
   &:active {
      .button__content {
         opacity 0.9
      }
   }
   &.is-disabled,
   &:disabled {
      pointer-events none
      border 0 !important
      background none !important

      .button__content {
         color $color-white !important
         border-color $color-grey !important
         box-shadow none !important
         background-image none !important
         background-color $color-grey !important
      }
   }

   &.is-loading {
      opacity .5
   }
}

.button_small {
   font-size 12px
   .button {
      &__content {
         padding 0 16px
      }
      &__title {
         padding 7px 0
      }
   }
}

.button_outline {
   font-size 14px
   line-height 1.2
   .button {
      &__content {
         box-shadow none
         background rgba(white, 0)
         color #a6a8b9
         padding 0 24px
         border 2px solid #a6a8b9
      }
      &__title {
         padding 14px 0 14px
      }
   }
   &:hover {
      & .button__content {
         opacity 1
         box-shadow none
         background #a6a8b9
         color white
         border 2px solid #a6a8b9
      }
   }
}

.button_full {
   width 100%
}

+do(750) {
   .button_xs_full {
      width 100%
   }
}

.button_arrow_right {
   .button {
      &__content {
         background rgba(white, 0)
         box-shadow none
         border-color rgba(white, 0)
      }
      &__title {
         color $color-orange
         position relative
         padding-right 20px
         font-weight 700
         &:before {
            content ''
            position absolute
            right 0
            top 50%
            display block
            transform translateY(-50%)
            svg('arrow-right-small', 14px, $color-orange)
            margin-top 0
         }
      }
   }
   &:hover {
      & .button__content {
         background rgba(white, 0)
         border-color rgba(white, 0)
         box-shadow none
         opacity 0.8
      }
   }
}

.button_arrow_left {
   .button {
      &__content {
         background rgba(white, 0)
         box-shadow none
         border-color rgba(white, 0)
      }
      &__title {
         color $color-orange
         position relative
         padding-left 20px
         font-weight 700
         &:before {
            content ''
            position absolute
            left 0
            top 50%
            display block
            transform translateY(-50%) rotate(180deg)
            svg('arrow-right-small', 14px, $color-orange)
            margin-top -1px
         }
      }
   }
   &:hover {
      & .button__content {
         background rgba(white, 0)
         border-color rgba(white, 0)
         box-shadow none
         opacity 0.8
      }
   }
}

.button_padding_none {
   .button {
      &__content {
         padding 0
      }
   }
}

+do(750) {
   .button_font-size_small_s {
      .button {
         &__title {
            font-size 14px
         }
      }
   }
}

.button_white {
   .button {
      &__content {
         background white
         border-color white
         color #0038a7
         border 1px solid rgba(0, 56, 167, 0.1)
         box-shadow: 0 8px 13px 0 rgba(0, 56, 167, 0.2);
         background-image: linear-gradient(to top, #eeeff2, #ffffff);
         font-weight 700
      }
   }
}

.button.is-load {
   pointer-events none
   .button {
      &__content {
         position relative
         border-color rgba(white, 0)
         &:before {
            content ''
            size 50px
            box-sizing border-box
            border-left 4px solid white
            border-right 4px solid rgba(white, 0)
            border-top 4px solid white
            border-bottom 4px solid white
            border-radius 50%
            animation rotate 1s linear infinite
         }
      }
      &__title {
         display none
      }
   }
   /.ie & {
      .button {
         &__content {
            position relative
            border-color currentColor
            animation load .6s ease infinite alternate-reverse
            &:before {
               display none
            }
         }
         &__title {
            display block
         }
      }
   }
}

+do(1200) {
   .button.is-load {
      pointer-events none
      &:hover {
         .button {
            &__content {
               position relative
               background black
            }
         }
      }
   }
}

+do(750) {
   .button_res-xs_small {
      font-size 9px
      .button {
         &__content {

         }
      }
   }
}

@keyframes load {
   0% {
      opacity 0.3
   }
   100% {
      opacity 0.9
   }
}

.button_colors {
   .button {
      &__content {
         border-color #0038a7
         color black
      }
      &__title {}
   }
   &:hover {
      .button {
         &__content {
            border-color #0038a7
            background-color #0038a7
            color white
         }
         &__title {}
      }
   }
}