.field {
   display block
   position relative
   &__error,
   &__title {
      box-sizing border-box
      transition $transition-main
      overflow hidden
      display block
      max-height 100px
      padding-right 20px
      padding-left 20px
      color #2e2e2e
      line-height $line-small
      position absolute
      top 14px
      font-size 14px
      &_dark {
         color #2e2e2e
      }
      &_white {
         color white
      }
   }
   &__error {
      transition $transition-main
      overflow hidden
      display none
      position absolute
      top 100%
      right 0
      left 0
      margin-top 2px
      color $color-error
      font-size $size-xsmall
      line-height $line-xsmall
   }
   &__error {
      transform none
   }
   &__main {
      display block
      position relative
   }
   /$input,
   &__input {
      transition $transition-main
      appearance none
      box-sizing border-box
      display block
      width 100%
      padding 8px 19px 8px
      border-radius 3px
      box-shadow: inset 0 1px 3px 0 rgba(94, 96, 127, 0.3);
      border 1px solid rgba(94, 96, 127, 0.3)
      outline 0
      color #1a1a1a
      min-height 50px
      font-family $font-main
      font-size 14px

      +placeholder() {
         color #d8d8d8
      }
      &:hover {
         border-color #8f8c8c
      }
      &:focus {
         border-color #8f8c8c
      }
      &:disabled {
         border-color $color-grey
         color $color-grey
         +placeholder() {
            color $color-grey
         }
      }
      select& {
         user-select none
         padding-right (19px + 25px)
         &::-ms-expand {
            display none
         }
      }
      textarea& {
         min-height unquote('calc('+ ($line-main*2em) +' + '+ (6+8+2) +'px)')
      }
      div& {
         overflow auto
         height unquote('calc('+ ($line-main*3em) +' + '+ (6+8+2) +'px)')
      }
   }

   &.is-error {
      .field__input {
         border-color $color-error
         box-shadow none
         color $color-error
      }
      .field__main {}
      .field__error {
         display block
         padding-left: 0;
      }
   }
}

.field_no-error-push {
   .field__error {
      position absolute
      margin-top 6px
      margin-bottom 12px
   }
}

.field_select {
   .field__main {
      &::after {
         content ''
         position absolute
         svg('arrow-down', 16px, $color-main, none center)
         right 18px
      }
   }

   &.is-error {
      .field__main {
         &::after {
            opacity 0
         }
      }
   }
}
.field.is-filled,
.field.is-focus:not(.field_title) {
   .field {
      &__title {
         top -25px
         transform none
         color white
         font-size 12px
         &_dark {
            color #1a1a1a
         }
      }
   }
}

+do(1200) {
   .field {
      &__input {
         font-size 16px
      }
   }
}

.field_dark {
   .field {
      &__title {

      }
      &__input {
         border 1px solid #d1d1d1
         &:hover {
            border 1px solid #8f8c8c
         }
      }
   }
}

.field_title {
.field {
   &__title {
      position static
      font-size 14px !important
      margin-bottom 5px
   }
}
}
.field_white {
   .field__input {
      border 2px solid white
      &:focus {
         border-color $color-orange
      }
   }
   &:hover {
      & .field__input {
         border-color $color-orange
      }
   }
   &.is-filled.is-valid {
      & .field__input {
         border-color $color-orange
      }
   }
}

.field.is-disabled {
   pointer-events none
   .field {
      &__input {
         background white
         color #a2a2a2
      }
   }
}