$layer-padding = 40px

.layer {
   flex 1 0 auto
   display flex
   position fixed
   // position absolute
   trbl 0
   background #fff
   min-height 100%
   z-index 1200
   opacity 0
   transform translateY(5vh)
   transition transform $transition-main, opacity $transition-main
   box-sizing border-box
   &__inside {
      box-sizing border-box
      flex 1 0 auto
      width 100%
      padding 0 0
   }
   &__header {
      box-sizing border-box
      position relative
      padding 33px 40px 0 40px
      text-align center
   }
   &__content {
      box-sizing border-box
      overflow hidden
      width 100%
      padding 34px $layer-padding 25px $layer-padding
   }
   &__footer {
      padding 30px $layer-padding 20px $layer-padding
      border-top 1px solid #d1d1d1
      box-sizing border-box
      margin-top auto
   }
   &__title {
      @extend $title-h2
      font-size 32px
   }

   &.is-aside {
      transition transform .4s ease-in-out, opacity .0s ease-in-out .4s
      transform translateX(-100%)
      &.is-opened {
         transition transform .4s linear, opacity .4s linear
      }
   }
   &.is-opened {
      z-index 1210
      opacity 1
      transform translate(0, 0)
   }
   &:not(.is-animating) {
      transform none
      position relative
   }
   &.is-faded {
      position fixed
      opacity 0
   }
   &.is-closing {
      z-index 1210
      position fixed
   }
   &:not(.is-initialized) {
      display none !important
   }
}

+do(750) {
   .layer {
      &__content {
         padding-top 20px
         padding-bottom 20px
      }
      &__header {
         &:before {
            display none
         }
      }
      &__title {
         font-size $size-large
         line-height $line-large
      }
   }
}

+do(500) {
   .layer {
      &__header {
         text-align left
         padding-top 22px
         padding-right 65px
         padding-left 20px
      }
      &__content {
         padding-right 20px
         padding-left 20px
      }
   }
}

.layer-close {
   z-index 200
   position absolute
   size 30px
   top: 20px;
   right: 25px;
   border none
   &::before {
      content ''
      position absolute
      display block
      svg('cross', 14px, $color-violet)
      align-center()
   }
   &:hover {
      opacity 0.8
   }
   &:active {
      box-shadow none
   }
}

+do(750) {
   .layer-close {
      size 30px
      top 20px
      right 20px
      &:before {
         svg('cross', 14px, $color-violet)
         align-center()
      }
   }
}

.layer_overlay {
   pointer-events none
   align-items center
   justify-content center
   padding-top 26px
   padding-bottom 26px
   background none
   .layer {
      &__inside {
         pointer-events auto
         flex 0 1 auto
         position relative
         max-width 600px
         width 100%
         background #fff
         margin auto 54px
         border-radius 3px
         box-sizing botder-box
         .formus {
            max-width 390px
            margin 0 auto
         }
      }
      &__content {
         width auto
      }
   }

   &.is-opened {
      transform none
   }
   &_left {
      transform translateX(-100%)
      justify-content flex-start
      &.is-opened {
         transform translate(0, 0)
      }
   }
}

+do(1200) {
   .layer_menu.layer_overlay {
      align-items stretch
      padding-top 0
      padding-bottom 0
      .layer {
         &__inside {
            max-width none
            width 100%
            margin 0
            border-radius 0
         }
      }
   }
}

+do(750) {
   .layer_overlay:not(.layer_menu) {
      .layer {
         &__inside {
            margin-right 15px
            margin-left 15px
         }
      }
   }
}

.layer_pretty {
}

+do(750) {
   .layer_pretty {
      padding-top 26px
      padding-bottom 26px
      align-items center
      .layer {
         &__inside {
            border-radius 20px
         }
      }
   }
}

.layer_answer {
   .layer {
      &__header {
         &:before {
            top -20px
            left -40px
         }
      }
      &__inside {
         max-width 490px
      }
      &__content {
         padding-right 35px
         padding-left 35px
      }
   }
}

+do(750) {
   .layer_answer {
      .layer {
         &__inside {
            max-width none
         }
      }
   }
}

.layer_info {
   .layer {
      &__bg {
         position absolute
         trbl 0
         &-hare {
            position absolute
            bottom 0
            z-index 100
            right 26px
         }
      }
      &__inside {
         max-width 580px
         min-height 340px
         background url('../images/layers/info-bg.jpg') no-repeat
         background-size cover
      }
      &__content {
         position relative
         padding 37px 238px 25px 35px
         text-align center
         color $color-blue-xdark
      }
      &__header {
         padding-right 238px
         &:before {
            display none
         }
      }
   }
}

+do(750) {
   .layer_info {
      .layer {
         &__inside {
            margin-left 20px
            margin-right 20px
         }
         &__bg {
            &-hare {
               right 8px
               width 180px
            }
         }
         &__content {
            padding 35px 210px 25px 30px
         }
      }
   }
}

+do(500) {
   .layer_info {
      .layer {
         &__header {
            padding-right 60px
         }
         &__bg {
            display none
         }
         &__content {
            padding 30px 20px 45px 20px
         }
      }
   }
}

.layer_info_simple {
   .layer {
      &__header {
         padding-right 40px
         text-align center
         &:before {
            display block
            top 20px
         }
      }
      &__inside {
         max-width 420px
         min-height auto
      }
      &__content {
         padding 37px 75px 25px 75px
      }
   }
}

+do(600) {
   .layer_info_simple {
      .layer {
         &__header {
            &:before {
               display none
            }
         }
      }
   }
}

+do(500) {
   .layer_info_simple {
      .layer {
         &__header {
            padding-right 60px
            text-align left
         }
         &__bg {
            display none
         }
         &__content {
            padding 37px 25px 45px 25px
         }
      }
   }
}

.layer_menu {
   .layer {
      &__header {
         padding 0
         border-bottom none
         &:before {
            display none
         }
      }
      &__content {
         padding 0 0 40px 0
      }
      &__body {

      }
      &__inside {
         padding-top 0
      }
   }
}

.layer_link_small {
   .link {
      font-size $size-small
      line-height $line-small
   }
}

.layer_alert {
   .layer {
      &__content {
         text-align center
      }
      &__description {
         margin-bottom 45px
         color $color-blue-xdark
         line-height $line-medium
      }
   }
}

+do(500) {
   .layer_alert {
      .layer {
         &__header {
            margin-bottom -35px
         }
         &__content {
            padding-top 70px
         }
      }
   }
}

.layer_form {
}

+do(750) {
   .layer_form {
      .list-sections {
         &_small {
            max-width 500px
            margin 0 auto
         }
      }
   }
}

.layer_review {
   .layer {
      &__inside {
         max-width 600px
      }
   }
}