.toggle {
   user-select none
   cursor pointer
   display block
   position relative
   padding-left (20px + 13px)
   font-size $size-small
   line-height $line-small
   &__input {
      display none
   }
   &__fake {
      box-sizing border-box
      transition $transition-fast
      position absolute
      top (1/no-unit($size-small))em
      left 0
      size 20px
      border 1px solid $color-orange
      border-radius 2px
      background $color-white
      &::before {
         content ''
         transition $transition-fast
         opacity 0
         position absolute
      }
      ^[0]__input:checked ~ & {
         border-color $color-orange
         &::before {
            opacity 1
         }
      }
      [type="checkbox"] ~ & {
         &::before {
            svg('check', 11px, $color-white)
            align-center()
         }
      }
      [type="checkbox"]:checked ~ & {
         border-color $color-orange
         background $color-orange
      }
      [type="radio"] ~ & {
         border-radius 50%
         &::before {
            border-radius 50%
            trbl 4px
            background $color-orange
         }
      }
   }
   &__title {}

   &:hover {
      & ^[0]__fake {
         border-color $color-orange
      }
   }
}


.toggle-menu {
   cursor pointer
   position relative
   &:before {
      content ''
      display block
      svg('menu',18px,black)
   }
   &_close {
      &:before {
         svg('cross',18px,black)
      }
   }
}