$paragraph,
table,
blockquote,
ol,
ul,
p {
   margin-bottom 50px
   +do(1200) {
      margin-bottom 30px
   }
   +do(1000) {
      margin-bottom 20px
   }
   +do(750) {
      margin-bottom 15px
   }
   &:last-child {
      margin-bottom 0
   }
}

img {
   max-width 100%
}

i, em {
   font-style italic
}

b, strong {
   font-weight 700
}

.link,
a {
   transition $transition-fast
   text-decoration none
   color $color-link
   &:hover,
   &:active {
      color $color-hover
      text-decoration none
   }
}

.link_orange {
   color $color-orange
   border-bottom 1px solid $color-orange
}

.link_dashed {
   border-bottom 1px dashed rgba(94, 96, 127, 0.3)
}

.link_large {
   font-size 14px
   font-weight 500
   text-transform uppercase
}
.link_small {
   font-size 10px
   font-weight 500
   text-transform uppercase
}
.link_blue {
   color #0038a7
   border-bottom 1px solid rgba(0, 56, 167, 0.3)
   &:hover {
      color #0038a7
      border-bottom 1px solid rgba(0, 56, 167, 0)
   }
}
.link-bordered {
   border-bottom 1px solid $color-blue
   &:hover,
   &:active {
      color $color-hover
      border-color transparent
      text-decoration none
   }
}

a[href^='tel:'] {
   border-bottom-width 0
   white-space nowrap
   text-decoration none
}

ol {
   counter-reset nums
   list-style none
   li {
      counter-increment nums
      list-style-type none
      position relative
      margin-bottom 31px
      padding-left 27px
      &::before {
         content counter(nums) '.'
         position absolute
         left 0
         color #3f405b;
      }
      &:last-child {
         margin-bottom 0
      }
   }
}

ul {
   li {
      position relative
      margin-bottom 0
      padding-left 27px
      font-weight 500
      &::before {
         content ''
         display block
         position absolute
         size 5px
         left 5px
         top 16px
         border-radius 50%
         background-color #3f405b

      }
      &:last-child {
         margin-bottom 0
      }
   }
}

.display-none {
   display none
}

table {
   border-bottom 1px solid rgba(0, 56, 167, 0.1)
   border-bottom 1px solid rgba(0, 56, 167, 0.1)
   border-collapse collapse
   margin 0
   padding 0
   color #000
   p {
      margin-bottom 0
   }
}

thead {
   border-bottom 1px solid #D5EAF5
   th {
      font-weight 500
   }
}

tr {
   &:nth-child(2n) {
      background-color: rgba(0, 56, 167, 0.1);
   }
}

th,
td {
   box-sizing border-box
   position relative
   padding 16px 20px 18px
}

+do(750) {
   th,
   td {
      padding 8px 10px 9px
   }
}

* {
   min-height 0
   min-width 0
}

.content-info {
   font-size 14px
   text-align center
   &__link {
      color $color-orange
      &:hover {
         opacity .8
      }
   }
}

.orange {
   color $color-orange
}