<div js-billboards class="billboards">
    <div js-billboards-slider class="billboards__slider">
        {% if images | length > 1 %}
            <div class="billboards__slider-additional block">
                <div class="billboards__slider-box block-wrapper">
                    <div js-billboards-slider-nav class="billboards__slider-nav"></div>
                    <div js-billboards-slider-dots class="billboards__slider-dots"></div>
                </div>
            </div>
        {% endif %}
        <div js-billboards-slider-list class="billboards__slider-list">
            {% for image in images %}
                <div class="billboards__slider-item">
                    <a href="#" class="billboards__slider-img"
                       style="background-image: url({{ image.src }})">
                        <img src="{{ image.src }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>