align-center(shift = 0) {
   if(!shift[1]) {
      shift = (shift shift)
   }
   top 50%
   left 50%
   margin-top (@height/-2) + shift[1]
   margin-left (@width/-2) + shift[0]
}
align-center-x(shift = 0) {
   left 50%
   margin-left (@width/-2) + shift
}
align-center-y(shift = 0) {
   top 50%
   margin-top (@height/-2) + shift
}
