<div js-layer-callback class="layer layer_callback layer_overlay layer_border_full layer_link_small" data-id="main/callback">
    <div class="layer__inside">
        <a js-close-layer class="layer-close" role="button" href="#"></a>
        <div class="layer__header">
            <div class="layer__title">Заявка</div>
        </div>
        <div class="layer__content">
            <form js-load-form action="mail.html" method="post" class="callback-form">
                <div class="callback-form__first">
                    <div class="callback-form__main">
                        <div class="callback-form__fields">
                            <div class="callback-form__fields-item">
                                <label js-inputShadow class="field">
                                    <input type="text" class="field__input" name="name" placeholder="Имя">
                                    <span class="field__error"></span>
                                </label>
                            </div>
                            <div class="callback-form__fields-item">
                                <label js-inputShadow class="field">
                                    <input type="phone" name="phone" required class="field__input" placeholder="Телефон">
                                    <span class="field__error"></span>
                                </label>
                            </div>
                        </div>
                        <div class="callback-form__actions">
                            <button js-load-button class="button button_full" type="submit"><span class="button__content"><span class="button__title">Задать вопрос</span></span></button>
                        </div>
                    </div>
                </div>
                <div class="callback-form__loaded">
                    <div class="callback-form__title">Спасибо за заявку</div>
                </div>
            </form>
        </div>
    </div>
</div>
