<div js-overlayer-menu class="layer layer_menu" data-id="main/menu">
    <div class="layer__inside">
        <div class="layer__header">
            <div class="header-mobile header-mobile_visible block">
                <div class="header-mobile__wrapper">
                    <div class="header-mobile__main">
                        <a href="/" class="header-mobile__logo">
                            <img src="images/logo.svg" class="header-mobile__logo-img" alt="Логотип оригинал">
                        </a>
                    </div>
                    <div class="header-mobile__side">
                        <div class="header-mobile__actions">
                            <div class="header-mobile__actions-item">
                                <div js-toggle-box class="office-box">
                                    <div class="office-box__side">
                                        <a href="#" class="link link_small link_dashed">ОФИСЫ В БАРНАУЛЕ</a>
                                    </div>
                                    <div class="office-box__main">
                                        <div js-toggle-box-close class="office-box__close"></div>
                                        <div class="office-box__sections">
                                            <div class="office-box__section">
                                                пр-т Строителей, 11
                                                <a href="tel:3852616168">(38-52) 61-61-68</a>
                                                <a href="tel:3852610589">(38-52) 61-05-89</a>
                                            </div>
                                            <div class="office-box__section">
                                                ул. Э. Алексеевой, 126в
                                                <a href="tel:3852505268">(38-52) 50-52-68</a>
                                                <a href="tel:3852717300">(38-52) 717-300</a>
                                            </div>
                                            <div class="office-box__section">
                                                пр-т Космонавтов, 32м
                                                <a href="tel:3852500525">(38-52) 50-05-25</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-mobile__actions-item">
                                <a href="tel:+79508504545" class="header-mobile__phone"></a>
                            </div>
                            <div class="header-mobile__actions-item">
                                <div js-menu-close class="header-mobile__menu header-mobile__menu_close"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layer__content">
            <div class="block">
                <div class="header-middle header-middle_layer">
                    <div class="header-middle__wrapper">
                        <div class="header-middle__right">
                            <div class="header-middle__actions">
                                <div class="header-middle__actions-item">
                                    <a href="tel:+79520074578" class="header-middle__phone">
                                        <sup class="code">(38-52)</sup> 61-61-68
                                    </a>
                                </div>
                                <div class="header-middle__action-item">
                                    <div class="header-middle__callback">
                                        <button class="button button_small">
                                    <span class="button__content">
                                        <span class="button__title">
                                            Задать вопрос
                                        </span>
                                    </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom header-bottom_layer">
                    <div class="header-bottom__wrapper">
                        <div class="header-bottom__nav">
                            <div class="header-bottom__nav-list">
                                <div class="header-bottom__nav-item">
                                    <a href="#" class="header-bottom__nav-link">Пластиковые окна</a>
                                </div>
                                <div class="header-bottom__nav-item">
                                    <a href="#" class="header-bottom__nav-link">Комплектующие</a>
                                </div>
                                <div class="header-bottom__nav-item">
                                    <div class="header-bottom__toggle header-bottom__toggle_simple">
                                        <div class="header-bottom__toggle-side"> Продукция</div>
                                        <div class="header-bottom__toggle-main">
                                            <div class="header-bottom__toggle-list">
                                                <div class="header-bottom__toggle-item">
                                                    <a href="#" class="header-bottom__toggle-link"> Первый пункт</a>
                                                </div>
                                                <div class="header-bottom__toggle-item">
                                                    <a href="#" class="header-bottom__toggle-link"> Второй пункт</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-bottom__nav-item">
                                    <a href="#" class="header-bottom__nav-link">Калькулятор</a>
                                </div>
                                <div class="header-bottom__nav-item">
                                    <a href="#" class="header-bottom__nav-link">Покупателю</a>
                                </div>
                                <div class="header-bottom__nav-item">
                                    <a href="#" class="header-bottom__nav-link">Услуги</a>
                                </div>
                                <div class="header-bottom__nav-item">
                                    <a href="#" class="header-bottom__nav-link">Акции</a>
                                </div>
                                <div class="header-bottom__nav-item">
                                    <a href="#" class="header-bottom__nav-link">Отзывы</a>
                                </div>
                                <div class="header-bottom__nav-item">
                                    <a href="#" class="header-bottom__nav-link">Проекты</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-top header-top_layer">
                    <div class="header-top__wrapper">
                        <div class="header-top__main">
                            <div class="header-top__nav">
                                <div class="header-top__nav-list">
                                    <div class="header-top__nav-item">
                                        <a href="#" class="header-top__nav-link"> о компании</a>
                                    </div>
                                    <div class="header-top__nav-item">
                                        <a href="#" class="header-top__nav-link"> контакты</a>
                                    </div>
                                    <div class="header-top__nav-item">
                                        <a href="#" class="header-top__nav-link"> партнёрам</a>
                                    </div>
                                    <div class="header-top__nav-item">
                                        <a href="#" class="header-top__nav-link"> <span class="icon"> ❖ </span> конструкция окон</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-top__side">
                            <div class="social">
                                <div class="social__wrapper">
                                    <div class="social__side">
                                        <div class="social__title">
                                            НАШИ СОЦСЕТИ:
                                        </div>
                                    </div>
                                    <div class="social__main">
                                        <div class="social__list">
                                            <div class="social__list-item">
                                                <a href="#" target="_blank" class="social-badge social-badge_vk"></a>
                                            </div>
                                            <div class="social__list-item">
                                                <a href="#" target="_blank" class="social-badge social-badge_instagram"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
