.article {
   &__intro {
      min-height 480px
      position relative
      padding 20px
      box-sizing border-box
      margin-bottom 71px
      background-position center
      background-repeat no-repeat
      background-size cover
      display flex
      justify-content center
      align-items center
      +do(1200) {
         min-height 380px
         margin-bottom 45px
      }
      +do(1000) {
         min-height 220px
         margin-bottom 30px
      }
      &:before {
         content ''
         position absolute
         background-color rgba(0, 56, 167, 0.5)
         top 0
         left 0
         right 0
         bottom 0
      }
      &-wrapper {
         position relative
         z-index 9
      }
   }
   &__nav {
      z-index 20
      position relative
      font-size 24px
      color white
      &-main {
         padding-top 18px
         +do(750) {
            display none
         }
      }
      &-title {
         font-size 48px
         font-weight 700
         line-height 1
         color #eeeff2
         text-align center
         max-width 100%
         overflow hidden
         text-overflow ellipsis
         +do(1200) {
            font-size 36px
         }
         +do(1000) {
            font-size 28px
         }
         +do(750) {
            font-size 28px
         }
      }
      &-list {
         display flex
         margin-right -5px
         margin-left -5px
      }
      &-item {
         margin-right 5px
         margin-left 5px
         position relative
         padding-right 34px
         box-sizing border-box
         &:before {
            content '→'
            font-size 30px
            position absolute
            right 0
            top 50%
            transform translateY(-50%)
         }
      }
      &-link {
         color currentColor
         border-bottom 1px solid rgba(white 0.5)
         &:hover {
            color currentColor
            border-bottom 1px solid rgba(white 0)
         }
      }
   }
   &__content {
      font-size 21px
      line-height (36 / 21)
      color #3f405b
      +do(1000) {
         font-size 18px
         line-height 1.5
      }
      +do(750) {
         font-size 16px
      }
      &-wrapper {
         max-width 808px
         margin-right auto
         margin-left auto
         +do(1200) {
            max-width 900px
         }
      }
      h2 {
         font-size 32px
         line-height 1
         margin-bottom 0.5em
         +do(1000) {
            font-size 28px
         }
         +do(750) {
            font-size 22px
         }
      }
      blockquote {
         font-size 32px
         line-height (48 / 32)
         color #5e607f
         margin-right -100px
         margin-left -100px
         margin-right -105px
         margin-left -105px
         font-style italic
         margin-bottom 58px
         +do(1200) {
            margin-right -60px
            margin-left -60px
            margin-bottom 38px
         }
         +do(1000) {
            font-size 24px
            line-height 1.5
            margin-right -10px
            margin-left -10px
            margin-bottom 28px
         }
         +do(750) {
            font-size 18px
            line-height 1.5
            margin-right 0
            margin-left 0
            margin-bottom 28px
         }
      }
      img {
         display block
         max-width 100%
      }
      .wide-img {
         margin-right: -105px;
         margin-left: -105px;
         +do(1200) {
            margin-right -60px
            margin-left -60px
         }
         +do(1000) {
            margin-right -20px
            margin-left -20px
         }
      }
   }
}

.toggle-text {
   box-sizing border-box
   padding-left 40px
   +do(1000) {
      padding-left 20px
   }
   +do(750) {
      padding-left 0
   }
   &__side {
      position relative
      cursor pointer
      padding-left 20px
      border-bottom 1px dashed rgba(94, 96, 127, 0.3)
      display inline
      line-height 1.2
      &:before {
         content '▴'
         position absolute
         left 0
         top 0
         transform rotate(180deg)
      }
   }
   &__main {
      display none
      padding-top 5px
   }
   &.is-open {
      & ^[0]__side {
         &:before {
            transform rotate(0)
         }
      }
      & ^[0]__main {
         display block
      }
   }
}