.billboards {
   position relative
   .button {
      &:before {
         content ''
         position absolute
         top -100vh
         left -100vw
         right -100vw
         bottom -100vw
      }
   }
   &__slider {
      position relative
      z-index 9
      &-title {
         font-size 72px
         font-weight 700
         line-height 1
         max-width 520px
         margin-bottom 27px
         +do(1200) {
            font-size 36px
         }
         +do(750) {
            font-size 22px
            max-width 180px
            margin-bottom 10px
         }
         &-caption {
            position relative
            display inline-block
            &:before {
               content ''
               position absolute
               top -100vh
               left -100vw
               right -40px
               bottom -100vh
               border-radius 3px
               background-image: linear-gradient(to bottom, #ffb476, #ff7d41);
            }
            .tit {
               position relative
               z-index 54
            }
         }
         &_white {
            color white
            font-size 48px
            max-width 410px
         }
      }
      &-desc {
         font-size 36px
         line-height 1
         +do(1200) {
            font-size 24px
         }
         +do(750) {
            font-size 18px
         }
         &-caption {
            position relative
            display inline-block
            .tit {
               position relative
               z-index 54
            }
         }
         &_small {
            font-size 24px
         }
      }
      &-item {
         overflow hidden
         position relative
      }
      &-img {
         background-position center
         background-size cover
         background-repeat no-repeat
         border none
         text-decoration none
         transition none
         display block
         overflow hidden
         border-radius 3px
         &_desktop {
            +do(750) {
               display none
            }
         }
         &_mobile {
            display none
            +do(750) {
               display block
            }
         }
         img {
            opacity 0
            display block
         }
      }
      &-content {
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         display flex
         flex-direction column
         padding 35px 40px 50px 40px
         +do(1200) {
            padding 25px 30px 40px 30px
         }
      }
      &-side {
      }
      &-main {
         margin-top auto
      }
      &-additional {
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         display flex
      }
      &-box {
         flex 1 1 100%
         display flex
         flex-direction column
         box-sizing border-box
         padding-bottom 25px
         position relative
         opacity 0
         transform translateY(30px)
         transition .3s ease
         z-index 9
         pointer-events none
      }
      &-nav {
         position absolute
         z-index 9
         top 50%
         transform translateY(-50%)
         left 0
         right 0
         pointer-events none
         display flex
         justify-content space-between
      }
      &-dots {
         margin-top auto
         position relative
         z-index 9
         display flex
         margin-right -6px
         margin-left -6px
         justify-content center
         padding 0 10px
         box-sizing border-box
         &:only-child {
            display none
         }
      }
      &_mobile {
         display none
         +do(750) {
            display block
         }
      }
      &_desktop {
         display block
         +do(750) {
            display none
         }
      }
   }
   .owl-dot {
      padding 0
      size 18px
      border-radius 50%
      outline none
      background-color rgba(white, 0)
      border 3px solid white
      margin-right 6px
      margin-left 6px
      flex 0 0 auto
      display block
      box-sizing border-box
      transition .3s ease background-color
      pointer-events auto
      &.active {
         background-color rgba(white, 1)
      }
      &:hover {
         background-color rgba(white, 0.8)
      }
   }
   .owl-prev,
   .owl-next {
      size 80px
      display block
      border-radius 50%
      outline none
      border none
      cursor pointer
      pointer-events auto
      background-color rgba(254, 254, 254, 0)
      position relative
      transition .3s ease opacity
      &:before {
         content ''
         position absolute
         display block
         left 50%
         top 50%
         transform translate(-50%, -50%)
      }
      &:hover {
         opacity 0.8
      }
      &:active {
         opacity 0.5
      }
   }
   .owl-prev {
      &:before {
         svg('left-arrow', 72px, white)
      }
   }
   .owl-next {
      &:before {
         svg('right-arrow', 72px, white)
      }
   }
   .owl-carousel .owl-item img {
      width auto
      display block
      margin 0 auto
   }
   .billboards__slider-side {
      position relative
   }
}

.billboards.billboards_single {
   .billboards {
      &__slider {
         &-item {
            min-height 475px
            background-repeat no-repeat
            background-position right
            background-size cover
            display none
            border-radius 3px
            overflow hidden
            +do(1050) {
               min-height 300px
            }
            +do(750) {
               min-height 220px
            }
            &:first-child {
               display block
            }
         }
         &-title {
            font-size 72px
            font-weight 700
            line-height 1
            max-width 520px
            margin-bottom 27px
            +do(1200) {
               font-size 36px
            }
            +do(750) {
               font-size 22px
               max-width 180px
               margin-bottom 10px
            }
         }
         &-desc {
            font-size 36px
            line-height 1
            +do(1200) {
               font-size 24px
            }
            +do(750) {
               font-size 18px
            }
         }
      }
   }
}

.billboards.is-init {
   .billboards {
      &__slider {
         &-box {
            opacity 1
            transform translateY(0)
         }
      }
   }
}

+do(1200) {
   .billboards {
      &__slider {
         &-nav {
            display none
         }
         &-box {
            padding-bottom 30px
         }
      }
   }
}

+do(750) {
   .billboards {
      margin-left -20px
      margin-right -20px
      &__slider {
         &-list {

         }
         &-box {
            padding-bottom 15px
         }
      }
   }
}

.footer-fixed {
   position fixed
   bottom: 0
   left: 0
   right: 0
   z-index 400
   pointer-events none
   &__wrapper {
      position relative
   }
   &__action {
      display flex
      justify-content flex-end
      &-main {
         border 2px solid rgba(0, 70, 96, 0.1)
         position relative
         opacity 0
         pointer-events none
         cursor pointer
         transition .3s ease opacity
         width: 48px;
         height: 48px;
         border-radius: 3px;
         background-image: linear-gradient(to top, #eeeff2, #ffffff);
         &:hover {
            background #e0e7f4
         }
         &:before {
            content ''
            display block
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            margin-top -1px
            svg('arrow-up', 20px, $color-violet)
         }
         &.is-active {
            opacity 0.9
            pointer-events auto
            &:hover {
               opacity 1
            }
         }
      }
   }
}