.blu-crumbs {
  margin-bottom 5px
  color $color-white
  letter-spacing 0.0175em
  &__crumb {
    color $color-white
    font-size 16px
    line-height 1.5
    border-bottom 1px solid rgba(255,255,255,0.5)
    +do(1000) {
      font-size 14px
    }
    &_current:hover{
      color $color-white
      text-decoration none
    }
  }
  &__delim {
    font-weight 700
  }
  &_black {
    & ^[0]__crumb {
        color black
    }
    & ^[0]__delim {
        color black
    }
  }
}

