.blu-section {
   box-sizing border-box
   background-image: linear-gradient(to top, $color-sky, $color-sky-light);
   border-top 2px solid #eaeaea
   position relative
   &__wrapper {
      padding-top 50px
      padding-bottom 95px
      min-height 360px
      position relative
      +do(1000) {
         padding-top 40px
         padding-bottom 45px
      }
      +do(500) {
         min-width 0px
      }
   }
   &__list {
      display flex
      justify-content space-between
      +do(1000) {
         display block
         &:first-child {
            margin-bottom 20px
         }
      }
      &-item {
         margin-right 10px
         margin-left 10px
         flex 1
         &_large {
            flex 1.4
         }
      }
   }
   &__major {
     margin-bottom 35px
   }
   &__title {
      font-size 48px
      line-height 1
      margin-bottom: 62px;
      margin-top: 19px;
      font-weight 900
      color $color-white
      letter-spacing 0
      +do(1280) {
         font-size 46px
      }
      +do(1000) {
         margin-bottom 22px
      }
   }
   &__desc {
      font-size 24px
      line-height 1.5
      font-weight 400
      color $color-white
      letter-spacing 0.004em
      +do(1280) {
         font-size 16px
      }
   }
}
.blu-block {
   box-sizing border-box
   +do(1280) {
      padding-left 30px
      padding-right 30px
   }
}
.blu-table {
   padding-left 84px
   margin-right -20px
   margin-top 12px
   +do(1280) {
      padding-left 0px
   margin-right -10px
   }
   +do(1000) {
      margin-right: -10px;
      margin-left: -10px;
      margin-top 20px
   }
   &__row {
      box-sizing border-box
      font-size 14px
      line-height 36px
      display flex
      flex-direction: row
      flex-wrap: no-wrap
      width: 100%
      border-radius 3px
      color $color-white
      +do(1280) {
         line-height 2
      }
      &_header{
         background-color $color-white
         color $color-violet
         font-weight 500
         font-size 16px
         line-height 35px
         +do(1280) {
            font-size 14px
            line-height 2
         }
      }
      &_dark {
         background-color rgba(0,56,167,0.5)
      }
   }
   &__column {
      flex-grow 1
      flex 1
      padding-left 12px
   }
   &__link {
      font-size 14px
      line-height 36px
      color $color-white
      position relative
      &:hover:before{
         background-color : #a6a7ba
      }
      &:before {
         content ''
         position absolute
         left 0
         bottom 0
         width 100%
         height 1px
         background-color $color-white
      }
   }
}