.box-constructor {
   &__title {
      font-size 48px
      font-weight 700
      line-height 1.2
      margin-bottom 70px
      +do(1200) {
         margin-bottom 40px
         font-size 36px
      }
      +do(1000) {
         margin-bottom 20px
         font-size 24px
      }
   }
   &__main {
      margin 0 auto
      max-width 1100px
   }
}

.constructor-colors__item-icon {
   overflow hidden
   border-radius 50%
   border 1px solid rgba(grey, 0.5)
}
.constructor {
   &.is-load {
      &:before {
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         display block
         z-index 250
         background-color #e6e6e8
      }
      &:after {
         z-index 300
         content ''
         width 60px
         height 60px
         border-radius 50%
         display block
         position absolute
         left 50%
         top 50%
         transform translate(-50%, -50%)
         border 8px solid #1818cc
         border-left 8px solid rgba(white, 0)
         animation load .8s linear infinite
      }
   }
   @keyframes load {
      0% {
         transform translate(-50%, -50%) rotate(0)
      }
      100% {
         transform translate(-50%, -50%) rotate(360deg)
      }
   }
}