.calc-section {
   box-sizing border-box
   background-image linear-gradient(to top, #eeeff2, #ffffff)
   border-top 2px solid #eaeaea
   position relative
   &__wrapper {
      padding-top 55px
      padding-bottom 55px
      min-height 360px
      position relative
      +do(1000) {
         min-height 270px
      }
      +do(750) {
         padding-top 30px
         min-height 240px
      }
   }
   &__side {
      margin-bottom 27px
      padding-left 40px
      +do(1000) {
         padding-left 0
         margin-bottom 20px
      }
   }
   &__img {
      adaptive-bg('../images/window.png')
      position absolute
      right 57px
      bottom 0
      +do(1000) {
         width 350px
      }
      +do(750) {
         width 120px
         right 0
      }
   }
   &__title {
      font-size 48px
      font-weight 700
      max-width 360px
      line-height 1
      color #0038a7
      +do(1000) {
         max-width none
         font-size 36px
      }
   }
   &__main {
      padding-left 40px
      +do(1000) {
         padding-left 0
      }
   }
}

.calc {
   &__title {
      font-size 48px
      margin-bottom 64px
      line-height 1
      font-weight 700
      +do(1000) {
         font-size 36px
      }
      +do(750) {
         font-size 26px
         margin-bottom 30px
      }
   }
   &__major {
      margin-bottom 60px
      +do(750) {
         margin-bottom 20px
      }
   }
   &__tabs {
      display flex
      flex-wrap nowrap
      font-size 32px
      line-height 1
      +do(1000) {
         font-size 28px
      }
      +do(750) {
         font-size 16px
      }
      &-item {
         flex 1
         padding 30px
         box-sizing border-box
         border 1px solid rgba(48, 48, 48, 0.05)
         display flex
         justify-content center
         align-items center
         background-image linear-gradient(to top, #eeeff2, #ffffff);
         cursor pointer
         +do(1000) {
            padding 24px
         }
         +do(750) {
            padding 12px 14px
         }
         & + & {
            margin-left: -1px;
         }
         &_active {
            background-image none
            background-color white
            font-weight 700
            pointer-events none
         }
         &:hover {
            opacity 0.5
         }
      }
   }
   &__minor {
      &-wrapper {
         display flex
         flex-wrap wrap
         margin-right -12px
         margin-left -12px
         +do(1000) {
            display block
         }
      }
   }
   &__mobile {
      display none
      size 45px
      border-radius 50%
      background-image: linear-gradient(to top, #0038a7, #336fe6);
      transition .3s ease
      position fixed
      bottom 15px
      z-index 70
      right 15px
      box-shadow: 0 8px 13px 0 rgba(0, 56, 167, 0.2);
      +do(750) {
         display block
      }
      &:before {
         content ''
         display block
         position absolute
         top 50%
         left 50%
         transform translate(-50%, -50%)
         svg('cart', 20px, white)
      }
   }
   &__info {
      &_filled {
         display none
      }
   }
   &__panel {
      &.is-filled {
         & ^[0]__info {
            &_filled {
               display block
            }
            &_empty {
               display none
            }
         }
      }
   }

   &__side {
      margin-right 12px
      margin-left 12px
      flex 0 0 auto
      width 395px
      padding-bottom 60px
      box-sizing border-box
      +do(1000) {
         width auto
      }
   }
   &__main {
      flex 1
      margin-right 12px
      margin-left 12px
      +do(1000) {
         margin-bottom 30px
      }
   }
   &__group {
      margin-bottom 90px
      +do(750) {
         margin-bottom 40px
      }
      &_gap_small {
         margin-bottom 42px
      }
      &:last-child {
         margin-bottom 0
      }
   }
}

.calc-group {
   &__side {
      margin-bottom 40px
      position relative
      +do(750) {
         margin-bottom 20px
      }
      &_center {
         display flex
         align-items center
         justify-content center
      }
   }
   &__main {
   }
   &__title {
      font-size 32px
      color #3f405b
      padding-right 10px
      background-color white
      display inline-flex
      &:before {
         content ''
         position absolute
         top 50%
         transform translateY(-50%)
         height 1px
         left 0
         right 0
         display block
         background #a6a7ba
         z-index -1
         margin-top 5px
      }
      &_center {
         padding-right 10px
         padding-left 10px
      }
      +do(1200) {
         font-size 28px
      }
      +do(750) {
         font-size 24px
      }
   }
}

.calc-total {
   padding 76px 102px 65px 105px
   box-sizing border-box
   border 1px solid #a6a7ba
   border-radius 3px
   +do(1200) {
      padding 32px 34px 32px 34px
   }
   +do(750) {
      padding 30px
   }
   &__item {
      font-size 24px
      line-height 1
      color #3f405b
      margin-bottom 24px
      +do(750) {
         font-size 16px
      }
      &-major {
         display flex
         align-items flex-end
      }
      &-delimiter {
         flex 1
         height 6px
         background-repeat repeat-x
         background-image url('../images/dotted.png')
         margin-bottom 5px
         background-size contain
      }
      &-main {
         flex 0 0 auto
         padding-right 10px
      }
      &-side {
         padding-left 10px
         flex 0 0 auto
      }
      &-minor {
         padding-top 2px
      }
      &-desc {
         color #a6a7ba
         font-size 16px
         line-height (24 / 16)
         +do(750) {
            font-size 14px
            line-height 1.2
         }
      }
      &:last-child {
         margin-bottom 0
      }
      &_total {
         padding-top 17px
         font-size 32px
         font-weight 700
         box-sizing border-box
         margin-bottom 40px
         +do(750) {
            font-size 18px
         }
         & ^[-1]-delimiter {
            background-image url('../images/dotted-bold.png')
         }
      }
      &_action {

      }
   }
   &__action {
      &-main {
         margin-bottom 31px
      }
   }
   &.is-hidden {
      display none
   }
}

.calc-info {
   background #eeeff2
   box-sizing border-box
   padding 48px 40px 48px 40px
   border-radius 3px
   position relative
   +do(750) {
      padding 20px 15px 20px 15px
   }
   &__wrapper {
      &_success {
         display none
      }
   }
   &__header {
      font-weight 700
      font-size 32px
      line-height 1
      margin-bottom 22px
      +do(750) {
         font-size 26px
      }
   }
   &__desc {
      font-size 18px
      line-height (24 / 18)
      +do(750) {
         font-size 16px
         line-height 1.5
      }
      &_center {
         text-align center
      }
   }
   &__footer {
      padding-top 25px
   }
   &__action {
      &-main {
         margin-bottom 30px
      }
   }
   &__input {
      &-side {
         font-size 18px
         margin-bottom 5px
      }
      &-main {
      }
   }
   &__orders {
      margin-bottom 37px
      max-height 270px
      overflow-y auto
      overflow-x hidden
      box-sizing border-box
      padding-right 15px
      &::-webkit-scrollbar {
         width: 5px;
         height: 5px;
      }
      &::-webkit-scrollbar-button {
         width: 0
         height: 0
      }
      &::-webkit-scrollbar-thumb {
         background: $color-violet;
         border: 0 none $color-violet;
         border-radius: 50px;
      }
      &::-webkit-scrollbar-thumb:hover {
         background: $color-violet;
      }
      &::-webkit-scrollbar-thumb:active {
         background: $color-violet;
      }
      &::-webkit-scrollbar-track {
         background white
         border 0 none $color-violet
         border-radius 50px
      }
      &::-webkit-scrollbar-track:hover {
         background white
      }
      &::-webkit-scrollbar-track:active {
         background white
      }
      &::-webkit-scrollbar-corner {
         background transparent
      }
      &-item {
         margin-bottom 24px
         &:last-child {
            margin-bottom 0
         }
      }
   }
   &__order {
      font-size 18px
      line-height (24 / 18)
      +do(750) {
         font-size 14px
      }
      &-close {
         cursor pointer
         position relative
         &:after {
            content ''
            position absolute
            display block
            top -5px
            left -5px
            right -5px
            bottom -5px
         }
         &:before {
            content ''
            position relative
            svg('cross-bold', 11px, $color-violet)
            display block
         }
         &:hover {
            opacity 0.5
         }
      }
      &-wrapper {
         display flex
         align-items flex-start
         margin-right -2px
         margin-left -2px
      }
      &-main {
         flex 1
         margin-right 2px
         margin-left 2px
      }
      &-side {
         flex 0 0 auto
         padding-top 6px
         margin-right 2px
         margin-left 2px
      }
      &-title {
      }
      &-desc {
      }
      &-price {
         font-weight 700
      }
   }
   &__total {
      font-size 32px
      font-weight 700
      +do(750) {
         font-size 18px
      }
      &-wrapper {
         display flex
         align-items flex-end
      }
      &-delimiter {
         flex 1
         height 6px
         background-repeat repeat-x
         display flex
         background-image url('../images/dotted-bold-violet.png')
         margin-bottom 5px
         background-size contain
      }
      &-main {
         padding-left 10px
         flex 0 0 auto
      }
      &-side {
         padding-right 10px
         flex 0 0 auto
      }
   }
   &.is-success {
      & ^[0]__wrapper {
         display none
         &_success {
            display block
         }
      }
   }
   &.is-load {
      pointer-events none
      &:before {
         content ''
         position absolute
         background-color rgba(white, 0.5)
         top 0
         left 0
         right 0
         bottom 0
         display block
         z-index 15
      }
      &:after {
         content ''
         position absolute
         size 90px
         display block
         top 50%
         left 50%
         z-index 15
         transform translate(-50%, -50%)
         border 6px solid $color-violet
         border-left 6px solid white
         border-radius 50%
         animation load .856s linear infinite
      }
   }
}

@keyframes load {
   0% {
      transform translate(-50%, -50%) rotate(0deg)
   }
   100% {
      transform translate(-50%, -50%) rotate(360deg)
   }
}