.card-shadow {
   box-shadow 0 8px 13px 0 rgba(0, 56, 167, 0.2)
   background-image linear-gradient(to top, #eeeff2, #ffffff)
   min-height 72px
   box-sizing border-box
   padding 23px 25px 15px 25px
   position relative
   max-width 300px
   margin 0 auto
   &__badge {
      position absolute
      top -5px
      right -10px
      display flex
      align-items center
      justify-content center
      border-radius 3px
      color white
      text-transform uppercase
      font-size 10px
      background-image linear-gradient(to top, #ff5100, #ff473e)
      letter-spacing 0.06em
      top -5px
      right -10px
      padding 1px 3px 1px 3px
      &-icon {
         flex 0 0 auto
         margin-right 2px
         font-size 12px
         line-height 1
      }
      &-caption {
         flex 0 0 auto
      }
      &_blue {
         background-image: linear-gradient(to bottom, #0038a7, #336fe6);
      }
      &_blue-light {
         background-image: linear-gradient(to top, #9de4f7, #63c5ec);
      }
      &_green {
         background-image: linear-gradient(to top, #addd92, #24b262);
      }
   }
   &__title {
      color #0038a7
      text-align center
      font-weight 700
      font-size 14px
      margin-bottom 5px
      text-transform uppercase
      letter-spacing 0.06em
   }
   &__desc {
      color #5e607f
      font-size 8px
      font-weight 700
      line-height 1.2
      text-align center
      text-transform uppercase
      letter-spacing 0.06em
   }
}