.category-card {
   text-decoration none
   flex 1
   min-height 215px
   display flex
   padding 25px 40px 25px 40px
   box-sizing border-box
   overflow hidden
   border-radius 3px
   background-size auto
   background-repeat no-repeat
   background-position bottom right
   background-color #eeeff2
   border 1px solid #e5e6ea
   transition .3s ease
   &__wrapper {
      flex 1
      display flex
      flex-direction column
   }
   &__side {
      margin-bottom 15px
      max-width 230px
   }
   &__main {
      margin-top auto
   }
   &__title {
      display inline
      border-bottom 1px solid rgba(63, 64, 91, 0.3)
      font-weight 400
      font-size 32px
      line-height 1.2
      text-overflow ellipsis
      position relative
      &-caption {
         display inline
      }
   }
   &__badge {
      background white
      font-size 12px
      line-height 1.2
      color #ff473e
      vertical-align middle
      text-transform uppercase
      font-weight 600
      display inline-flex
      align-items center
      padding 4px 8px 4px 6px
      box-sizing border-box
      border-radius 3px
      &-icon {
         flex 0 0 auto
         margin-right 5px
         font-size 16px
      }
      &-caption {
         flex 1
      }
      &_green {
         color #57b171
      }
      .star {
         font-size 12px
      }
   }
   &_salamander {
      background-position 100% 0
   }
}

+do(1200, 'miw') {
   .category-card {
      transform translateY(-3px)
      &:active,
      &:hover {
         color $color-violet
         & ^[0]__title {
            border-bottom 1px solid rgba(white, 0)
         }
      }
      &:hover {
         border 1px solid #E8E9ED
      }
      &:active {
         border 1px solid $color-violet
      }
   }
}

+do(1200) {
   .category-card {
      padding 30px
      box-shadow 0 5px 10px rgba(0, 0, 0, 0.1)
      &__title {
         font-size 24px
         line-height 1.2
         max-height 1.2 * 2em
      }
      &:hover {
         color currentColor
      }
   }
}

+do(750) {
   .category-card {
      min-height 200px
      padding 20px
      &__title {
         font-size 20px
         line-height 1.2
         max-height 1.2 * 2em
         position relative
         z-index 5
         display inline-flex
         overflow visible
         &:before {
            content ''
            display block
            position absolute
            top -6px
            left -10px
            right -10px
            bottom -6px
            border-radius 3px
            background-color rgba(white, 0.6)
         }
         &-caption {
            position relative
            z-index 9
         }
      }
   }
}