.fields-group {
   &__item {
      display flex
      flex-wrap wrap
      align-items center
      margin-right -12px
      margin-left -12px
      margin-bottom 24px
      &:last-child {
         margin-bottom 0
      }
      +do(540) {
         display block
      }
      &-left {
         margin-right 12px
         margin-left 12px
         flex 1
         max-width 160px
         text-align right
         +do(750) {
            text-align left
            margin-bottom 10px
         }
      }
      &-middle {
         flex 1
         margin-right 12px
         margin-left 12px
         max-width 300px
      }
      &-right {
         flex 0 0 auto
         margin-right 12px
         margin-left 12px
         +do(1100) {
            flex 1 1 100%
            padding-top 10px
            padding-left 180px
         }
         +do(540) {
            padding-left 0
         }
      }
   }
   +do(540) {
      max-width 320px
      margin 0 auto
   }
}

.fields-item {
   &__wrapper {
      display flex
      align-items center
      margin-right -6px
      margin-left -6px
   }
   &__side {
      margin-right 6px
      margin-left 6px
      flex 1
   }
   &__main {
      margin-right 6px
      margin-left 6px
   }
   &_small {
      & ^[0]__side {
         max-width 106px
         +do(1000) {
            max-width none
         }
      }
   }
}

.fancy-select {
   box-shadow: inset 0 1px 3px 0 rgba(94, 96, 127, 0.3);
   border 1px solid rgba(94, 96, 127, 0.3)
   padding 14px 20px 14px 20px
   border-radius 3px
   display block
   background-size contain
   option {
      padding 10px 15px
   }
}

.fields-error {
   color red
   text-align center
   display none
   padding-top 10px
   &.is-visible {
      display block
   }
}