.footer {
   box-sizing border-box
   padding-top 55px
   background-color #5e607f
   color #eeeff2
   position relative
   +do(1000) {
      padding-top 25px
   }
   &__main {
      margin-bottom 25px
   }
   &__socials {
      margin-bottom 34px
   }
}

.footer-main {
   padding-bottom 63px
   box-sizing border-box
   border-bottom 2px solid #6e708c
   &__cols {
      display flex
      flex-wrap wrap
      justify-content space-between
      margin-right -10px
      margin-left -10px
      max-width 1205px
      +do(750) {
         margin-right 0
         margin-left 0
         display block
      }
   }
   &__socials {
      margin-bottom 33px
      position relative
      +do(750) {
         display flex
         justify-content center
         margin-bottom 20px
      }
   }
   &__actions {
      &-item {
         margin-bottom 24px
         &:last-child {
            margin-bottom 0
         }
         +do(750) {
            display flex
            justify-content center
         }
      }
   }
   &__col {
      flex 0 1 auto
      margin-right 10px
      margin-left 10px
      +do(1000) {
         margin-right 0
         margin-left 0
      }
      &_uno {
         +do(1000) {
            margin-bottom 5px
         }
      }
      &_dos {
         +do(1000) {
            margin-bottom 5px
         }
         +do(750) {
            display none
            &.is-visible {
               display block
            }
         }
      }
      &_tres {
         +do(1000) {
            margin-bottom 25px
         }
         +do(750) {
            display none
            &.is-visible {
               display block
            }
         }
      }
      &_cuatro {
         +do(1000) {
            flex 1 1 100%
         }
      }
   }
   +do(1000) {
      padding-bottom 40px
   }
}

.footer-side {
   color #a7a8b9
   padding-bottom 45px
   &__wrapper {
      display flex
      align-items center
      flex-wrap wrap
      +do(750) {
         display block
      }
   }
   &__side {
      flex 0 0 auto
      +do(750) {
         display flex
         justify-content center
      }
   }
   &__main {
      flex 1
      max-width 936px
      +do(750) {
         margin-bottom 20px
         display flex
         justify-content center
      }
   }
   &__logo {
      display block
      border-bottom none
      box-sizing border-box
      &-main {
         display block
         &:hover {
            opacity 0.5
         }
      }
      &-img {
         display block
      }
      &-caption {
         font-size 13px
         line-height 1.5
      }
   }
   &__copyright {
      position relative
      font-size 14px
      line-height 1.2
      &-link {
         color currentColor
         &:before {
            content ''
            display block
            position absolute
            top 0
            left 0
            right 0
            bottom 0
         }
      }
   }
}

.footer-nav {
   font-size 16px
   line-height (24 / 16)
   color #afb0c1
   font-weight 400
   +do(750) {
      font-size 18px
   }
   &__item {
      &-link {
         color currentColor
         &_all {
            display inline-flex
            border-bottom 1px dashed white
            position relative
            padding-right 20px
            font-size 16px
            &:before {
               content ''
               display block
               position absolute
               right 0
               top 50%
               transform translateY(-50%)
               svg('arrow-down', 12px, white)
            }
         }
      }
      &_all {
         display none
         +do(750) {
            display block
         }
      }
   }
   &_large {
      font-size 18px
      color white
      line-height 1.67
   }
}