.gallery-slider {
   position relative
   &__list {
      &.is-lock {
         opacity 0.9
         pointer-events none
      }
   }
   &__nav {
      position absolute
      bottom 0
      right 0
      left 0
      z-index 5
      padding 0 10px 10px 10px
      &-list {
         display flex
         justify-content flex-end
         flex-wrap wrap
         margin 0 -3px
      }
   }
   &__link {
      display block
      transition .3s ease
      &:hover {
         opacity 0.8
      }
   }
   &__item {
      display none
      overflow hidden
      border-radius 5px
      border 1px solid rgba($color-violet,0)
      &.is-active {
         border-color $color-violet
      }
      &:first-child {
         opacity 0
         display block
      }
   }
   &__img {
      display block
      max-width 100%
      width 100%
      margin-right auto
      margin-left auto

   }
   &.is-init {
      & ^[0]__item {
         opacity 1
         display block
      }
   }
   &_previews {
      opacity 0
      transition .3s ease
      & ^[0]__img {
         max-height 56px
      }
      &.is-init {
         opacity 1
         & ^[0]__img {
            max-height none
         }
      }
   }
   .owl-prev,.owl-next {
      width 34px
      height 34px
      min-width 34px
      outline none
      background $color-violet
      border 1px solid $color-violet
      position relative
      flex 0 0 auto0
      margin 0 3px
      display block
      box-sizing border-box
      background-color rgba($color-violet)
      transition .3s ease
      transform: translateZ(0)
      border-radius 50%
      &:before {
         content ''
         display block
         position absolute
         top 50%
         left 50%
         transform translate(-50%,-50%)
      }
      &:hover {
         opacity 0.8
      }
      &.disabled {
         opacity 0.3
         pointer-events none
      }
   }
   .owl-prev {
      &:before {
         svg('arrow-left',8px,$color-white)
      }
   }
   .owl-next {
      &:before {
         svg('arrow-right',8px,$color-white)
      }
   }
}

.gallery-slider_main {
   .gallery-slider {
      &__item {
         &:first-child {
            opacity 0.8
            position relative
            min-height 220px
            transition .3s ease
            &:before {
               content: ''
               display block
               position absolute
               left 50%
               top 50%
               transform translate(-50%,-50%)
               svg('spinner',200px)
            }
         }
      }
   }
   &.is-init {
      & .gallery-slider__item {
         &:first-child {
            opacity 1
            min-height 0
            &:before {
               display none
            }
         }
      }
   }
}