.header {
   margin-bottom 45px
   position relative
   +do(1000) {
      margin-bottom 10px
      height 49px
   }
   &:before {
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom -100px
      z-index -1
      background-image: linear-gradient(to top, #eeeff2, #ffffff);
      /.is-header-normal & {
         bottom 0
      }
   }
   &__top {
      margin-bottom 33px
   }
   &__middle {
      margin-bottom 32px
   }
   /.is-header-normal & {
      margin-bottom 85px
      +do(1200) {
         margin-bottom 20px
      }
   }
   /.is-header-gap-none & {
      margin-bottom 0
      padding-bottom 48px
      &:before {
         bottom 0
      }
      +do(1000) {
         padding-bottom 20px
      }
      +do(750) {
         padding-bottom 0
      }
   }
}

.header-desktop {
   /.is-header-normal & {
      padding-bottom 40px
   }
   +do(1000) {
      display none
   }
}

.header-mobile {
   display none
   padding-top 15px
   padding-bottom 15px
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   padding-left: 20px;
   padding-right: 20px;
   z-index: 150;
   background: linear-gradient(to top, #eeeff2, #ffffff);
   +do(1000) {
      display block
   }
   &_static {
      position static
   }
   &__wrapper {
      display flex
      align-items center
      margin-right -10px
      margin-left -10px
   }
   &__main {
      margin-right 10px
      margin-left 10px
      flex 1
   }
   &__side {
      margin-right 10px
      margin-left 10px
      flex 0 0 auto
   }
   &__actions {
      margin-right -10px
      margin-left -10px
      display flex
      align-items center
      flex-wrap wrap
      &-item {
         margin-right 10px
         margin-left 10px
      }
   }
   &__menu {
      display block
      cursor pointer
      position relative
      &:before {
         content ''
         display block
         svg('menu', 18px, $color-violet)
      }
      &:after {
         content ''
         position absolute
         top -5px
         left -5px
         right -5px
         bottom -5px
      }
      &_close {
         &:before {
            content ''
            display block
            svg('cross', 18px, $color-violet)
         }
      }
   }
   &__phone {
      display block
      cursor pointer
      position relative
      &:before {
         content ''
         display block
         svg('phone', 15px, $color-violet)
      }
      &:after {
         content ''
         position absolute
         top -5px
         left -5px
         right -5px
         bottom -5px
      }
   }
   &__logo {
      max-width 120px
      display block
      &-img {
         display block
         max-width 100%
      }
   }
   &_visible {
      display block
   }
}

.header-top {
   padding-top 16px
   padding-bottom 10px
   box-sizing border-box
   border-bottom 2px solid rgba(94, 96, 127, 0.1)
   &__nav {
      font-size 12px
      line-height (18 / 12)
      font-weight 500
      letter-spacing 0.06em
      text-transform uppercase
      &-list {
         display flex
         flex-wrap nowrap
         margin-right -12px
         margin-left -12px
      }
      &-item {
         margin-right 12px
         margin-left 12px
      }
      .icon {
         color #ff473e
      }
   }
   &__wrapper {
      display flex
      align-items center
      flex-wrap nowrap
      margin-right -5px
      margin-left -5px
   }
   &__side {
      flex 0 0 auto
      margin-right 5px
      margin-left 5px
   }
   &__main {
      flex 1
      margin-right 5px
      margin-left 5px
   }
}

.header-middle {
   &__wrapper {
      display flex
      align-items center
      justify-content space-between
      margin-right -5px
      margin-left -5px
   }
   &__left {
      margin-right 5px
      margin-left 5px
   }
   &__middle {
      margin-right -50px
      margin-left 5px
   }
   &__right {
      margin-right 5px
      margin-left 5px
   }
   &__phone {
      font-size 24px
      font-weight 700
      .code {
         font-size 12px
         font-weight 500
         position relative
         top -7px
      }
   }
   &__logo {
      display block
      &:hover {
         opacity 0.5
      }
      &-img {
         display block
      }
      &:hover {
         opacity 0.8
         transition .3s ease
      }
   }
   &__actions {
      display flex
      align-items center
      justify-content center
      margin-right -3px
      margin-left -3px
      &-item {
         margin-right 3px
         margin-left 3px
      }
   }
}

.header-bottom {
   &__toggle {
      position relative
      z-index 20
      &:hover {
         z-index 30
      }
      &-side {
         position relative
         z-index 30
         cursor pointer
      }
      &-main {
         opacity 0
         pointer-events none
         position absolute
         font-size 16px
         font-weight 400
         z-index 20
         min-width 190px
         transition .3s ease
         box-sizing border-box
         padding 10px 24px 0 0
         &:before {
            content ''
            display block
            position absolute
            top: -34px;
            left: -24px;
            right: 0;
            bottom: -32px;
            z-index -1
            background white
            border-radius 3px
            border 1px solid rgba(0, 70, 96, 0.1)
         }
      }
      &-item {
         margin-bottom 10px
         &:last-child {
            margin-bottom 0
         }
      }
      &-link {
         border-bottom 1px solid rgba($color-violet, 0.5)
      }
      &:hover {
         & ^[-1]-main {
            opacity 1
            pointer-events auto
         }
      }
      &_simple {
         & ^[-1]-main {
            position static
            display block
            opacity 1
            pointer-events auto
            &:before {
               display none
            }
         }
         & ^[-1]-main {
            padding-left 10px
         }
      }
   }
   &__nav {
      font-size 18px
      line-height (24 / 18)
      font-weight 500
      letter-spacing 0
      +do(1200) {
         font-size 14px
         line-height 1
      }
      +do(1000) {
         font-size 18px
         line-height (24 / 18)
      }
      &-list {
         display flex
         align-items center
         justify-content space-between
         margin-right -5px
         margin-left -5px
      }
      &-item {
         margin-right 5px
         margin-left 5px
      }
      &-link {
         color #3e405b
      }
   }
}

+do('miw', 1000) {
   .header-bottom {
      &__nav {
         &-item {
            position relative
            &:before {
               content ''
               position absolute
               top -10px
               bottom -10px
               left -15px
               right -15px
               background white
               z-index -1
               opacity 0
               transition .3s ease
               border 1px solid rgba(0, 70, 96, 0.1)
            }
            &:hover:not(&_no_hover) {
               color currentColor
               &:before {
                  opacity 1
               }
            }
         }
         &-link {
            &:hover {
               color $color-violet
            }
         }
      }
   }
}

.header-top_layer {
   padding-top 12px
   border-top 2px solid rgba(94, 96, 127, 0.1)
   .header-top {
      &__wrapper {
         display block
      }
      &__nav {
         &-list {
            display block
         }
         &-item {
            margin-bottom 10px
         }
      }
   }
}

.header-middle_layer {
   padding-top 5px
   margin-bottom 15px
   .header-middle {
      &__wrapper {
         display block
      }
      &__middle {
         margin-bottom 30px
      }
      &__actions {
         display block
         &-item {
            margin-bottom 10px
            &:last-child {
               margin-bottom 0
            }
         }
      }
   }
}

.header-bottom_layer {
   .header-bottom {
      &__nav {
         &-list {
            display block
         }
         &-item {
            margin-bottom 10px
         }
      }
   }
}