.list-help {
  margin-top 48px
  margin-bottom 24px
  &__wrapper {
    +do(500) {
      min-width 0px
    }
  }
  &__list {
    display flex
    margin-right: -10px
    margin-left: -10px
    margin-bottom -20px
    flex-wrap wrap
    align-items: center;
    justify-content: center;
    &-item {
      flex 1
      max-width calc(33.33% - 20px)
      flex-basis calc(33.33% - 20px)
      margin-right: 10px
      margin-left: 10px
      margin-bottom 20px
      border-radius 3px
      +do(1000) {
        max-width calc(50% - 20px)
        flex-basis calc(50% - 20px)
      }
      +do(750) {
        max-width calc(100% - 20px)
        flex-basis calc(100% - 20px)
      }
      &_blue{
        background-image linear-gradient(to top, $color-sky, $color-sky-light)
      }
      &_white {
        background-image linear-gradient(to top, $color-dirty-white, $color-white)
      }
    }
  }
}
.help-title {
  font-size 36px
  line-height 1
  font-weight 700
  padding-left 144px
  padding-top 34px
  padding-right 40px
  padding-bottom 36px
  +do(1200) {
    font-size 24px
    line-height 1
  }
  +do(1000) {
    padding-left 0px
    text-align right
  }
  +do(800) {
    padding-left 130px
    text-align right
  }
  +do(500) {
    padding-left 80px
    padding-right 20px
    text-align right
  }
  &_white {
    color $color-sky
    background-position 20px 12px
    background-repeat no-repeat
    background-image url('../images/help-2.png')
    +do(1000) {
      background-position 5px 12px
    }
    +do(500) {
      background-position -15px 12px
    }
  }
  &_blue {
    color $color-white
    background-position 0px 2px
    background-repeat no-repeat
    background-image url('../images/help-1.png')
  }
}
.shadow {
  box-shadow 0 8px 13px rgba(0,56,167,0.2)
}