.img-title {
  &__wrapper {
    position relative
  }
  &__element {
    position absolute
    height 50%
    width 50%
    color $color-white
    font-size 18px
    line-height 1.3
    box-sizing border-box
    +do(650) {
      font-size 16px
    }
    +do(580) {
      font-size 14px
    }
    +do(500) {
      font-size 18px
    }
    +do(420) {
      font-size 16px
    }
    +do(380) {
      font-size 14px
    }
    &_first {
      top 0
      left 0
      padding-left 86px
      padding-top 104px
    }
    +do(600) {
      padding-left 20%
      padding-top 20%
    }
    &_second {
      top 0
      left 50%
      padding-left 25px
      padding-top 104px
      +do(600) {
        padding-left 5%
        padding-top 20%
      }
    }
    &_third {
      top 50%
      left 0
      padding-left 86px
      padding-top 29px
      +do(600) {
        padding-left 20%
        padding-top 5%
      }
    }
    &_four {
      top 50%
      left 50%
      padding-top 28px
      padding-left 24px
      +do(600) {
        padding-left 5%
        padding-top 5%
      }
    }
  }
}