.info-cols {
   &__list {
      display flex
      justify-content space-between
      margin-right -10px
      margin-left -10px
      flex-wrap wrap
      +do(1000) {
         display block
      }
      &-item {
         flex 1
         margin-right 10px
         margin-left 10px
         +do(1000) {
            &:first-child {
               margin-bottom 15px
            }
         }
      }
   }
   &__box {
      max-width 590px
   }
   &__title {
      font-size 46px
      max-width 600px
      font-weight 700
      line-height 1.2
      color currentColor
      +do(1280) {
         font-size 36px
      }
      +do(1000) {
         max-width none
      }
      +do(750) {
         font-size 24px
         max-width none
      }
      &_large{
         max-width 700px
      }
      &_small {
         font-size 32px
         font-weight 400
         margin-bottom 20px
      }
      &_white {
         color $color-white
      }
      &_max-width_none {
         max-width none
      }
      &_max-width_small {
         max-width 500px
      }
      &_bordered {
         display inline
         border-bottom 1px solid rgba($color-main, 0.5)
      }
      &-specification {
         font-size 48px
         line-height 1
         font-weight 700
         margin-bottom 40px
         margin-top -40px
      }
   }
   &__header {
      padding-top 21px
   }
   &__body {
      margin-bottom 45px
   }
   &__link-wrapper {
      margin-top 16px;
   }
   &__link {
      font-size 24px
      line-height 1.5
      color $color-violet
      border-bottom 1px solid rgba(63, 64, 91, 0.5)
      +do(1280) {
         font-size 16px
      }
   }
   &__additional {
      margin-left -20px
      margin-right -20px
      display none
      +do(750) {
         display block
      }
      &_tablet {
         +do(1000) {
            display block
         }
      }
   }
   &__desc {
      max-width 600px
      font-size 24px
      line-height 1.5
      +do(1280) {
         font-size 22px
         line-height 1.2
      }
      +do(1000) {
         font-size 18px
      }
      +do(750) {
         font-size 16px
         max-width none
      }
      &_small {
         font-size 16px
         line-height (24 / 16)
         +do(1280) {
            font-size 14px
         }
      }
      &_white {
         color $color-white
      }
      &_apadt {
         +do(1350) {
            padding-left 2vw
         }
      }
      &_medium {
         max-width 460px
      }
   }
   &__desc-specification {
      padding-right 110px
      margin-bottom 25px
      font-size 16px
      line-height 1.5
      +do(1000) {
         padding-right 0
         font-size 14px
         line-height 1.5
      }
   }
   &__desc-list {
      margin-bottom 23px
      margin-top 23px
      li {
         margin-bottom 0
         padding-left 36px
         font-size 16px
         line-height 1.5
         font-weight 400
         +do(1280) {
            font-size 14px
            line-height 1.5
         }
      }
      li:before {
         content: '';
         display: block;
         position: absolute;
         left: 2%;
         top: 25%;
         transform: translateY(-50%);
         width: 3px;
         height: 3px;
         background-color: $color-main;
         border-radius: 50%;
      }
   }
   &__main {
      margin-bottom 60px
      +do(750) {
         margin-bottom 20px
      }
      &_margin-bottom {
         margin-bottom 20px
      }
   }
   &__main-consultation {
      margin-left 24px
   }
   &__main-specification {
      margin-top 102px
   }
   &__side {
      margin-bottom 15px
   }
   &__major {
      padding-top 45px
      margin-bottom 24px
      &_white {
         margin-top 80px
         margin-bottom 16px
      }
      &_adapt {
         +do(1350) {
            margin-top 50px
            padding-left 2vw
         }
      }
      &_medium {
         padding-top 32px
         margin-bottom 24px
      }
      +do(750) {
         padding-top 20px
      }
   }
   &__img {
      display block
      &_medium {
         max-width 570px
      }
      &_small {
         max-width 530px
         margin 0 auto
         margin-left 0
      }
      img {
         width 100%
         display block
      }
      &_shadow {
         box-shadow 0 8px 21px 0 rgba(0, 56, 167, 0.3)
      }
      &_center {
         display flex
         align-items center
         justify-content center
         +do(750) {
            padding-left 100px
            padding-right 100px
         }
         +do(500) {
            padding-left 0px
            padding-right 0px
         }
      }
      &_right {
         display flex
         align-items right
         justify-content right
      }
      &_margin-top img {
         z-index: -1
         margin-top -132px
         +do(1000) {
            margin-top -180px
         }
      }
   }
   &__wrapper {
      position relative
   }
   &_padding-top_large {
      padding-top 30px
   }
   &_padding-top_largest {
      padding-top 48px
   }
   &_bordered {
      border-bottom 2px solid #eaeaea
      padding-bottom 50px
      +do(750) {
         padding-bottom 30px
      }
   }
   &_helps {
      position relative
   }
   &_big-window {
      position relative
      height: 34vw;
      max-height: 480px;
      +do(1000) {
         display none
      }
      &:before {
         content ''
         z-index -1
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background-size contain
         background-position center
         background-repeat no-repeat
         background-image url('../images/big-windows.png')
      }
   }
   &_furnitura {
      background-image: linear-gradient(to top, #eeeff2, #ffffff);
      position relative
      min-height 600px
      &:before {
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background-position right
         background-repeat no-repeat
         background-size contain
         background-image url('../images/furnitura-maco.png')
         +do(1600) {
            background-position 160% 0
         }
         +do(1300) {
            background-position 395px 30px
         }
         +do(1000) {
            background-position 480px 120px
         }
         +do(750) {
            display none
         }
      }
      +do(750) {
         min-height 0
         padding-top 0
         padding-bottom 60px
      }
   }
   &_snow-white {
      background-image: linear-gradient(to top, #eeeff2, #ffffff);
      position relative
      min-height 600px
      padding-bottom: 67px;
   }
   &_specification {
      position relative
      min-height 528px
   }
   &_crystallit {
      background-image: linear-gradient(to top, #eeeff2, #ffffff);
      position relative
      min-height 600px
      &:before {
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background-position 0 50%
         background-repeat no-repeat
         background-size auto
         background-image url('../images/crystallit.png')
         +do(1600) {
            background-position -120px 50%
         }
         +do(1300) {
            background-position -240px 50%
         }
         +do(1000) {
            display none
         }
         +do(750) {
            display none
         }
      }
   }
   &_man {
      padding-top 0
      padding-bottom 0
      +do(1000) {
         padding-bottom 40px
      }
      & ^[0]__major {
         +do(1000) {
            padding-top 10px
            margin-bottom 15px
         }
      }
      & ^[0]__img {
         margin 0 auto
      }
      & .list-info {
         &__item {
            &-caption {
               +do(1300) {
                  line-height 1.2
               }
            }
         }
      }
   }
   &_person {
      padding-top 120px
      padding-bottom 120px
      +do(1200) {
         padding-top 80px
         padding-bottom 80px
      }
      +do(1000) {
         padding-top 50px
         padding-bottom 50px
      }
      +do(750) {
         padding-top 20px
         padding-bottom 20px
      }
      & ^[0]__major {
         padding-top 0
         +do(750) {
            max-width 420px
            margin: 0 auto
            text-align center
            margin-bottom 20px
         }
      }
      & ^[0]__desc {
         +do(750) {
            text-align center
            max-width 420px
            margin 0 auto
         }
      }
      & ^[0]__main {
         +do(750) {
            margin-bottom 30px
         }
      }
      & ^[0]__title {
         +do(1000) {
            font-size 26px
         }
      }
      & ^[0]__side {
         +do(750) {
            display flex
            justify-content center
         }
      }
      & ^[0]__list {
         display flex
         align-items center
         +do(750) {
            margin-right 0
            margin-left 0
            display block
         }
         &-item {
            +do(750) {
               margin-right 0
               margin-left 0
            }
            &_img {
               max-width 530px
               display flex
               justify-content flex-end
               margin 0
               margin-right 20px
               +do(1000) {
                  max-width 300px
               }
               +do(750) {
                  margin-bottom 30px
                  justify-content center
                  max-width 220px
                  margin-right auto
                  margin-left auto
               }
            }
         }
      }
      & ^[0]__img {
         max-width 408px
         margin 0
      }
   }
   &_steklopaket {
      & .info-cols__img {
         +do(1200) {
            margin-left auto
            margin-right auto
         }
      }
   }
   &_tab {
      img {
         +do(1200) {
            margin 0 auto
         }
      }
   }
}

.info-cols_billboard {
   border-top 2px solid #eaeaea
   background-image: linear-gradient(to top, #eeeff2, #ffffff);
   +do(1000) {
      border-top none
   }
   .info-cols {
      &__title {
         +do(750) {
            text-align left
         }
      }
      &__billboard {
         +do(1280) {
            min-height 0
         }
      }
      &__box {
         +do(1200) {
            max-width none
         }
      }
      &__list {
         margin-right -25px
         margin-left -25px
         +do(1200) {
            display block
            margin-right 0
            margin-left 0
         }
         &-item {
            margin-right 25px
            margin-left 25px
            +do(1000) {
               display block
               margin-right 20px
               margin-left 20px
            }
            &_billboard-img {
               position relative
               order 1
            }
            &_billboard-desc {
               order 2
               position relative
               padding-top 75px
               +do(1280) {
                  padding-top 60px
               }
               +do(1200) {
                  display flex
                  justify-content center
                  align-items center
                  padding-top 50px
                  padding-bottom 50px
               }
               +do(750) {
                  padding-top 10px
                  padding-bottom 15px
               }
            }
         }
         &__main {
            +do(750) {
               margin-bottom 40px
            }
         }
      }
   }
   .list-info {
      +do(1000) {
         margin 0 auto
      }
      +do(750) {
         max-width none
      }
   }
   img {
      +do(1000) {
         max-height 300px
      }
   }
}

.info-cols_single {
   .info-cols {
      &__header {
         padding-top 0
         +do(1000) {
            padding-top 20px
         }
      }
      &__desc {
         font-size 24px
         +do(1000) {
            font-size 16px
         }
      }
      &__body {
         margin-bottom 33px
      }
      &__img {
         overflow hidden
         border-radius 6px
      }
   }
}

.info-cols_simple {
   padding-top 90px
   padding-bottom 90px
   border-top 2px solid #eaeaea
   background-image: linear-gradient(to top, #eeeff2, #ffffff);
   +do(1200) {
      padding-top 40px
      padding-bottom 40px
   }
   &.border-top-null {
      border-top 0
   }
   .info-cols {
      &__major {
         margin-bottom 50px
         +do(1000) {
            margin-bottom 30px
         }
      }
      &__title {
         +do(750) {
            text-align center
         }
      }
      &__side {
         +do(750) {
            margin-bottom 0
         }
      }
      &__list {
         +do(1000) {
            justify-content center
         }
         &-item {
            &_img {
               margin-right 34px
               +do(750) {
                  margin-right auto
               }
            }
            &_desc {
               min-height 180px
               box-sizing border-box
               padding-bottom 30px
               +do(1000) {
                  flex 0 0 auto
                  min-height 0
                  padding-bottom 0
               }
            }
         }
      }
   }
   .header-middle {
      &__actions {
         justify-content flex-start
         +do(750) {
            display block
            text-align center
         }
      }
      &__action {
         &-item {
            &:first-child {
               margin-right 30px
               +do(750) {
                  margin-right 0
                  margin-bottom 20px
               }
            }
         }
      }
   }
}

.specification {
   &_1 {
      position relative
      &:before {
         content ''
         position absolute
         height 90px
         display block
         width 266px
         left 50px
         top 15px
         border 2px solid rgba(white, 0)
         border-top 2px solid #0038a7
         border-radius 50%
         transform translate(-286px, 17px) rotate(-25deg)
         +do(1280) {
            display none
         }
      }
   }
   &_2 {
      position relative
      &:before {
         content ''
         position absolute
         height 120px
         display block
         width 400px
         left 50px
         top 15px
         border 2px solid rgba(white, 0)
         border-top 2px solid #0038a7
         border-radius 50%
         transform translate(-410px, 30px) rotate(-22deg)
         +do(1280) {
            display none
         }
      }
   }
   &_3 {
      position relative
      &:before {
         content ''
         position absolute
         height 80px
         display block
         width 280px
         left 50px
         top 15px
         border 2px solid rgba(white, 0)
         border-top 2px solid #0038a7
         border-radius 50%
         transform translate(-310px, 19px) rotate(-20deg)
         +do(1280) {
            display none
         }
      }
   }
}

.info-cols_intro {
   position relative
   padding-top 115px
   padding-bottom 115px
   +do(1200) {
      padding-bottom 80px
   }
   +do(1000) {
      padding-bottom 60px
      padding-top 30px
   }
   &:before {
      content ''
      position absolute
      background-image: linear-gradient(to top, #eeeff2, #ffffff);
      top 0
      bottom 0
      left -100vw
      right -100vw
   }
   .info-cols {
      &__list {
         +do(1260) {
            display block
         }
      }
      &__title {
         +do(1260) {
            margin-bottom 30px
         }
         +do(750) {
            margin-bottom 15px
         }
      }
      &__main {
         +do(1000) {
            margin-bottom 40px
         }
      }
      &__desc {
         +do(1260) {
            max-width none
         }
      }
   }
   .list-info {
      +do(1260) {
         max-width none
      }
      &__list {
         +do(1260) {
            max-width none
         }
      }
   }
}