.info-caption {
   text-align center
   max-width 600px
   margin 0 auto
   &__title {
      font-size 48px
      line-height 1
      font-weight 700
      margin-bottom 40px
      +do(1200) {
         font-size 36px
         margin-bottom 20px
      }
      +do(1000) {
         font-size 28px
      }
   }
   &__desc {
      font-size 24px
      line-height (36 / 24)
      +do(1200) {
         font-size 20px
         line-height 1.2
      }
      +do(1200) {
         font-size 18px
         line-height 1.2
      }
   }
}