.info-tabs {
   padding-bottom 94px
   border-bottom 2px solid #eaeaea
   +do(1000) {
      padding-bottom 60px
   }
   &__side {
      margin-bottom 52px
      +do(1000) {
         margin-bottom 40px
      }
   }
   &__main {}
}