.list-video_3x {
  .list-video {
    &__wrapper {
      +do(500) {
        min-width 0px
      }
    }
    &__list {
      display flex
      margin-right: -10px
      margin-left: -10px
      margin-bottom -20px
      flex-wrap wrap
      align-items: center;
      justify-content: center;
      &-item {
        flex 1
        margin-right: 15px
        margin-left: 15px
        margin-bottom 20px
        +do(750) {
          max-width calc(100% - 20px)
          flex-basis calc(100% - 20px)
        }
        & img {
          display block
        }
      }
    }
  }
}