.list-sections {
   &__list {
      &-item {
         &_article {
            margin-bottom 132px
            +do(1000) {
               margin-bottom 100px
            }
            +do(750) {
               margin-bottom 80px
            }
         }
         &_billboards {
            margin-bottom 50px
            &_margin_large {
               margin-bottom 48px
               +do(1000) {
                  margin-bottom 30px
               }
            }
         }
         &_categories {
            margin-bottom 90px
            +do(1000) {
               margin-bottom 20px
            }
         }
         &_profiles {
            margin-bottom 150px
            +do(1000) {
               margin-bottom 80px
            }
            +do(750) {
               margin-bottom 60px
            }
         }
         &_profile {
            margin-bottom 95px
         }
         &_info-tabs {}
         &_showcase {
            padding-top 129px
            background-image: linear-gradient(to top, #eeeff2, #ffffff);
            +do(1000) {
               padding-top 40px
            }
         }
         &_project {
            padding-top 30px
            padding-bottom 30px
         }
         &_const {
            margin-bottom 110px
            +do(1000) {
               margin-bottom 40px
            }
         }
         &_project-card {
            margin-bottom 60px
            +do(1000) {
               margin-bottom 30px
            }
         }
         &_reviews {
            margin-bottom 60px
            +do(1000) {
               margin-bottom 30px
            }
         }
         &_calc {
            margin-bottom 60px
            +do(1000) {
               margin-bottom 30px
            }
         }
         &_billboards-info {
            margin-bottom 120px
            +do(1000) {
               margin-bottom 30px
            }
         }
      }
   }
}