.list-cards {
   &__list {
      &-item {
         display flex
      }
   }
}


.list-cards_2x {
   .list-cards {
      &__list {
         display flex
         margin-right -10px
         margin-left -10px
         margin-bottom -20px
         flex-wrap wrap
         &-item {
            flex 1
            max-width calc(50% - 20px)
            flex-basis calc(50% - 20px)
            margin-right 10px
            margin-left 10px
            margin-bottom 20px
         }
      }
   }
}
+do(750) {
   .list-cards_2x {
      .list-cards {
         &__list {
            display block
            &-item {
               max-width calc(100% - 20px)
            }
         }
      }
   }
}


.list-cards_3x {
   .list-cards {
      &__list {
         display flex
         margin-right: -10px
         margin-left: -10px
         margin-bottom -20px
         flex-wrap wrap
         &-item {
            flex 1
            max-width calc(33.33% - 20px)
            flex-basis calc(33.33% - 20px)
            margin-right: 10px
            margin-left: 10px
            margin-bottom 20px
         }
      }
   }
}
+do(750) {
   .list-cards_3x {
      .list-cards {
         &__list {
            display block
            &-item {
               margin-bottom 30px
               max-width none
               margin-right auto
               margin-left auto
               &:last-child {
                  margin-bottom none
               }
            }
         }
      }
   }
}

.list-cards_4x {
   .list-cards {
      &__list {
         display flex
         margin-right: -10px
         margin-left: -10px
         margin-bottom -20px
         flex-wrap wrap
         &-item {
            flex 1
            max-width calc(25% - 20px)
            flex-basis calc(25% - 20px)
            margin-right: 10px
            margin-left: 10px
            margin-bottom 20px
         }
      }
   }
}
+do(1200) {
   .list-cards_4x {
      .list-cards {
         &__list {
            &-item {
               flex 1
               max-width calc(33.33% - 20px)
               flex-basis calc(33.33% - 20px)
            }
         }
      }
   }
}
+do(1000) {
   .list-cards_4x {
      overflow-x scroll
      -webkit-overflow-scrolling touch
      margin-right -20px
      margin-left -20px
      padding-left 20px
      padding-bottom 20px
      padding-top 5px
      .list-cards {
         &__list {
            flex-wrap nowrap
            margin-bottom 0
            &:after {
               content ''
               flex 0 0 auto
               width 20px
               display block
            }
            &-item {
               flex 0 0 auto
               width 300px
               margin-bottom 0
               max-width none

            }
         }
      }
   }
}
+do(750) {
   .list-cards_4x {
      .list-cards {
         &__list {
            &-item {
               width 250px
            }
         }
      }
   }
}
.list-cards_5x {
   .list-cards {
      &__list {
         display flex
         margin-right: -10px
         margin-left: -10px
         flex-wrap wrap
         &-item {
            flex 1
            max-width calc(20% - 20px)
            flex-basis calc(20% - 20px)
            margin-right: 10px
            margin-left: 10px
         }
      }
   }
}
+do(1200) {
   .list-cards_5x {
      .list-cards {
         &__list {
            &-item {
               flex 1
               max-width calc(33.33% - 20px)
               flex-basis calc(33.33% - 20px)
            }
         }
      }
   }
}
+do(1000) {
   .list-cards_5x {
      overflow-x scroll
      -webkit-overflow-scrolling touch
      margin-right -20px
      margin-left -20px
      padding-left 20px
      padding-bottom 20px
      padding-top 5px
      .list-cards {
         &__list {
            flex-wrap nowrap
            margin-bottom 0
            &:after {
               content ''
               flex 0 0 auto
               width 20px
               display block
            }
            &-item {
               flex 0 0 auto
               width 300px
               margin-bottom 0
               max-width none

            }
         }
      }
   }
}
+do(750) {
   .list-cards_5x {
      .list-cards {
         &__list {
            &-item {
               width 250px
            }
         }
      }
   }
}