.list-info {
   max-width 590px
   &__list {
      display flex
      justify-content space-between
      align-items flex-start
      flex-wrap wrap
      margin-right -12px
      margin-left -12px
      margin-bottom -24px
      color #3f405b
      max-width 595px
      &-item {
         margin-right 12px
         margin-left 12px
         margin-bottom 24px
         +do(1300) {
            margin-right 10px
            margin-left 10px
            margin-bottom 20px
         }
         +do(1000) {
            margin-bottom 20px
         }
         +do(750) {
            margin-bottom 12px
         }
      }
      &_1x {
         display block
         & ^[0]__list-item {
            margin-right 12px
            margin-left 12px
            max-width calc(100% - 24px)
            flex-basis calc(100% - 24px)
            margin-bottom 46px
            &:last-child {
               margin-bottom 0
            }
         }
         & ^[0]__item {
            margin-right 0
            margin-left 0
         }
      }
      &_2x {
         & ^[0]__list-item {
            margin-right 12px
            margin-left 12px
            max-width calc(50% - 24px)
            flex-basis calc(50% - 24px)
            margin-bottom 24px
            +do(750) {
               margin-right 6px
               margin-left 6px
               max-width calc(50% - 12px)
               flex-basis calc(50% - 12px)
            }
         }
         & ^[0]__item {
            margin-right 0
            margin-left 0
         }
      }
      &_3x {
         max-width none
         & ^[0]__list {
            max-width none
         }
         & ^[0]__list-item {
            margin-right 12px
            margin-left 12px
            max-width calc(33.33% - 24px)
            flex-basis calc(33.33% - 24px)
            margin-bottom 24px
            +do(500) {
               max-width calc(50% - 24px)
               flex-basis calc(50% - 24px)
            }
            +do(360) {
               max-width none
               flex-basis 100%
            }
         }
         & ^[0]__item {
            margin-right 0
            margin-left 0
         }
      }
   }
   &__item {
      &-wrapper {
         display flex
         align-items flex-start
         &_flex-start {
            align-items flex-start
         }
      }
      &-icon {
         margin-right 8px
         flex 0 0 auto
         img {
            display block
         }
      }
      &-caption {
         line-height (24 / 16)
         font-size 16px
         font-weight 700
         +do(750) {
            font-size 14px
         }
      }
      &-title {
         font-size 48px
         line-height 1.2
         font-weight 700
         +do(1000) {
            font-size 36px
         }
         +do(750) {
            font-size 22px
         }
         &_small {
            font-size 36px
            +do(1280) {
               font-size 26px
            }
         }
      }
      &-desc {
         font-size 16px
         line-height (24 / 16)
         max-width 150px
         +do(750) {
            max-width 170px
         }
         &_max-width_large {
            max-width 250px
         }
      }
   }
   &__wrapper {
      display flex
      align-items center
   }
   &__icon {
      flex 0 0 auto
      margin-right 15px
   }
   &_billboards {
      +do(1200) {
         max-width none
      }
   }
   &_max-width_none {
      max-width none
   }
   &_flex-start {
      & ^[0]__list {
         justify-content flex-start
         +do(750) {
            justify-content center
         }
      }
   }
}