.map-box {
   box-sizing border-box
   padding-top 30px
   padding-bottom 30px
   position relative
   +do(750) {
      padding-top 0
   }
   &__main {
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      +do(750) {
         position relative
         min-height 200px
         margin-bottom 20px
         box-sizing border-box
         padding 0 20px
      }
      &:before {
         content ''
         display block
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         pointer-events none
         background: rgba(0, 56, 167, 0.2)
         z-index 5
         +do(750) {
            display none
         }
      }
   }
}

.map-inbox {
   &__info {
      justify-content flex-end
      display flex
   }
}

.map-card {
   flex 1 1 100%
   min-height 590px
   max-width 400px
   box-sizing border-box
   padding 46px 40px 40px 40px
   box-shadow 0 8px 21px 0 rgba(0, 56, 167, 0.3)
   border-radius 3px
   background-color #ffffff
   position relative
   z-index 99
   +do(750) {
      text-align center
      max-width none
      box-shadow none
      padding 0
      min-height 0
      .button {
         width auto
      }
   }
   &__title {
      font-size 24px
      font-weight 700
   }
   &__header {
      margin-bottom 12px
   }
   &__main {
      margin-bottom 23px
   }
   &__side {
   }
   &__phone {
      font-size 24px
      line-height (36 / 24)
      &-main {
      }
      &-side {
         font-size 16px
         line-height (24 / 16)
      }
   }
   &__list {
      &-item {
         margin-bottom 23px
         &:last-child {
            margin-bottom 0
         }
      }
   }
   &__body {
      margin-bottom 30px
   }
   &__actions {
      &-item {
         margin-bottom 24px
         +do(750) {
            display flex
            justify-content center
         }
         &:last-child {
            margin-bottom 0
         }
      }
   }
}