.office-box {
   position relative
   &__close {
      cursor pointer
      position: absolute;
      right: 15px;
      top: 18px;
      &:after {
         content ''
         position absolute
         top -5px
         left -5px
         right -5px
         bottom -5px
      }
      &:before {
         content ''
         display block
         svg('close-simple', 12px)
      }
      &:hover {
         opacity 0.8
      }
   }
   &__main {
      opacity 0
      position absolute
      background white
      box-sizing border-box
      padding 32px 15px 40px 15px
      min-width 312px
      left 50%
      border-radius 3px
      line-height 1.5
      font-size 16px
      transform translateX(-50%) translateY(10px)
      margin-top 12px
      box-shadow 0 10px 50px rgba(24, 69, 95, 0.41)
      pointer-events none
      z-index 34
      transition .3s ease
      &:before {
         content ''
         display block
         position absolute
         top -10px
         transform translateX(-50%)
         width 0
         left 50%
         height 0
         border-style solid
         border-width 0 40px 40px 40px
         border-color transparent transparent #ffffff transparent
      }
      +do(750) {
         min-width 240px
         font-size 14px
      }
   }
   &__section {
      margin-bottom 24px
      &:last-child {
         margin-bottom 0
      }
   }
   &__sections {
      max-width 184px
      margin-left auto
      margin-right auto
   }
   &.is-open {
      & ^[0]__main {
         opacity 1
         transform translateX(-50%) translateY(0)
         pointer-events auto
      }
   }
}