.pagination {
   padding-top 30px
   justify-content center
   display flex
   align-items center
   &__list {
      display flex
      align-items center
      justify-content center
      margin-right -3px
      margin-left -3px
      flex-wrap wrap
      & .page-numbers {
         margin-right 3px
         margin-left 3px
         flex 0 0 auto
         display flex
         border-radius 3px
         justify-content center
         align-items center
         size 34px
         box-sizing border-box
         padding 5px
         border 1px solid #828181
         background-color white
         &.prev {
            position relative
            &:before {
               content ''
               position absolute
               top 50%
               left 50%
               transform translate(-50%, -50%)
               display block
               svg('arrow-left', 6px, black)
            }
         }
         &.next {
            position relative
            &:before {
               content ''
               position absolute
               top 50%
               left 50%
               transform translate(-50%, -50%)
               display block
               svg('arrow-right', 6px, black)
            }
         }
         &.current {
            background-color #ececec
            pointer-events none
         }
         &.disabled {
            opacity 0.5
            pointer-events none
         }
      }
   }
}