.profiles {
   &-section {

   }
   &-block {

   }
   &__wrapper {
      margin-top 175px
   }
   &__title {
      font-size 48px
      line-height 1
      font-weight 700
      color $color-violet
      &_center {
         text-align center
      }
   }
   &__table-wrapper {
      +do(1280) {
         overflow-x scroll
      }
   }
   &__table {
      margin-top 40px
      margin-right -10px
      margin-left -10px
      min-width 1230px
      margin-bottom 20px
      +do(1280) {
         padding-right 10px
         margin-left 10px
      }
   }
   &__row {
      width 100%
      min-height 24px
      display flex
      &-title {
         & .profiles__column {
            padding-bottom 20px
         }
      }
      &_logo {
         height 36px
      }
      &_blue {
         border-radius 3px
         background-color rgba(0, 56, 167, 0.1)
      }
      &_buttons {
         min-height 0
         & .profiles__column {
            padding-top 10px
         }
      }
   }
   &__column {
      width calc(100% - 250px / 8)
      padding-left 14px
      &_border {
         border-right 1px solid rgba(0, 56, 167, 0.3)
      }
      &-hit {
         color $color-white
         border-radius 3px
         font-size 10px
         line-height 1.6
         padding-left 5px
         padding-right 6px
         background-image linear-gradient(to top, #ff5000, #ff473e)
         display inline-block
         transform translateY(-3px)
         margin-left -1px
      }
      &-button {
         letter-spacing .71px
         display inline-block
         font-size 10px
         line-height 1.8
         color $color-violet
         padding-top 4px
         padding-left 12px
         padding-right 10px
         padding-bottom 2px
         border-radius 3px
         border 1px solid rgba(0, 56, 167, 0.1)
         background-image linear-gradient(to top, #eeeff2, #ffffff)
         &:hover {
            opacity .8
            transform translateY(-3px)
         }
      }
      &-title {
         font-size 16px
         line-height 1.5
         color $color-violet
         font-weight 300
         &_bold {
            font-weight 600
         }
      }
      &-cell {
         font-size 12px
         line-height 3
         font-weight 400
      }
      &_first {
         width 200px
         min-width 200px
         box-sizing border-box
         font-size 12px
         line-height 3
         font-weight 600
      }
      &_salamander {
         background-position 14px 6px
         background-repeat no-repeat
         background-image url('../images/salamander.jpg')
      }
      &_exprof {
         background-position 14px 6px
         background-repeat no-repeat
         background-image url('../images/exprof.png')
      }
      &_gealan {
         background-position 14px 6px
         background-repeat no-repeat
         background-image url('../images/gealan.png')
      }
      &_ortex {
         background-position 14px 6px
         background-repeat no-repeat
         background-image url('../images/ortex.png')
      }
   }
}
.profiles-list {
   &__list {
      &-item {
         margin-bottom 140px
         +do(1000) {
            margin-bottom 60px
         }
         &:last-child {
            margin-bottom 0
         }
      }
   }
}