.projects {
   &__title {
      color #3f405b
      font-size 48px
      line-height 1
      font-weight 700
      margin-bottom 40px
      +do(1200) {
         font-size 36px
         margin-bottom 30px
      }
      +do(1000) {
         font-size 36px
         margin-bottom 25px
      }
      +do(750) {
         font-size 24px
         margin-bottom 20px
      }
      &_center {
         text-align center
      }
   }
   &__item {
      position relative
      &-main {
         margin-bottom 22px
         +do(1200) {
            margin-bottom 10px
         }
      }
      &-link {
         font-size 24px
         line-height (36 / 24)
         border-bottom 1px solid rgba(#3f405b, 0.5)
         +do(1200) {
            font-size 20px
            line-height 1.2
         }
         +do(750) {
            font-size 16px
         }
         &:before {
            content ''
            position absolute
            top 0
            left 0
            right 0
            bottom 0
         }
      }
   }
   &__list {
      display flex
      flex-wrap wrap
      margin-right -12px
      margin-left -12px
      margin-bottom -63px
      +do(1200) {
         margin-bottom -40px
      }
      +do(1000) {
         margin-bottom -30px
      }
      +do(750) {
         margin-bottom -25px
      }
      &-item {
         margin-right 12px
         margin-left 12px
         max-width calc(50% - 24px)
         flex-basis calc(50% - 24px)
         margin-bottom 63px
         +do(1200) {
            margin-bottom 40px
         }
         +do(1000) {
            margin-bottom 30px
         }
         +do(750) {
            margin-bottom 25px
         }
         &_full {
            flex 1
            flex-basis 100%
            max-width none
         }
      }
      &_3x {
         & ^[1]-item {
            max-width calc(33.33% - 24px)
            flex-basis calc(33.33% - 24px)
            +do(750) {
               max-width calc(50% - 24px)
               flex-basis calc(50% - 24px)
            }
            +do(500) {
               max-width calc(100% - 24px)
               flex-basis calc(100% - 24px)
            }

         }
      }
   }
   &__nav {
      font-size 18px
      margin-bottom 70px
      color $color-violet
      +do(750) {
         font-size 14px
         overflow scroll
         margin-bottom 20px
         margin-right -20px
         padding-right 20px
         margin-left -20px
         padding-left 20px
         position relative
      }
      &-list {
         display flex
         flex-wrap wrap
         margin-right -15px
         margin-left -15px
         +do(750) {
            padding-top 3px
            padding-bottom 3px
            flex-wrap nowrap
            margin-right -10px
            margin-left -10px
            &:after {
               content ''
               display block
               flex 0 0 auto
               width 20px
            }
         }
      }
      &-item {
         flex 0 0 auto
         margin-right 15px
         margin-left 15px
         +do(750) {
            margin-right 10px
            margin-left 10px
         }
         &_active {
            pointer-events none
            & ^[-2]-link {
               position relative
               border-bottom 1px solid rgba($color-violet, 0)
               &:before {
                  content ''
                  display block
                  z-index -1
                  position absolute
                  bottom -7px
                  top -7px
                  left -10px
                  right -10px
                  background #ececec
               }
            }
         }
      }
      &-link {
         color $color-violet
         border-bottom 1px solid rgba($color-violet, 0.5)
      }
   }
   &__action {
      padding-top 80px
      margin-bottom 115px
      display flex
      justify-content: center
      align-items center
      +do(1200) {
         padding-top 40px
         margin-bottom 75px
      }
      +do(750) {
         padding-top 20px
         margin-bottom 20px
      }
      &_gap_none {
         margin-bottom 0
      }
   }
   img {
      display block
   }
}