.project {
   &__breadcrumbs {
      margin-bottom 30px
      +do(750) {
         display none
      }
   }
   &__title {
      font-size 48px
      font-weight 700
      line-height 1.2
      margin-bottom 70px
      +do(1200) {
         margin-bottom 40px
         font-size 36px
      }
      +do(1000) {
         margin-bottom 20px
         font-size 24px
      }
   }
   &__major {
      margin-bottom 80px
      +do(1200) {
         margin-bottom 40px
      }
      +do(1000) {
         margin-bottom 30px
      }
      &-wrapper {
         padding-bottom 70px
         box-sizing border-box
         display flex
         position relative
         +do(1200) {
            padding-bottom 40px
         }
         +do(1000) {
            padding-bottom 30px
         }
         +do(750) {
            display block
         }
         &:before {
            content ''
            position absolute
            left -100vw
            right -100vw
            top 0
            bottom 0
            z-index -1
            background-image linear-gradient(to top, #eeeff2, #ffffff)
         }
      }
   }
   &__table {
      table {
         td {
            width 50%
         }
      }
   }
   &__main {
      flex 0 0 auto
      width 640px
      margin-right 110px
      +do(1400) {
         margin-right 80px
      }
      +do(1200) {
         margin-right 60px
         width 480px
      }
      +do(1000) {
         margin-right 30px
         width 320px
      }
      +do(750) {
         width auto
         margin-right 0
         margin-bottom 15px
      }
   }
   &__side {
      flex 1
   }
   &__gallery {
      &-main {
         margin-bottom 30px
      }
      &-side {
      }
   }
   &__table {
      margin-bottom 50px
   }
   &__desc {
      font-size 18px
      line-height 1.5
      margin-bottom 50px
   }
}