.reviews {
   &__title {
      font-size 48px
      font-weight 700
      line-height 1.2
      margin-bottom 70px
      +do(1200) {
         margin-bottom 40px
         font-size 36px
      }
      +do(1000) {
         margin-bottom 20px
         font-size 24px
      }
   }
   &__side {
      margin-bottom 80px
      +do(1200) {
         margin-bottom 60px
      }
      +do(750) {
         margin-bottom 40px
      }
   }
   &__list {
      &-item {
         padding-bottom 60px
         position relative
         &:before {
            content ''
            position absolute
            bottom 0
            height 2px
            left -100vw
            right -100vw
            z-index -1
            background-color #efefef
         }
         &:last-child {
            margin-bottom 0
         }
      }
   }
}

.review-item {
   padding-top 60px
   &__doc {
      color: #606060;
      font-weight: 400;
      font-size: 16px;
   }
   &__title {
      font-size 32px
      line-height 1.2
      color currentColor
      +do(750) {
         font-size 28px
      }
      &_vk {
         position relative
         padding-left 40px
         box-sizing border-box
         &:before {
            content ''
            position absolute
            left 0
            top 6px
            display block
            svg('vk', 30px, #5e607f)
            +do(750) {
               top 2px
            }
         }
         & ^[-1]-caption {
            border-bottom 1px solid rgba($color-violet, 0.5)
         }
      }
      &_instagram {
         position relative
         padding-left 40px
         box-sizing border-box
         &:before {
            content ''
            position absolute
            left 0
            top 6px
            display block
            svg('instagram', 30px, #5e607f)
            +do(750) {
               top 2px
            }
         }
         & ^[-1]-caption {
            border-bottom 1px solid rgba($color-violet, 0.5)
         }
      }
      &-caption {

      }
   }
   &__desc {
      font-size 24px
      line-height 1.5
      +do(1000) {
         font-size 18px
      }
   }
   &__header {
      margin-bottom 37px
      &-wrapper {
         display flex
         flex-wrap wrap
         align-items center
         margin-right -20px
         margin-left -20px
         margin-bottom -20px
      }
      &-side {
         flex 0 0 auto
         margin-right 20px
         margin-left 20px
         margin-bottom 20px
      }
      &-main {
         flex 0 1 auto
         margin-right 20px
         margin-left 20px
         margin-bottom 20px
      }
   }
   &__major {
      position relative
      &-wrapper {
         display flex
         margin-right -40px
         margin-left -40px
         +do(1000) {
            margin-right -20px
            margin-left -20px
         }
         +do(750) {
            display block
         }
      }
   }
   &__side {
      margin-right 40px
      margin-left 40px
      +do(1000) {
         margin-right 20px
         margin-left 20px
      }
      +do(750) {
         margin-bottom 30px
      }
   }
   &__main {
      margin-right 40px
      margin-left 40px
      flex 1
      +do(1000) {
         margin-right 20px
         margin-left 20px
      }
   }
   &__minor {
      box-sizing border-box
      padding-top 40px
   }
   &__company {
      max-width 1060px
      background: #fbfbfd
      font-size 20px
      line-height 1.5
      padding 50px 40px 50px 40px
      margin-left auto
      box-shadow 0 5px 10px rgba(#c7c5c5, 0.5)
      position relative
      &:before {
         content ''
         width: 0;
         height: 0;
         border-style: solid;
         border-width: 0 20px 40px 20px
         border-color: transparent transparent #fbfbfd transparent
         top -25px
         left 40px
         position absolute
      }
      +do(750) {
         padding 30px 25px 30px 25px
      }
      &-main {
         margin-bottom 40px
      }
      &-side {
         font-weight 700
      }
   }
   &__avatar {
      size 300px
      border-radius 50%
      background-position center
      background-repeat no-repeat
      background-size cover
      +do(1200) {
         size 180px
      }
      +do(1000) {
         size 150px
      }
   }
}