.review {
  margin-top 125px
  &__title {
    font-size 48px
    line-height 1
    font-weight 700
    color $color-violet
    text-align center
    margin-bottom 43px
    +do(1200){
      font-size: 36px;
      line-height: 1;
    }
  }
}