.section {
   &__side {
      margin-bottom 34px
   }
   &__main {
   }
   &__additional {
      padding-top 75px
   }
}

+do(750) {
   .section {
      &__side {
         margin-bottom 20px
      }
      &__additional {
         padding-top 45px
      }
   }
}

.section_promo {
   padding-top 40px
   position relative
   margin-bottom 22px
   &:before {
      z-index -1
      content ''
      position absolute
      left -100vh
      right -100vh
      top 0
      height 80%
      background #F7F7F9
   }
}

+do(750) {
   .section_promo {
      padding-top 25px
      margin-bottom 20px
   }
}

.section_popular {
   padding-top 50px
   box-sizing border-box
}

+do(750) {
   .section_popular {
      padding-top 30px
   }
}

.section_billboard {
   margin-bottom 64px
}

+do(750) {
   .section_billboard {
      margin-bottom 24px
   }
}

.section_category {
   margin-bottom: 59px;
   padding-bottom: 39px;
   position relative
   &:after {
      content ''
      bottom 0
      display block
      background: #F3F4F6
      left -100vw
      right -100vw
      height 1px
      position absolute
   }
}

+do(750) {
   .section_category {
      margin-bottom: 20px;
      padding-bottom: 15px;
   }
}

.section_last-category {
   margin-bottom 0
   padding-bottom 90px
}

+do(750) {
   .section_last-category {
      margin-bottom 0
      padding-bottom 15px
   }
}

.section_breadcrumbs {
   margin-bottom 50px
}

+do(1200) {
   .section_breadcrumbs {
      display none
   }
}

.sections-list {
   &__item {
      &_center {
         display flex
         justify-content center
         align-items center
      }
      &_row-small {
         margin-bottom 30px
      }
   }
}

.sections-list_row_xsmall {
   & > .sections-list__list > .sections-list__list-item {
      margin-bottom 30px
   }
}