.selectus {
   position relative
   max-width 100%
   word-wrap break-word
   font-family $font-open
   select {
      display none
   }
   &.is-open {
      z-index 1000
   }
   select & {
      opacity 0
   }
}

.selectus_inline,
.selectus_mutate,
.selectus_clean {
   vertical-align top
   display inline-block
}

.selectus-field {
   @extend $input
   min-height 0
   cursor pointer
   display flex
   z-index 10
   position relative
   max-width 100%
   padding 8px 19px 10px
   padding-right (24px + 14px)
   height auto !important
   background white
   border-color white
   color black
   &:after {
      content ''
      position absolute
      svg('arrow-down', 10px, $color-orange)
      align-center-y(-1px)
      right 17px
   }
   &__value {
      color $color-gray-dark
      overflow hidden
      flex 1
      min-height $line-main* 1em
      flex-basis auto
      position relative
      white-space nowrap
      text-overflow ellipsis
      &[data-value] {
         &:after {
            content attr(data-value)
            overflow hidden
            display block
            max-width 100%
            white-space nowrap
            text-overflow ellipsis
         }
      }
      &[data-title] {
         &:before {
            content attr(data-title)
            pointer-events none
            overflow hidden
            z-index 10
            display block
            white-space nowrap
            text-overflow ellipsis
         }
      }
   }
   &__clear {
      display none
   }
   +hover() {
      border-color #8f8c8c
   }
}

.selectus.is-selected .selectus-field {
   &__value {
      &:before {
         display none
         opacity 0
      }
   }

   &[data-prefix] {
      &:before {
         content attr(data-prefix) ':'
         flex 0 0 auto
         margin-right .25em
      }
   }
}

.selectus.is-open .selectus-field {
   &:after {
      svg('arrow-up', 10px, $color-orange)
      align-center-y(-1px)
   }
}

.selectus_mutate .selectus-field,
.selectus_clean .selectus-field {
   max-width none
   width auto
   border none
   padding 6px (13px + 6px) 6px 0
   color $color-black-xlight
   font-weight 300
   font-size $size-small
   line-height $line-small
   white-space normal
   &:after {
      transform translate(0, -1px)
      svg-size('arrow-down', 10px)
      right 0
   }
   &__value {
      &[data-value] {
         &:after {
            position relative
            white-space normal
         }
      }
      &[data-title] {
         &:before {
            position relative
            font-size $size-small
            line-height $line-small
         }
      }
   }

   +hover() {
      color $color-violet
      &:after {
         svg-color('arrow-down', $color-gray-dark)
      }
   }
   .selectus.is-open & {
      &:after {
         svg-size('arrow-up', 10px)
      }
      +hover() {
         &:after {
            svg-color('arrow-up', $color-gray-dark)
         }
      }
   }
   .selectus.is-selected & {
      &__value {
         &[data-title] {
            &:before {
               display none
            }
         }
      }
      &__clear {
         display block
      }
   }
}

.selectus_mutate .selectus-field {
   &__value {
      &[data-title] {
         &:before {
            position relative
         }
      }
   }
   &__clear {
      transition $transition-fast
      position absolute
      top 0
      right 0
      bottom 0
      width 28px
      border-left 1px solid white
      border-radius 0 2px 2px 0
      background $color-violet
      &:after {
         content ''
         position absolute
         svg('cross', 10px, white, center)
      }
      +hover() {
         background $color-violet-dark
      }
   }

   +hover() {
      color $color-violet
   }
   .selectus.is-selected & {
      padding-right 37px
      padding-left 8px
      border-radius 2px
      background $color-violet
      &:after {
         display none
      }
      &__clear {
         display block
      }

      +hover() {
         background $color-violet-dark
      }
   }
}

.selectus_no-wrap .selectus-field {
   &__value {
      flex 1 0 auto
   }
}

.selectus.is-multiple .selectus-field {
   &:after {
      transform none
      svg('plus', 10px, $color-black)
      margin-top -6px
   }
   +hover() {
      &:after {
         svg-color('plus', $color-black)
      }
   }
}

.selectus-options {
   transition $transition-fast
   transform translate(-50%, 0)
   display none
   position absolute
   top 100%
   left 50%
   max-width 400px
   min-width 100%
   width 250px
   padding-top 15px
   color $color-main
   font-weight 500
   font-size $size-main
   line-height $line-main
   &__wrapper {
      z-index 10
      position relative
      background white
      margin-top -2px
      border-radius 5px
      box-shadow 0 5px 20px rgba(0, 0, 0, 0.1)
      padding-top 20px
      padding-bottom 20px
   }
   &__triangle {
      display none
      overflow hidden
      position absolute
      bottom 100%
      left 0
      width 100%
      height 13px
      &:before {
         content ''
         transform rotate(45deg)
         transform-origin 0 0
         position absolute
         top 5px
         left 50%
         size 16px
         width 22px
         height 10px
         border 2px solid $color-grey
         background white
      }
   }
   &__search {
      .field {
         margin 0
         &:before {
            content ''
            position absolute
            svg('search', 18px, $color-grey-dark)
            align-center-y(-2px)
            left 20px
         }
         &__input {
            padding 11px 20px
            padding-left (20px + 18px + 10px)
            border 0
            border-bottom 1px solid $color-grey
            border-radius 0
            margin-bottom 15px
         }
         &__title {
            top 12px
            right 20px
            left (20px + 18px)
            display none
         }
      }
   }
   &__list {
      max-height (54px * 6)
      .simplebar-track {
         width 3px
         border-radius 0
         background lightgray
         right 7px
         margin 0
      }
      .simplebar-track.horizontal {
         display none
      }
      .simplebar-track.vertical .simplebar-scrollbar {
         opacity 1
         right 0
         width 100%
         border-radius 0
         background $color-orange
      }
      &.scroll-visible {
      // margin-right -25px
      }
      &.scroll-visible .simplebar-scroll-content {
      // padding-right 20px
         max-height (54px * 6)
      }
      &.scroll-visible .simplebar-scroll-content .simplebar-content {
      // padding-right 12px
      }
   }
   &__item {
      user-select none
      cursor pointer
      transition $transition-fast
      overflow hidden
      display flex
      max-width 100%
      position relative
      padding 19px 0 18px 0
      margin-right 24px
      margin-left 20px
      border-bottom 1px solid #F0F0F0
      &-fake {
         opacity 0
         transition $transition-fast
         position absolute
         top (15 / no-unit($size-main)) em
         right 20px
      //&:before {
      //   content ''
      //   display block
      //   svg('check', 12px, #4466AD)
      //}
      }
      &-title {
         flex 1
      }
      &-additionals {
         flex 0 0 auto
         display flex
      }
      &-additional {
         flex 0 0 auto
      }
      &:first-child {
         padding-top 0
      }
      &:last-child {
         padding-bottom 0
         border-bottom 0
      }

      &:hover,
      &:active {
         color $color-orange
      }

      &.is-active {
         color $color-orange
         & ^[-1]-fake {
            opacity 1
         }
         &:hover,
         &:active {
            color $color-orange
         }
      }
      &.is-filter {
      }
      &_empty {
         pointer-events none
         cursor default
         display none

         & ^[-1]-fake {
            display none
         }
      }
   }

   &.is-filter {
      & ^[0]__item {
         &:not(.is-filter) {
            display none
         }
      }
   }
   &.is-filter-empty {
      & ^[0]__item {
         &_empty:not(.is-filter) {
            display block
         }
      }
   }
}

.selectus.is-open .selectus-options {
   display block
}

.selectus.is-multiple .selectus-options {
   padding-top 13px
   &__triangle {
      display block
   }
   &__list {
   }
   &__item {
      padding-left (24px + 16px + 8px)
      &-fake {
         box-sizing border-box
         transition $transition-fast
         opacity 1
         position absolute
         top 18px
         left 24px
         size 16px
         border 1px solid $color-black
         background-color $color-white
         &:before {
            content ''
            transition $transition-fast
            transform translate(0, 1px)
            opacity 0
            position absolute
            svg('check', 10px, $color-white)
            align-center(0 -1px)
         }
      }
      &-additionals {
      }
      &-title {
         margin-right 0
      }

      &:hover,
      &:active {
         background-color transparent
         color $color-black-light
         .selectus-options__item {
            &-fake {
               box-shadow inset 0 0 0 1px $color-black
            }
         }
      }
      &.is-active {
         background-color transparent
         &:hover,
         &:active {
            color $color-main
         }
      }
      &.is-active .selectus-options__item {
         &-fake {
            border-color $color-black
            background-color $color-black
            &:before {
               transform translate(0, 0)
               opacity 1
            }
         }
      }
   }
}

.selectus_content .selectus-options {
   &__wrapper {
      padding 20px
      padding-top 28px
      border-radius 10px
   }
}

.selectus_position_left .selectus-options {
   transform translate(0, 0)
   left 0
   &__triangle {
      &:before {
         left 28px
      }
   }
}

.selectus_position_right .selectus-options {
   transform translate(0, 0)
   left auto
   right 0
   &__triangle {
      &:before {
         right 16px
         left auto
      }
   }
}

.selectus_small {
   .selectus-field {
      padding 8px 16px
      padding-right (16px + 14px + 10px)
      border-width 1px
      &::before {
         text-transform uppercase
         font-weight 500
      }
      &__value {
         font-weight 500
         text-transform uppercase
      }
   }
   .selectus-options {
      &__triangle {
         &::before {
            border-width 1px
         }
      }
      &__wrapper {
         border-width 1px
      }
      &__search {
         .field {
            &:before {
               left 13px
            }
            &__input {
               padding 8px 16px
               padding-left (16px + 18px + 5px)
               border 0
               border-bottom 1px solid $color-grey
            }
         }
      }
      &__item {
         padding 8px 16px
      }
   }
}

.selectus_small.is-multiple {
   .selectus-options {
      &__item {
         padding-left (16px + 16px + 8px)
         &-fake {
            top 11px
            left 16px
         }
      }
   }
}

.selectus_dark {
   .selectus-field {
      border 1px solid #d1d1d1
      padding 14px 19px 15px
   }
}

.selectus_white {
   .selectus-field {
      border-width 2px
      +hover() {
          border-color $color-orange
      }
   }
   &select {
      display none
   }
}