.schema {
   background-image: linear-gradient(to top, #eeeff2, #ffffff);
   &__wrapper {
      position relative
      min-height 610px
      +do(1000) {
         padding-top 30px
         padding-bottom 30px
         min-height none
      }
   }
   &__img {
      position absolute
      left 50%
      transform translateX(-50%)
      bottom 0
      +do(1280) {
         max-width 270px
      }
      +do(1000) {
         position static
         transform none
         margin-left auto
         margin-right auto
         margin-bottom 30px
      }
   }
   &__list {
      +do(1000) {
         display flex
         flex-wrap wrap
         justify-content center
         margin-right -20px
         margin-left -20px
         margin-bottom -20px
      }
   }
   &__title {
      max-width 400px
      font-size 48px
      line-height 1
      font-weight 700
      position absolute
      top 50px
      &-caption {
         display inline
         border-bottom 1px solid rgba($color-violet, 0.5)
      }
      +do(1000) {
         max-width none
         font-size 36px
         position static
         margin-bottom 60px
      }
      +do(750) {
         font-size 24px
         margin-bottom 30px
      }
   }
   &__info {
      max-width 260px
      position absolute
      +do(1000) {
         position static
         margin-right 20px
         margin-left 20px
         margin-bottom 20px
      }
      &-title {
         color #5e607f
         font-weight 700
         +do(750) {
            font-size 18px
            text-align center
         }
      }
      &-desc {
         color #3f405b
         +do(750) {
            font-size 16px
            text-align center
         }
      }
      &_1 {
         top 204px
         &:before {
            content ''
            position absolute
            height 200px
            display block
            width: 410px;
            left: 50px;
            top: 15px;
            border 2px solid rgba(white, 0)
            border-top 2px solid #0038a7
            border-radius 50%
            transform translate(0, 0) rotate(16deg)
            +do(1280) {
               display none
            }
         }
      }
      &_2 {
         top 355px
         &:before {
            content ''
            position absolute
            height 200px
            display block
            width: 425px;
            left: 135px;
            top: 20px;
            border 2px solid rgba(white, 0)
            border-top 2px solid #0038a7
            border-radius 50%
            transform translate(0, 0) rotate(16deg)
            +do(1280) {
               display none
            }
         }
      }
      &_3 {
         right 31px
         top 205px
         &:before {
            content ''
            position absolute
            height 200px
            display block
            width 230px
            right 205px
            top -185px
            border 2px solid rgba(white, 0)
            border-top 2px solid #0038a7
            border-radius 50%
            transform translate(0, 0) rotate(-162deg)
            +do(1280) {
               display none
            }
         }
      }
      &_4 {
         right 30px
         top 349px
         &:before {
            content ''
            position absolute
            height 200px
            display block
            width 380px
            right 150px
            top 60px
            border 2px solid rgba(white, 0)
            border-top 2px solid #0038a7
            border-radius 50%
            transform translate(0, 0) rotate(-42deg)
            +do(1280) {
               display none
            }
         }
      }
   }
   &__action {
      position absolute
      bottom 55px
      +do(1000) {
         padding-top 30px
         box-sizing border-box
         position static
         display flex
         justify-content center
      }
   }
   img {
      display block
   }
}