.showcase {
   padding-bottom 96px
   border-bottom 2px solid #eaeaea
   +do(750) {
      padding-bottom 0
      border-bottom none
   }
   &:before {
      content ''
   }
   &__img {
      position absolute
   }
   &__list {
      display flex
      flex-wrap wrap
      margin-right -5px
      margin-left -5px
      justify-content space-between
      +do(750) {
         display block
      }
      &-item {
         flex 0 0 auto
         margin-right 5px
         margin-left 5px
         display flex
         flex-direction column
         +do(750) {
            margin-bottom 30px
            &:last-child {
               margin-bottom 0
            }
         }
      }
   }
   &__header {
      margin-bottom 74px
      +do(750) {
         margin-bottom 50px
      }
   }
   &__body {
      margin-bottom 95px
      +do(1000) {
         margin-bottom 45px
      }
   }
   &__item {
      &-side {
         margin-bottom 32px
         margin-top auto
         +do(1200) {
            max-width 250px
         }
         +do(750) {
            max-width none
            display flex
            justify-content center
         }
      }
      &-main {
         margin-top auto
      }
      &-caption {
         text-align center
         font-size 24px
         line-height 1
         font-weight 500
      }
   }
}

.showcase-calc {
   background-image: linear-gradient(to top, #0038a7, #336fe6);
   min-height 192px
   padding 10px
   display flex
   align-items center
   padding-left 185px
   padding-right 185px
   box-sizing border-box
   font-size 32px
   line-height (36 / 32)
   color white
   position relative
   border-radius 3px
   overflow hidden
   box-shadow: 0 8px 21px 0 rgba(0, 56, 167, 0.3);
   +do(1200) {
      padding-right 20px
      padding-left 20px
      margin-right -20px
      margin-left -20px
      min-height 150px
      padding-bottom 120px
      padding-top 40px
      justify-content center
   }
   &__img {
      adaptive-bg('../images/window.png')
      position absolute
      right 120px
      bottom 0
      z-index 1
      width 375px
      +do(1200) {
         right 0
         width 150px
      }
   }
   &__link {
      z-index 99
      display inline
      color currentColor
      border-bottom 1px solid rgba(white, 0.5)
      &:hover {
         border-bottom 1px solid rgba(white, 0)
      }
      &:before {
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
      }
   }
}