.social {
   font-size 12px
   font-weight 500
   letter-spacing 0.06em
   line-height (18 / 12)
   color $color-bluey-grey
   &__title {
   }
   &__wrapper {
      display flex
      align-items center
      flex-wrap nowrap
      margin-right -3px
      margin-left -3px
   }
   &__main {
      flex 0 0 auto
      margin-right 3px
      margin-left 3px
   }
   &__side {
      flex 0 0 auto
      margin-right 3px
      margin-left 3px
   }
   &__list {
      display flex
      flex-wrap nowrap
      margin-right -3px
      margin-left -3px
      align-items center
      &-item {
         margin-right 3px
         margin-left 3px
         flex 0 0 auto
      }
   }
}

.social_large {
   color white
   line-height 1.2
   font-size 15px
   letter-spacing 0.03em
   .social {
      &__wrapper {
         margin-right -8px
         margin-left -8px
      }
      &__side {
         margin-right 8px
         margin-left 8px
      }
      &__main {
         margin-right 8px
         margin-left 8px
      }
      &__list {
         margin-right -5px
         margin-left -5px
         &-item {
            margin-right 5px
            margin-left 5px
         }
      }
   }
   .social-badge {
      &_vk {
         &:before {
            content ''
            position relative
            display block
            svg('vk', 36px, #fcfdfd)
         }
      }
      &_instagram {
         &:before {
            content ''
            position relative
            display block
            svg('instagram', 36px, #fcfdfd)
         }
      }
   }
}

.social-badge {
   transition .3s ease
   display block
   border-bottom none
   text-decoration none
   &_vk {
      &:before {
         content ''
         position relative
         display block
         svg('vk', 24px, #5E607F)
      }
   }
   &_instagram {
      &:before {
         content ''
         position relative
         display block
         svg('instagram', 24px, #5E607F)
      }
   }
   &:hover {
      opacity 0.5
      transform translateY(-5px)
   }
}
