.steps {
   padding-top 76px
   padding-bottom 76px
   +do(1200) {
      padding-top 40px
      padding-bottom 40px
   }
   &__title {
      font-size 48px
      font-weight 700
      margin-bottom 18px
      max-width 500px
      +do(1200) {
         font-size 36px
         line-height 1
      }
   }
   &__desc {
      max-width 580px
      line-height 1.5
      margin-bottom 65px
      +do(750) {
         margin-bottom 40px
      }
   }
   &__list {
      display flex
      flex-wrap nowrap
      overflow-x auto
      margin-right -12px
      margin-left -12px
      margin-bottom -24px
      +do(1300) {
         margin-right -30px
         &:after {
            content ''
            flex 0 0 auto
            width 20px
            flex-basis 20px
         }
      }
      &-item {
         flex 1
         margin-right 12px
         margin-left 12px
         margin-bottom 22px
         display flex
         flex-wrap wrap
         +do(1300) {
            flex 0 0 auto
            width 185px
            max-width none
            flex-basis auto
         }
      }
   }
}

.steps-item {
   background-image linear-gradient(to top, #0038a7, #336fe6)
   min-height 170px
   flex 1
   box-sizing border-box
   padding 24px 14px 24px 24px
   color white
   border-radius 6px
   overflow hidden
   &__title {
      font-size 48px
      font-weight 700
      line-height 1
   }
   &__desc {
      font-size 24px
      font-weight 700
      line-height 1.2
      &-caption {
         display inline
         border-bottom 1px solid rgba(white, 0.5)
      }
   }
   &:hover {
      color white
      & ^[0]__desc-caption {
         border-bottom 1px solid rgba(white, 0)
      }
   }
}