.still {
   &__title {
      margin-bottom 27px
      font-size 73px
      font-weight 700
      max-width 615px
      +do(1000) {
         font-size 65px
      }
      +do(750) {
         font-size 24px
      }
   }
   &__desc {
      font-size 24px
      line-height (36 / 24)
      margin-bottom 110px
      +do(1000) {
         font-size 20px
         line-height 1.2
      }
      +do(750) {
         font-size 18px
         line-height 1.2
         margin-bottom 40px
      }
      &-wrapper {
         display flex
         flex-wrap wrap
         margin-right -32px
         margin-left -32px
         +do(1000) {
            display block
         }
      }
      &-main {
         flex 1
         margin-right 32px
         margin-left 32px
         max-width 705px
         +do(1000) {
            max-width none
            margin-bottom 40px
         }
      }
      &-side {
         flex 0 0 auto
         margin-right 32px
         margin-left 32px
      }
   }
   &__advantages {
      margin-bottom 153px
      +do(1000) {
         margin-bottom 80px
      }
      +do(750) {
         margin-bottom 30px
      }
      &-list {
         display flex
         flex-wrap wrap
         margin-right -10px
         margin-left -10px
         margin-bottom -80px
         +do(750) {
            margin-bottom -30px
         }
      }
      &-item {
         flex 1
         max-width calc(33.33% - 20px)
         flex-basis calc(33.33% - 20px)
         margin-right 10px
         margin-left 10px
         margin-bottom 80px
         +do(1000) {
            max-width calc(50% - 20px)
            flex-basis calc(50% - 20px)
         }
         +do(750) {
            margin-bottom 30px
            max-width calc(100% - 20px)
            flex-basis calc(100% - 20px)
         }
      }
   }
   &__advantage {
      display flex
      align-items center
      &-icon {
         flex 0 0 auto
         margin-right 20px
      }
      &-desc {
         font-size 18px
         line-height 1.3
         max-width 165px
      }
   }
   &__cols {
      margin-bottom 60px
      display flex
      +do(1000) {
         display block
      }
      &-item {
         flex 1
         +do(1000) {
            margin-bottom 30px
            &:last-child {
               margin-bottom 0
            }
         }
      }
      img {
         display block
      }
   }
   &__col {
      &-side {
         position relative
         min-height 336px
         margin-bottom 48px
         +do(750) {
            min-height 200px
         }
      }
      &-main {
         max-width 495px
         &_mr_auto {
            margin-right auto
            +do(1000) {
               margin-right 0
            }
         }
         &_ml_auto {
            margin-left auto
            +do(1000) {
               margin-left 0
            }
         }
      }
      &-desc {
         font-size 24px
         line-height 1.5
         +do(1000) {
            font-size 22px
            line-height 1.2
         }
      }
      &-img {
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background-position center
         background-repeat no-repeat
         background-size cover
         &_left {
            //left -20vw
            +do(1000) {
               left 0
            }
         }
         &_right {
            //right -20vw
            +do(1000) {
               right 0
            }
         }
      }
   }
   &__videos {
      position relative
      padding-top 56px
      padding-bottom: 69px;
      margin-bottom: 123px;
      +do(1000) {
         padding-top 36px
         padding-bottom 49px
         margin-bottom 60px
      }
      +do(750) {
         padding-top 30px
         padding-bottom 40px
         margin-bottom 40px
      }
      &:before {
         border-top 1px solid rgba(0, 70, 96, 0.1)
         border-bottom 1px solid rgba(0, 70, 96, 0.1)
         content ''
         background-image: linear-gradient(to top, #eeeff2, #ffffff)
         position absolute
         top 0
         bottom 0
         left -100vw
         right -100vw
         z-index -1
      }
      &-title {
         text-align center
         font-size 48px
         font-weight 700
         max-width: 730px
         margin: 0 auto
         +do(1000) {
            font-size 36px
            line-height 1.2
         }
         +do(750) {
            font-size 24px
            line-height 1.2
         }
      }
      &-side {
         margin-bottom 30px
      }
   }
   &__table {
      margin-bottom 152px
      +do(1000) {
         margin-bottom 80px
      }
      +do(750) {
         margin-bottom 50px
      }
      &-main {
         overflow auto
      }
      &-title {
         text-align center
         font-size 48px
         font-weight 700
         max-width 730px
         margin: 0 auto
         margin-bottom 34px
         +do(1000) {
            font-size 36px
            line-height 1.2
         }
         +do(750) {
            font-size 24px
            line-height 1.2
         }
      }
      table {
         width 100%
         font-size 25px !important
         +do(1000) {
            font-size 18px !important
         }
         +do(750) {
            font-size 14px !important
         }
         td.title {
            font-size 16px !important
            +do(750) {
               font-size 14px !important
            }
         }
         td {
            +do(1000) {
               font-size 18px !important
            }
            +do(750) {
               padding 0 10px 0 !important
               font-size 14px !important
            }
         }
      }
   }
   &__slider {
      margin-bottom 116px
      +do(1200) {
         margin-bottom 90px
      }
      +do(1000) {
         margin-bottom 80px
      }
      +do(750) {
         margin-bottom 25px
      }
      &-title {
         text-align center
         font-size 48px
         font-weight 700
         max-width 730px
         margin: 0 auto
         margin-bottom 34px
         +do(1000) {
            font-size 36px
            line-height 1.2
         }
         +do(750) {
            font-size 24px
            line-height 1.2
         }
      }
   }
   &__gallery {
      margin-bottom 125px
      +do(750) {
         margin-bottom 60px
      }
      &-title {
         text-align center
         font-size 48px
         font-weight 700
         max-width 730px
         margin: 0 auto
         margin-bottom 60px
         +do(1000) {
            font-size 36px
            line-height 1.2
         }
         +do(750) {
            font-size 24px
            line-height 1.2
            margin-bottom 30px
         }
      }
      &-list {
         display flex
         flex-wrap wrap
         margin-right -12px
         margin-left -12px
         margin-bottom -24px
      }
      &-item {
         display block
         margin-right 12px
         margin-left 12px
         margin-bottom 24px
         overflow hidden
         border-radius 6px
         max-width calc(33.33% - 24px)
         flex-basis calc(33.33% - 24px)
         transition .3s ease
         +do(1000) {
            max-width calc(50% - 24px)
            flex-basis calc(50% - 24px)
         }
         +do(750) {
            max-width calc(100% - 24px)
            flex-basis calc(100% - 24px)
         }
         &:hover {
            opacity 0.5
         }
      }
      img {
         max-width 100%
         display block
      }
   }
}

.still-slider {
   &__item {
      &-img {
         size 128px
         border-radius 50%
         background-size contain
         background-repeat no-repeat
         background-position center
         margin 0 auto
      }
      &-side {
         margin-bottom 28px
      }
      &-title {
         text-align center
      }
   }
   &__wrapper {
      position relative
      max-width 1100px
      margin 0 auto
   }
   &__nav {
      margin-top -20px
      position absolute
      top 50%
      transform translateY(-50%)
      left -70px
      display flex
      justify-content space-between
      z-index 99
      right -70px
      pointer-events none
      +do(1300) {
         left -40px
         right -40px
      }
      +do(1200) {
         left 0
         right 0
      }
      +do(1000) {
         left -20px
         right -20px
      }
   }
   .owl-dot {
      padding 0
      size 18px
      border-radius 50%
      outline none
      background-color rgba(white, 0)
      border 3px solid white
      margin-right 6px
      margin-left 6px
      flex 0 0 auto
      display block
      box-sizing border-box
      transition .3s ease background-color
      pointer-events auto
      &.active {
         background-color rgba(white, 1)
      }
      &:hover {
         background-color rgba(white, 0.8)
      }
   }
   .owl-prev,
   .owl-next {
      size 80px
      display block
      border-radius 50%
      outline none
      border none
      cursor pointer
      pointer-events auto
      background-color rgba(254, 254, 254, 0)
      position relative
      transition .3s ease opacity
      &:before {
         content ''
         position absolute
         display block
         left 50%
         top 50%
         transform translate(-50%, -50%)
      }
      &:hover {
         opacity 0.8
      }
      &:active {
         opacity 0.5
      }
   }
   .owl-prev {
      &:before {
         svg('left-arrow', 70px, #3f405b)
         +do(750) {
            svg-size('left-arrow', 40px)
         }
      }
   }
   .owl-next {
      &:before {
         svg('right-arrow', 70px, #3f405b)
         +do(750) {
            svg-size('right-arrow', 40px)
         }
      }
   }
   .owl-carousel .owl-item img {
      width auto
      display block
      margin 0 auto
   }
}