.tabs {
   &__side {
      position relative
      margin-bottom 48px
      +do(1000) {
         margin-bottom 30px
         &:before {
            content ''
            position absolute
            top 0
            bottom 0
            left 0
            right -20px
            pointer-events none
            z-index 1
            background-image linear-gradient(to right, rgba(white, 0) 95%, rgba(white, 1) 100%);
         }
      }
   }
   &__pages {
      &-item {
         display none
         &.is-active {
            display block
         }
      }
   }
   &__actions {
      display flex
      +do(1000) {
         overflow-x scroll
         margin-right -20px
         margin-left -20px
         padding-left 20px
         -webkit-overflow-scrolling touch
         &:after {
            content ''
            display block
            flex 0 0 auto
            width 20px
         }
      }
      &-item {
         flex 1 0 auto
         & + & {
            margin-left -2px
         }
      }
   }
   &__action {
      background-image: linear-gradient(to top, #eeeff2, #ffffff);
      display flex
      justify-content center
      align-items center
      font-size 24px
      line-height (36 / 24)
      box-sizing border-box
      padding 10px 15px
      min-height 72px
      cursor pointer
      border 1px solid #dfe0e2
      min-width 190px
      +do(1000) {
         margin-right 15px
      }
      &-wrapper {
         display flex
         justify-content center
         align-items center
      }
      &-icon {
         flex 0 0 auto
         margin-right 8px
      }
      &.is-active {
         font-weight 700
         background-image: linear-gradient(to top, #eeeff2, #e3e4e7);
      }
      &:hover {
         opacity 0.8
      }
      img {
         display block
      }
   }
}