.video-item {
   display block
   background-position center
   background-repeat no-repeat
   background-size cover
   position relative
   box-shadow 0 10px 25px rgba(0, 56, 167, 0.3)
   transition .3s ease
   &:before {
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      content ''
      background-color: rgba(0, 56, 167, 0.3)
   }
   &:after {
      content ''
      svg('play', 72px, white)
      position absolute
      z-index 99
      top 50%
      left 50%
      transform translate(-50%, -50%)
   }
   img {
      opacity 0
   }
   &:hover {
      opacity 0.8
      box-shadow 0 10px 25px rgba(0, 56, 167, 0)
   }
}

.video-list {
   &__list {
      display flex
      flex-wrap wrap
      margin-right -12px
      margin-left -12px
      margin-bottom -24px
      &-item {
         max-width calc(33.33% - 24px)
         flex-basis calc(33.33% - 24px)
         margin-bottom 24px
         margin-right 12px
         margin-left 12px
         +do(1000) {
            max-width calc(50% - 24px)
            flex-basis calc(50% - 24px)
         }
         +do(750) {
            max-width calc(100% - 24px)
            flex-basis calc(100% - 24px)
         }
      }
   }
}