.windows {
   &__list {
      display flex
      margin-right -10px
      margin-left -10px
      margin-bottom -20px
      flex-wrap wrap
      +do(1050) {
         margin-right -5px
         margin-left -5px
         margin-bottom -10px
      }
      +do(750) {
         margin-right -10px
         margin-left -10px
         margin-bottom -20px
      }
      &-item {
         margin-right 10px
         margin-left 10px
         margin-bottom 20px
         +do(1050) {
            margin-right 5px
            margin-left 5px
            margin-bottom 10px
         }
         +do(750) {
            margin-right 10px
            margin-left 10px
            margin-bottom 20px
            flex 1
            max-width calc(50% - 20px)
            flex-basis calc(50% - 20px)
         }
      }
   }
}

.windows-item {
   position relative
   transition .3s ease
   &__side {
      border 1px solid #eeeff2
      border-radius: 3px 3px 0 0
      background-color white
      padding 6px
      position relative
      cursor pointer
      .windows-item__img {
         & > div {
            min-height 145px
            display flex
            justify-content center
            align-items center
         }
         +do(750) {
            & > div {
               min-height 75px
            }

         }
         img {
            max-height 145px
            +do(750) {
               max-height 75px
            }
         }
      }
   }
   &__link {
      position relative
      min-height 48px
      justify-content center
      align-items center
      display flex
      &:before {
         content ''
         display block
         svg('down-arrow', 20px, $color-violet)
      }
   }
   &__img {
      padding 3px
      border-radius 3px
      border 3px solid rgba(white, 0)
      &:hover {
         opacity 0.8
      }
      &.is-active {
         border-color #0038a7
      }
      +do(750) {
         display block
         margin-right auto
         margin-left auto
      }
   }
   &__main {
      position: absolute;
      left: 0;
      right: 0;
      background-color white
      z-index 30
      border-radius: 0 3px 3px 3px
      padding 10px
      width 220px
      opacity 0
      pointer-events none
      box-sizing border-box
      transition .3s ease
      box-shadow: 0 8px 21px 0 rgba(0, 56, 167, 0.3)
      transform translateY(-15px)
      +do(1000) {
         left 50%
         margin-top 20px
      }
      &:before {
         content ''
         position absolute
         top -10px
         left -10px
         right -10px
         bottom -10px
         z-index -1
      }
      +do(1000) {
         width 102px
      }
      &_2 {
         width 340px
         +do(1000) {
            width 168px
         }
         +do(500) {
            width 130px
         }
      }
      &_3 {
         width 472px
         +do(1000) {
            width 180px
         }
         +do(500) {
            width 145px
         }
      }
      &_4 {
         width 472px
      }
      +do(1000) {
         transform none !important
         left 0 !important
         right 0 !important
         width auto !important
      }
   }
   &__list {
      display flex
      flex-wrap wrap
      margin-right -4px
      margin-left -4px
      margin-bottom -8px
      +do(750) {
         display block
      }
      &-item {
         cursor pointer
         margin-right 4px
         margin-left 4px
         margin-bottom 8px
         transition .3s ease
         +do(750) {
            display flex
            justify-content center
         }
         &:hover {
            opacity 0.8
         }
      }
   }
   img {
      display block
      max-width 100%
   }
   &_single {
      &:hover {
         & ^[0]__side {
            &:before {
               content ''
               display none
            }
         }
      }
   }
   &.is-open {
      & ^[0]__side {
         border-bottom 1px solid white
         box-shadow: 0 8px 21px 0 rgba(0, 56, 167, 0.3)
         &:before {
            content: ''
            position absolute
            left -1px
            right 0
            height 21px
            background #fff
            z-index 60
            bottom -10px
            transition none
            border-radius: 3px 0 0 0
         }
      }
      & ^[0]__main {
         opacity 1
         transform translateY(0)
         pointer-events auto
      }
      & ^[0]__link {
         &:before {
            content ''
            display block
            svg-color('down-arrow', $color-violet)
            transform rotate(180deg)
         }
      }
   }
}